<div class="dialog-inner">
    <div class="title">The track was successfully uploaded</div>
    <div class="dialog-body">
        <div class="content-icon">
            <div class="icon">
                <img src="../../images/uploaded-success-icon.svg" alt="...">
            </div>
            <span class="message">Would you like to place it in our filing cabinet?</span>
        </div>

        <a href="#" class="ic-btn ic-btn-blue">Save & post</a>
        <a href="#" class="ic-btn ic-btn-white">Only save</a>
    </div>
</div>