<div class="dialog-inner">
    <div class="title">Are you sure want to delete?</div>
    <div class="dialog-body">
        <div class="content-icon">
            <div class="icon">
                <img src="../../images/delete-confirm-icon.png" alt="...">
            </div>
            <span class="message">You can not undo or roll back this action, the event or page will be completely deleted.</span>
        </div>

        <a href="#" class="ic-btn ic-btn-blue">Save & post</a>
    </div>
</div>