<div class="dialog-inner">
    <div class="title">Embed media code</div>
    <div class="dialog-body">
        <form name="video">
            <div class="form-group">
                <label for="video-url">Url</label>
                <input type="text" class="form-control" id="video-url">
                <p class="helper">Error 123: lorem ipsum sit dolot amet</p>
            </div>
            <div class="form-group">
                <label for="video-url-1">Url 1</label>
                <textarea class="form-control" id="video-url-1"></textarea>
                <p class="helper">Error 123: lorem ipsum sit dolot amet</p>
            </div>

            <a href="#" class="ic-btn ic-btn-blue">Add video</a>
        </form>
    </div>
</div>