<div class="dialog-inner">
    <div class="title">Share link in social network</div>
    <div class="dialog-body">
        <div class="content">
            <div class="hero-desc-social">
                <ul class="social-icons list-unstyled">
                    <li class="social-icons__item">
                        <a href="#">
                            <img class="img-circle img-responsive" src="../../images/soundcloud@2x.png" alt="soundCloud">
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="">
                            <img class="img-circle img-responsive" src="../../images/insta@2x.png" alt="instagram">
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#">
                            <img class="img-circle img-responsive" src="../../images/vimeo.png" alt="vimeo">
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#">
                            <img class="img-circle img-responsive" src="../../images/youtube.png" alt="youtube">
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#">
                            <img class="img-circle img-responsive" src="../../images/twitter@2x.png" alt="twitter">
                        </a>
                    </li>
                    <li class="social-icons__item">
                        <a href="#">
                            <img class="img-circle img-responsive" src="../../images/facebook@2x.png" alt="facebook">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="ic-btn ic-btn-white">Close</a>
    </div>
</div>