<div class="event-card {{$ctrl.data.isDraft ? 'draft' : ''}}">
    <div class="container-fluid">
        <div class="row card-header">

            <div class="col-xs-12 event-avatar" ng-if="$ctrl.data.imgUrl">
                <img ng-src="{{ $ctrl.data.imgUrl }}" class="img-responsive" alt="avatar">
            </div>

            <div class="col-xs-12 event-avatar empty" ng-if="!$ctrl.data.imgUrl">
                <span class="draft-label" ng-if="$ctrl.data.isDraft">Draft Event</span>
            </div>

            <div class="col-xs-12 event-info">
                <h4 class="name">{{ $ctrl.data.title }}</h4>
                <div class="subtext">{{ $ctrl.data.eventDate }}</div>
                <div class="description">
                    {{$ctrl.data.eventText}}
                </div>
            </div>
        </div>
        <div class="people">
            <a href="#" class="people-link circle" ng-repeat="man in $ctrl.data.eventArtist.slice(0,9)">
                <img ng-src="{{ man.artistImg }}" alt="avatar">

                <a href="#" class="people-link-add" ng-if="$ctrl.data.eventArtist.length < 10" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9].slice(0,9-$ctrl.data.eventArtist.length)">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </a>
            <a href="#" class="people-link-add total">
                <span>+{{ $ctrl.data.participantsNum - 9 }}</span>
            </a>
        </div>
        <div class="row card-footer">
            <div class="col-xs-6 left-part">
                <i class="fa fa-map-marker map-marker" aria-hidden="true"></i>
                <p>{{$ctrl.data.eventLocation}}</p>
            </div>
            <div class="col-xs-6 right-part">
                <p>{{$ctrl.data.eventType}}</p>
            </div>
        </div>
    </div>
</div><!--.event-card-->