<div class="history-event-card">
    <h4 class="card-title">Romantic Ballads</h4>
    <div class="date-block">12 Nov 2016, 22:00 - 05:00</div>
    <div class="content">
        I hate peeping Toms. For one thing they usually step all over the hedges and plants on the side of someone’s
        house killing them and setting back the vegetation’s gardener countless time and effort.
    </div>


    <div class="info-block">
        <div class="row">
            <div class="col-md-6">
                <mini-profile-preview
                        data="{
                                id: '0',
                                photo: '../../images/placeholder.svg',
                                title: 'Walter Gonzales',
                                country: 'Corporate events, Night Clubs',
                                showLink: false,
                                imgClass: 'square'
                            }"
                        show-index="0"
                ></mini-profile-preview>
            </div>
            <div class="col-md-6">
                <div class="rating-block">
                    <ul class="list-unstyled">
                        <li><span class="star active">&nbsp;</span></li>
                        <li><span class="star active">&nbsp;</span></li>
                        <li><span class="star active">&nbsp;</span></li>
                        <li><span class="star active">&nbsp;</span></li>
                        <li><span class="star active">&nbsp;</span></li>
                        <li><span class="star">&nbsp;</span></li>
                        <li><span class="star">&nbsp;</span></li>
                    </ul>
                    <span class="rating-value">Rating 5.35</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 left-part">
                    <p>London, UK</p>
                </div>
                <div class="col-xs-6 right-part">
                    <p>Concert</p>
                </div>
            </div>
        </div>
    </div>

</div>