<script>
    $(document).ready(function () {
        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');

        $.each($('[name="event-proposal"]'), function (i, input) {
            new AutoNumeric(input, AutoNumeric.getPredefinedOptions().dollar);
        });

        $.each($('[name="prepayment"]'), function (i, input) {
            new AutoNumeric(input, AutoNumeric.getPredefinedOptions().dollar);
        });

        $('input').on('keydown', function(e) {
            $.each($('input'), function (i, element) {
                if ($(element).val()) {
                    $(element).parents('.form-group').addClass('focused');
                } else {
                    $(element).parents('.form-group').removeClass('focused');
                }
            });
        });
    });
</script>


<div class="add-role-dropdown request-popup">
    <div class="header">
        <span class="title">Artist proposal</span>
    </div>
    <div class="content">
        <div class="proposal-block">
            <span class="label">Set a proposal</span>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group styled-placeholder">
                        <label class="control-label">Your proposal</label>
                        <input class="form-control" autocomplete="off" type="text" name="event-proposal" ng-model="event.proposal" ng-required="true">
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group styled-placeholder">
                        <label class="control-label">Prepayment</label>
                        <input class="form-control" autocomplete="off" value="100" name="prepayment" readonly>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group styled-placeholder">
                        <label class="control-label">Date of proposal</label>
                        <input class="form-control" autocomplete="off" value="17 Sep 2017, 2:22 am" readonly>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-block">
            <div class="label">Message</div>
            <textarea class="text-container">This article covers the basics of Astrology and how they are inter-related. Astrology is defined as ‘the art or practice of determining the supposed influences of the planets and their motions on human affairs and human disposition’.</textarea>
        </div>

        <div class="dialog-btns-block">
            <a href="#" class="ic-btn ic-btn-white">Counter offer</a>
            <a href="#" class="ic-btn ic-btn-white">Cancel</a>
            <a href="#" class="ic-btn ic-btn-blue">Accept</a>
        </div>
    </div>
</div>