<div class="input-ddown-block">
    <div class="form-group">
        <label class="control-label">Label</label>
        <input class="form-control input-field" ng-model="$ctrl.ddownValue">
        <span class="bar"></span>
        <div class="ddown-entity">
            <ul>
                <li>1 1121121221</li>
                <li>2 1121121221</li>
                <li>3 1121121221</li>
                <li>4 1121121221</li>
                <li>5 1121121221</li>
            </ul>
        </div>
        <span class="caret"></span>
    </div>
</div>