<div class="card-small" ng-class="$ctrl.data.cssClass">
    <div ng-show="$ctrl.showIndex" class="counter-place">{{ $ctrl.data.id + 1 }}</div>

    <div class="avatar" ng-class="$ctrl.data.imgClass ? $ctrl.data.imgClass : 'avatar-circle'" ng-if="$ctrl.data.photo">
        <div class="image">
            <img ng-src="{{ $ctrl.data.photo }}" alt="...">
        </div>
    </div>

    <div class="avatar" ng-if="!$ctrl.data.photo">
        <div class="empty-placeholder">&nbsp;</div>
    </div>

    <div class="name">
        <a href="#">{{ $ctrl.data.firstName ? $ctrl.data.firstName : $ctrl.data.title }} {{ $ctrl.data.lastName ? $ctrl.data.lastName : '' }}</a>
        <div class="info">{{ $ctrl.data.country }}{{ $ctrl.data.style ? " | " + $ctrl.data.style : '' }}</div>
    </div>
    <div ng-show="$ctrl.data.showLink" class="next-link">
        <a href="#" class="lnk {{$ctrl.data.addedIconClass}}" style="color: {{ $ctrl.data.iconColor ? $ctrl.data.iconColor : '#333' }}">
            <i class="{{ $ctrl.data.icon ? $ctrl.data.icon : 'fa fa-angle-right' }}" aria-hidden="true"></i>
        </a>
    </div>
</div>