<div class="col-xs-12">
    <div class="media-content box-content">
        <div class="mc-title">
            <span>Music</span>
            <div class="actions-block">
                <a href="#" class="edit-block" ng-click="actionEditMusic($event)">Edit</a>
                <a href="#" class="close-block" ng-click="showMedia('allMedia', $event)">Close</a>
            </div>
        </div>

        <div class="grid-player">
            <div class="grid-item" ng-repeat="i in [1, 2, 3, 4, 5, 6]">
                <div class="ic-embed-audio-track">
                    <div class="fill"></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/6638985&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
                    <a href="#" ng-show="isEditMusic" class="edit-track">Delete this embed</a>
                </div>
            </div>
        </div>
    </div>
</div>