<div class="notification-card">

    <div class="header">
        <div class="label">{{$ctrl.data.isNew ? 'New' : ''}}</div>
        <div class="label-date">26 Dec 2017</div>
    </div>

    <div class="notification-inner">
        <div class="notification-top-block">
            <div class="person-block">
                <div class="avatar circle">
                    <img src="../images/placeholder.svg" alt="...">
                </div>
                <div class="name">Emily Shelton</div>
            </div>
            <div class="person-devider">
                <!--<i class="fa fa-chevron-right"></i>-->
                <img src="../../images/notification-arrow.svg" alt="...">
            </div>
            <div class="person-block">
                <div class="avatar circle">
                    <img src="../images/placeholder.svg" alt="...">
                </div>
                <div class="name">Emily Shelton</div>
            </div>
        </div>
        <div class="notification-footer">

            <div class="btns-block" ng-if="$ctrl.data.btns">
                <a href="#" class="ic-btn ic-btn-green">Accept request</a>
                <a href="#" class="ic-btn ic-btn-red">Cancel</a>
            </div>

            <div class="hands-block" ng-if="$ctrl.data.hands">
                <a href="#" class="hand success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                <!--<a href="#" class="hand fail"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></i></a>-->
            </div>

            <div class="rating-block" ng-if="$ctrl.data.rating">
                <ul class="list-unstyled">
                    <li><span class="star active">&nbsp;</span></li>
                    <li><span class="star active">&nbsp;</span></li>
                    <li><span class="star active">&nbsp;</span></li>
                    <li><span class="star active">&nbsp;</span></li>
                    <li><span class="star active">&nbsp;</span></li>
                    <li><span class="star">&nbsp;</span></li>
                    <li><span class="star">&nbsp;</span></li>
                </ul>
            </div>


            <div class="notification">
                To approve your application to participate in the event «TRANSNATION»
            </div>
        </div>
    </div>
</div>