<script>
    jQuery(document).ready(function ($) {
       $('.delete-image')
           .on('mouseenter', function (e) {
                $(this).parent().find('.fade-layer').show();
            })
           .on('mouseleave', function (e) {
               $(this).parent().find('.fade-layer').hide();
           })
       ;
    });
</script>

<div class="col-xs-12">
    <div class="media-content box-content">
        <div class="mc-title">
            <span>Photo</span>
            <a href="#" ng-click="showMedia('allMedia', $event)">Close</a>
        </div>

        <div class="grid">
            <div class="grid-item" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15]" ng-click="showPhoto($event)">
                <div class="h-aspect-ratio"> <!-- max-width: 100% -->
                    <div class="aspect-ratio-fill" style="padding-bottom: 120%;"></div> <!-- 300 / 250 * 100% -->
                    <div class="image">
                        <img src="../../images/Avatar_BG_Copy.png" width="250" height="300" alt="..."> <!-- max-width: 100% -->
                    </div>
                    <div class="fade-layer"></div>
                    <a class="delete-image" title="Delete"><img src="../../images/trash-icon.svg" alt="..."></a>
                </div>
            </div>
        </div>
    </div>
</div>