<script>
    jQuery(document).ready(function ($) {
       $('.delete-image')
           .on('mouseenter', function (e) {
                $(this).parent().find('.fade-layer').show();
            })
           .on('mouseleave', function (e) {
               $(this).parent().find('.fade-layer').hide();
           })
       ;

        var $container = $('.grid');

        $container.imagesLoaded(function(){
            $container.masonry({
                itemSelector: '.grid-item',
                gutter: 5
            });
        });

        // FOR Appending photoes
        // $newElems = $('<div class="grid-item"><img src="../../images/Asmundur_at_his_Craft_in_Iceland_at_Sunset.jpg" alt=""></div>');
        //$container.masonry( 'appended', $newElems, true );


    });
</script>


<div class="col-xs-12">
    <div class="media-content box-content">
        <div class="mc-title">
            <span>Photo</span>
            <a href="#" ng-click="showMedia('allMedia', $event)">Close</a>
        </div>

        <div class="grid transitions-enabled infinite-scroll clearfix">
            <div class="grid-sizer"></div>
            <div class="grid-item" ng-repeat="image in galleryImages" ng-click="showPhoto($event, image.id)">
                <img src="{{ image.src }}" alt="">
                <div class="fade-layer"></div>
                <a class="delete-image" title="Delete"><img src="../../images/trash-icon.svg" alt="..."></a>
            </div>
        </div>


    </div>
</div>