<div class="col-xs-12">
    <div class="media-content box-content">
        <h3 class="box-content__title">
            <a class="link" ng-click="showMedia('allMedia')">Close</a>
            Photo
        </h3>
        
        <div class="photo-gallery">
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/350x450" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/250x100" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/300x300" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/370x520" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/350x450" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/250x100" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/300x300" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/370x520" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/350x450" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/250x100" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/300x300" alt="">
            </div>
            <div class="photo-gallery__item">
                <img src="http://via.placeholder.com/370x520" alt="">
            </div>
        </div>
    </div>
</div>