<div class="time-picker">
    <div class="content">
        <div class="title">Set a {{headerTitle}}</div>
        <div class="row">
            <div class="col-xs-3 header" ng-click="test()">Hour</div>
            <div class="col-xs-3 header">Minute</div>
            <div class="col-xs-6 header">Type</div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <select class="choice hours">
                    <option value="" selected disabled>Select...</option>
                    <option ng-if="tp.type === 'am'" value="{{h}}" ng-repeat="h in [0,1,2,3,4,5,6,7,8,9,10,11,12]">{{h}}</option>
                    <option ng-if="tp.type === 'pm'" value="{{h}}" ng-repeat="h in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">{{h}}</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="choice minutes">
                    <option value="" selected disabled>Select...</option>
                    <option value="{{m}}" ng-repeat="m in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]">{{m}}</option>
                </select>
            </div>
            <div class="col-xs-6">
                <div class="btn-group choice type" data-toggle="buttons">
                    <label class="btn active">
                        <input type="radio" name="options" id="option1" value="am" ng-model="tp.type" checked> AM
                    </label>
                    <label class="btn">
                        <input type="radio" name="options" id="option2" value="pm" ng-model="tp.type" > PM
                    </label>
                </div>

            </div>
        </div>
    </div>
</div><!--.time-picker-->