<div class="col-xs-12">
    <div class="media-content box-content">
        <div class="mc-title">
            <span>Video</span>
            <a href="#" ng-click="showMedia('allMedia', $event)">Close</a>
        </div>

        <div class="grid">
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
            <div class="grid-item">
                <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=corycotton" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
            </div>
        </div>
    </div>
</div>