<section class="top-artists-section-open" ng-controller="OrganizationController">

    <div ng-include="'views/template/filter_section.html'"></div>

    <div class="container">
        <div class="calendar-full-block">

            <div class="row">
                <div class="col-md-12">
                    <div class="actions">
                        <div class="switcher">
                            <a href="#" class="prev"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                            <a href="#" class="next"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <span class="month-name">August 2017</span>
                        </div>
                        <div class="btns">
                            <a href="#" class="show-all active">Show all</a>
                            <a href="#" class="show-my">Only Your</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="events-container">
                <div class="row">
                    <div class="col-md-3" ng-class="($index + 1) % 5 == 0 ? 'clearfix' : ''" ng-repeat="event in eventsArt track by $index">
                        <event-card-events-footer data="event"></event-card-events-footer>

                    </div><!--.col-->
                </div>
            </div>


        </div>
    </div>
</section>