<section class="top-artists-section-open" ng-controller="OrganizationController">

    <div ng-include="'views/template/filter_section.html'"></div>

    <div class="container">
        <div class="calendar-full-block">

            <div class="row">
                <div class="col-md-9">
                    <div class="actions">
                        <div class="switcher">
                            <a href="#" class="prev"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                            <a href="#" class="next"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <span class="month-name">August 2017</span>
                        </div>
                        <div class="btns">
                            <a href="#" class="show-all active">Show all</a>
                            <a href="#" class="show-my">Only Your</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar-title">
                        You have an event on this day
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="headings">
                        <div class="col col1">Mon</div>
                        <div class="col col1">Tue</div>
                        <div class="col col1">Wen</div>
                        <div class="col col1">Thu</div>
                        <div class="col col1">Fri</div>
                        <div class="col col1">Sat</div>
                        <div class="col col1">Sun</div>
                    </div>
                    <div class="month-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col col1 off-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="26">26</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="27">27</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="28">28</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="29">29</div>
                                        <div class="calendar-events" ng-click="showCalendarEvents($event)">
                                            12 events
                                        </div>
                                    </div>
                                </div>
                                <div class="col col1 off-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="30">30</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month weekend" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="31">31</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="1">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="2">2</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="3">3</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="4">4</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="5">5</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month today" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="6">6</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="7">7</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="8">8</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col1 in-month selected" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="9">9</div>
                                        <div class="calendar-events">
                                            12 events
                                        </div>
                                    </div>
                                </div>
                                <div class="col col1 in-month locked" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="10">10</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month locked" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="11">11</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month locked" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="12">12</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="13">13</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="14">14</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="15">15</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="16">16</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month" ng-click="setBusiness($event)">
                                    <div class="cell-container">
                                        <div class="dt" d="17">17</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="18">18</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="19">19</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="20">20</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend">
                                    <div class="cell-container">
                                        <div class="dt" d="21">21</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend">
                                    <div class="cell-container">
                                        <div class="dt" d="22">22</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="23">23</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="24">24</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="25">25</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="26">26</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="27">27</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend">
                                    <div class="cell-container">
                                        <div class="dt" d="28">28</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month weekend">
                                    <div class="cell-container">
                                        <div class="dt" d="29">29</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="30">30</div>
                                    </div>
                                </div>
                                <div class="col col1 in-month">
                                    <div class="cell-container">
                                        <div class="dt" d="31">31</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month">
                                    <div class="cell-container">
                                        <div class="dt" d="1">1</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month">
                                    <div class="cell-container">
                                        <div class="dt" d="2">2</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month">
                                    <div class="cell-container">
                                        <div class="dt" d="3">3</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month weekend">
                                    <div class="cell-container">
                                        <div class="dt" d="4">4</div>
                                    </div>
                                </div>
                                <div class="col col1 off-month weekend">
                                    <div class="cell-container">
                                        <div class="dt" d="5">5</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="calendar-sidebar">
                        <event-card
                                data="{
                                id: 0,
                                title: 'Romantic Ballads',
                                imgUrl: '../../images/placeholder.svg',
                                eventText: '<p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p> <p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p> <p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p>',
                                eventType: 'Concert',
                                eventLocation: 'UK, London',
                                eventDate: '12 nov 2016, 22:00 - 5:00',
                                eventArtist: [
                                    {
                                        id: 1,
                                        artistImg: '../../images/placeholder.svg'
                                    },
                                    {
                                        id: 1,
                                        artistImg: '../../images/placeholder.svg'
                                    },
                                    {
                                        id: 0,
                                        artistImg: '../../images/Add_small@2x.png'
                                    },
                                    {
                                        id: 0,
                                        artistImg: '../../images/Add_small@2x.png'
                                    },
                                    {
                                        id: 0,
                                        artistImg: '../../images/Add_small@2x.png'
                                    }
                                ]

                            }"
                        ></event-card>


                        <div class="sidebar-title">
                            <span>Also this day passes</span>
                            <span><a href="#" ui-sref="app.calendar-for-you-events">12 events</a></span>
                        </div>

                        <event-card
                                data="{
                                id: 0,
                                title: 'Romantic Ballads',
                                imgUrl: '../../images/gallery-2.jpg',
                                eventText: '<p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p> <p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p> <p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p>',
                                eventType: 'Concert',
                                eventLocation: 'UK, London',
                                eventDate: '12 nov 2016, 22:00 - 5:00',
                                eventArtist: [
                                    {
                                        id: 1,
                                        artistImg: '../../images/placeholder.svg'
                                    },
                                    {
                                        id: 1,
                                        artistImg: '../../images/placeholder.svg'
                                    },
                                    {
                                        id: 0,
                                        artistImg: '../../images/Add_small@2x.png'
                                    },
                                    {
                                        id: 0,
                                        artistImg: '../../images/Add_small@2x.png'
                                    },
                                    {
                                        id: 0,
                                        artistImg: '../../images/Add_small@2x.png'
                                    }
                                ]

                            }"
                        ></event-card>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>