.cabinet-section {

  .nav-tabs {
    border-color: @iConnect-lightGrey;
    border-width: 2px;
    margin-bottom: 2rem;

    li {
      a {
        background: transparent;
        border: 0 solid transparent;
        border-bottom-width: 2px;
        font-weight: bold;

        color: inherit;
        font-size: 11px;
        text-transform: uppercase;

        padding: 20px 35px 18px;
      }

      &.active, &.hover {
        a {
          color: @iConnect-orange;
          border: 0 solid @iConnect-orange;
          border-bottom-width: 2px;
        }
      }
    }
  }
  .first-signer{
    width: 19em;
  }
  h2{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  h6{
    margin-top: 0;
      color: @iConnect-grey;
    }
}