html, body {
  font-family: @iConnect-font-regular;
  font-size: @context-pt;
  min-height: 100%;
  height: 100%;
}

.common {
  padding-top: 80px;

  .separate-block {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }
}

.ic-title {
  display: inline-block;
  line-height: 1.5;

  &.title-1 {
    padding: 0 19px;
    font-size: 32 * @rem;
    color: @iConnect-white;
    background-color: @iConnect-black;
    border-radius: 6px;
    font-weight: @fw-bold;
  }

  &.title-2 {
    font-size: 26 * @rem;
    font-weight: @fw-semibold;
  }

  &.title-3 {
    font-size: 16 * @rem;
    font-weight: @fw-semibold;
  }

  &.title-4 {
    font-size: 14 * @rem;
    font-weight: @fw-semibold;
  }
}

.ic-text {
  line-height: 1.5;

  &.text-default {
    font-weight: @fw-regular;
    color: @iConnect-black;
  }
  &.text-grey {
    font-weight: @fw-semibold;
    color: @iConnect-grey;
  }

  &.big {
    font-size: 16 * @rem;
  }
  &.medium {
    font-size: 12 * @rem;
  }
  &.small {
    font-size: 10 * @rem;
  }
}

.ic-section {
  &.section-title {
    .section-title;
  }
  &.black {
    .section-title-black;
  }
  &.blue {
    .section-title-blue;
  }
}

.ic-btn-label {
  font-size: 10 * @rem;
  text-transform: uppercase;
  font-weight: @fw-semibold;
  color: @iConnect-black;
  line-height: 2;
  display: inline-block;

  &.reverse {
    color: @iConnect-white;
    background-color: @iConnect-black;
    border-radius: 6px;
    padding: 0 20px;
  }
}

.ic-color {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.progressive-image {
  position: relative;
  outline: 0;
  z-index: 10;

  .h-aspect-ratio {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;

    .aspect-ratio-fill {
      padding-bottom: 100%;
      background-color: #fafafa;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .canvas-thumbnail, .image-original {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        box-sizing: border-box;

        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0s, opacity .4s 0s;
      }

      &.canvas-loaded {
        .canvas-thumbnail {
          visibility: visible;
          opacity: 1;
        }
      }

      &.image-loaded {
        .image-original {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.link {
  line-height: 2.5;
  font-size: 16 * @rem;
  color: #4a8fe1;
  display: inline-block;
}