.event-page-settings-section {
  padding-top: @section-padding-top;

  .dropdown-menu-form {
    padding: 16px 20px 20px 20px;
    min-width: 300px;
  }

  .dd-datetime {
    border: none;
    background-color: transparent;
    .text-default-medium;
    outline: none;
  }
}