/*----------------------------------------------------------
            Login Page
----------------------------------------------------------*/
.security-form {
  label {
    font: 400 13px @iConnect-font-regular;
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 37px;

    .error {
      color: @iConnect-red;
      font-size: 11px;
      margin: 7px 0;
    }
  }

  input,
  input [type=tel],
  input [type=email],
  input [type=number],
  input [type=password] {
    background-color: transparent !important;
    height: auto;
    padding: 15px 0;

    border: 0 solid rgba(255, 255, 255, .3);
    border-radius: 0;
    border-bottom-width: 1px;

    &:focus {
      background-color: transparent !important;
      box-shadow: none;
      outline: none;

      border: 0 solid @iConnect-orange;
      border-bottom-width: 1px;
    }
  }
}

.login-section {
  height: 100%;

  margin-top: -@iConnect-header-height;
  padding-top: @iConnect-header-height;

  .login-container {
    height: 800px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .login-bg {
    margin-top: -@iConnect-header-height;

    position: fixed;
    width: 200%;
    height: 200%;
    left: -50%;

    z-index: 0;

    .login-bg-overlay {
      display: block;
      background-color: rgba(0, 0, 0, .75);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    img {
      display: block;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .login-well {
    background-color: transparent;
    color: #fff;
    height: 400px;
    width: 700px;
    margin: -235px 0 0 -350px;

    position: absolute;
    top: 50%;
    left: 50%;

    .welcome-text {
      margin-bottom: 35px;

      h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2em;
        margin: 0;
      }
    }

    .nav-tabs {
      border-color: rgba(255, 255, 255, 0.3);
      margin-bottom: 40px;

      li {
        a {
          background: transparent;
          border: 0 solid transparent;
          border-bottom-width: 2px;

          color: inherit;
          font-size: 11px;
          text-transform: uppercase;

          padding: 20px 35px 18px;
        }

        &.active {
          a {
            color: @iConnect-orange;
            border-color: @iConnect-orange;
          }
        }
      }
    }

    .security-form {
      label {
        color: rgba(255, 255, 255, .5);
      }

      input,
      input [type=tel],
      input [type=email],
      input [type=number],
      input [type=password]  {
        color: #fff;

        &:focus {
          color: #fff;
        }
      }
    }
  }

  ul {
    list-style: none;
  }

  .btn-sign-up {
    color: #fff;
    font-size: 11px;
    font-family: @iConnect-font-semiBold;
    letter-spacing: .7px;
    text-transform: uppercase;

    border: 0 none;
    border-radius: 4px;
    background-color: @iConnect-blue;

    cursor: pointer;

    padding: 10px 140px!important;

    &:hover, :active {
      background-color: darken(@iConnect-blue, 10%);
    }

    &:active {
      background-color: darken(@iConnect-blue, 20%);
      outline: none;
    }

    &:disabled {
      cursor: default;
      background-color: lighten(@iConnect-blue, 10%);

      &:hover, :active {
        background-color: lighten(@iConnect-blue, 10%);
        outline: none;
      }
    }
  }

  .social-content {
    border-top: 1px dashed rgba(255, 255, 255, .3);
    margin-top: 50px;
    padding-top: 30px;

    p {
      font-size: 15px;
      line-height: 30px;
    }

    .social-icons {
      display: flex;
      float: right;
      padding: 0;

      .social-icons__item {
        margin: 0 0.8rem 0 0;

        img {
          height: 3.0rem;
          width: 3.0rem;
        }
      }
    }
  }
}

.verification-section {
  background-color: white;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 91vh;

  h1 {
    span {
      color: @iConnect-blue;
    }
  }

  label {
    color: @iConnect-grey;
  }

  input,
  input [type=tel],
  input [type=email],
  input [type=number],
  input [type=password] {
    color: black;
  }

  input:focus,
  input [type=tel]:focus,
  input [type=email]:focus,
  input [type=number]:focus,
  input [type=password]:focus {
    color: black;
  }
}