.security-form {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    //border: none !important;
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }

  input,
  input [type=tel],
  input [type=email],
  input [type=number],
  input [type=password] {
    background-color: transparent !important;
    height: auto;
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid fade(#fff, 30%);
    border-radius: 0;

    &:focus {
      background-color: transparent;
      box-shadow: none;
      outline: none;
      border-bottom: 1px solid @iConnect-orange;
    }
  }

  .pwd-group {
    position: relative;

    input {
      padding-right: 30px;
    }

    .see-pwd {
      position: absolute;
      padding: 19px 10px;
      cursor: pointer;
      right: 0;
      bottom: 0;
      top: auto;

      img {
        display: inline-block;
        width: 14px;
        height: 10px;
      }
    }
  }

  .form-group {
    display: flex;
    height: 55px;
    margin-bottom: 55px;
    position: relative;
    flex-direction: column;

    .error {
      color: @iConnect-red;
      font-size: 11 * @rem;
      margin: 7px 0;
    }

    &.focused {
      .control-label {
        opacity: 1;
        top: -10px;
        transform: scale(0.75);
      }
    }
  }

  .control-label {
    color: #fff;
    font-family: @iConnect-font-regular;
    font-size: 16 * @rem;
    font-weight: @fw-regular;
    line-height: 1.125;
    letter-spacing: .46px;
    margin-bottom: 0;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transform: scale(1);
    transform-origin: left top;
    transition: all .2s ease-in-out;
  }

  .form-control {
    align-self: flex-end;
  }

  .forgot-pass-link {
    color: #fff;

    &:hover {
      color: @iConnect-orange;
    }
  }
}

.login-section {
  height: 100vh;
  min-height: 750px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    opacity: .7;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background: -moz-linear-gradient(196deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 10%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(90%, rgba(229,229,229,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(196deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 10%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(196deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 10%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(196deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 10%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(254deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 10%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
  }

  .video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-well {
    background-color: transparent;
    color: #fff;
    padding-top: 155px;

    h1 {
      font-size: 30 * @rem;
      font-weight: 700;
      line-height: 1.125;
      margin: 0 0 35px 0;
      letter-spacing: 1.6px;
    }

    .nav-tabs {
      border-color: fade(#fff, 30%);
      margin-bottom: 40px;

      li {
        a {
          background: transparent;
          border: 0 solid transparent;
          border-bottom-width: 2px;

          color: inherit;
          font-size: 11px;
          text-transform: uppercase;

          padding: 20px 35px 18px;
        }

        &.active {
          a {
            color: @iConnect-orange;
            border-color: @iConnect-orange;
          }
        }
      }
    }

    .security-form {
      input,
      input [type=tel],
      input [type=email],
      input [type=number],
      input [type=password]  {
        color: #fff;
        box-shadow: none;

        &:focus {
          color: #fff;
        }
      }
    }

    // redeclare default bootstrap classes to make ot work with angular custom components
    .tab-content {
      .tab-pane {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .social-content {
    border-top: 1px dashed fade(#fff, 30%);
    margin-top: 64px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;

    p {
      font-size: 15 * @rem;
      line-height: 2;
    }

    .social-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: space-around;
      margin-left: auto;

      .social-icons__item {
        height: 30px;
        width: 30px;
        margin: 0 5px;
      }
    }
  }
}

.verification-section {
  background-color: white;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 91vh;

  h1 {
    span {
      color: @iConnect-blue;
    }
  }

  label {
    color: @iConnect-grey;
  }

  input,
  input [type=tel],
  input [type=email],
  input [type=number],
  input [type=password] {
    color: black;
  }

  input:focus,
  input [type=tel]:focus,
  input [type=email]:focus,
  input [type=number]:focus,
  input [type=password]:focus {
    color: black;
  }
}