.navbar {
  &.navbar-default {
    background-color: @iConnect-white;
    position: absolute;

    &.transparent {
      background: transparent;
      border-color: transparent;
      color: #fff;

      .navbar-brand {
        color: @iConnect-white;
        text-shadow: none;
      }

      .nav {
        &>li {
          &>a {
            color: @iConnect-white;

            &:hover, &:active, &:focus {
              background: transparent;
            }
          }
        }
      }
    }

    .navbar-content {
      border: 0;
      position: relative;

      .navbar-header {
        .navbar-brand {
          font-family: @iConnect-PFDinDisplayPro-BlackIt;
          line-height: 1.5;
          font-size: 16 * @rem;
          letter-spacing: .46px;
        }
      }

      .search {
        &>img {
          width: 18px;
          height: 18px;
        }
      }
      .form-wrap {
        width: 100%;
        margin-top: 0;
      }
      .nav {
        &>li {
          margin: 0 24px;
          //line-height: 2;

          &:last-child {
            margin: 0 0 0 24px;
          }
          &>a {
            text-transform: uppercase;
            padding: 0;
            //line-height: 2;
            line-height: 5.8;
            display: inline-block;
            font-size: 10 * @rem;
            font-weight: @fw-bold;
            letter-spacing: .29px;

            &.search {
              font-size: 16 * @rem;
              line-height: 3.66;
            }
          }
        }
      }

      .nav {
        &.navbar-nav {
          position: inherit;

          .ic-btn {
            margin-top: (@top-menu-height - @max-button-height) / 2;
          }
        }

        &>li {
          &>a {
            border: 0;
            border-bottom: 2px solid transparent;

            &:hover, &:active, &:focus {
              color: @iConnect-orange;
              border: 0;
              border-bottom: 2px solid @iConnect-orange;
              background-color: transparent;
              text-shadow: none;
            }
          }
        }
      }

      .dropdown {
        &>.dropdown-toggle {
          padding-top: 16px;
          padding-bottom: 12px;
        }
      }
    }
  }
}
