/*----------------------------------------------------------
                   Navbar
----------------------------------------------------------*/
.navbar-content {
  background-color: white;
  border: 0 solid @iConnect-lightGrey;
  border-bottom-width: 1px;
  height: @iConnect-header-height;
  position: relative;
  z-index: 1;

  * {
    text-shadow: none!important;
  }

  .nav > li {
    margin-left: 1em;
    margin-right: 1em;
  }

  &.transparent {
    background: transparent;
    border-color: transparent;
    color: #fff;

    .navbar-brand {
      color: inherit;
    }

    .nav > li > a {
      color: #fff;

      &:hover, &:active, &:focus {
        background: transparent!important;
      }
    }
  }

  .navbar-brand {
    font-style: italic;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .btn-login,
  .btn-login:hover {
    font-size: 10px;
    font-weight: 700;
    font-family: @iConnect-font-regular;
    padding: 5px 40px !important;
    margin-top: 17px;
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: @iConnect-orange;
  }
  .search > img {
    width: 18px;
    height: 18px;
  }
  .form-wrap {
    width: 100%;
    margin-top: 0;
  }

  .nav > li > a {
    font-size: 11px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    padding: 20px 5px;

  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > li > a:active {
    color: @iConnect-orange;
    border: 0 solid @iConnect-orange;
    border-bottom-width: 2px;
    background-color: white;
    padding-bottom: 18px;
  }
  .nav > li > a > span > img {
    display: -webkit-inline-box;
  }

  .dropdown > .dropdown-toggle {
    padding-top: 16px;
    padding-bottom: 12px!important;
  }
}