.profile-section {
  padding-top: 105px;
  padding-bottom: 70px;

  .box-content {
    border: 1px solid @iConnect-lightGrey;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
  }

  .hero-avatar {
    position: relative;
    min-height: 285px;
    display: block;
    border-radius: 50%;

    &.empty {
      border: 1px dashed #e5e5e5;
      background-color: #fafafa;
      background-image: url('@{ic-path-images}/photo-empy-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50px 45px;
    }

    .avatar-img {
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }

      &.avatar-img-circle {
        img {
          border-radius: 50%;
        }
      }
    }

    &:hover {
      .avatar-options {
        display: block !important;
      }
    }

    .avatar-options {
      height: 60px;
      display: none;
      box-shadow: 0 10px 25px fade(#000, 10%);
      border-radius: 4px;
      position: absolute;
      bottom: 0;
      background-color: #fff;
      width: 100%;

      ul {
        display: flex;
        align-content: space-between;
        justify-content: center;
        width: 100%;
        margin: 0;

        li {
          display: inline-block;
          line-height: 60px;

          &:not(:last-child) {
            a {
              border-right: 1px solid #f2f2f2;
            }
          }

          a {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            padding: 0 40px;
            line-height: 30px;

            &.upload-avatar-opt {
              background-image: url('@{ic-path-images}/upload-avatar-opt.svg');
            }

            &.cut-avatar-opt {
              background-image: url('@{ic-path-images}/cut-avatar-opt.svg');
            }
            &.trash-avatar-opt {
              background-image: url('@{ic-path-images}/trash-avatar-opt.svg');
            }

          }
        }
      }
    }
  }

  .hero-actions {
    padding: 20px 0;

    .ic-btn {
      width: 100%;
      padding: 0 30px;
      margin: 0 auto;
      display: block;
    }
  }

  .hero-desc {
    padding: 22px 0;

    .hero-descr-block {
      padding: 0 20px;

      .hero-desc-name {
        .title-H2;
        display: block;
        margin: 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hero-desc-caption {
        .text-grey-small;
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .artist-rating {
        display: flex;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        padding: 19px 0 20px 0;

        ul {
          display: flex;
          align-content: space-between;
          flex-wrap: nowrap;
          align-items: flex-start;
          flex-grow: 7;
          margin: 0;

          li {
            span {
              line-height: 17px;
              width: 17px;
              display: inline-block;

              &.star {
                background-image: url('@{ic-path-images}/rating-grey-star.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin-right: 9.86px;

                &.active {
                  background-image: url('@{ic-path-images}/rating-color-star.svg');
                }
              }
            }
          }
        }

        .rating-value {
          .text-grey-small;
          align-self: flex-end;
          max-width: 60px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .hero-desc-about {
        .text-default;
        p {
          .text-default;
        }
      }

      .artist-genres {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 0;

        li {
          a {
            border: 1px dashed #e5e5e5;
            padding: 0 8px 0 9px;
            text-transform: uppercase;
            font-size: 10 * @rem;
            letter-spacing: .29px;
            line-height: 2.5;
            color: #333;
            margin-right: 3px;
            margin-bottom: 3px;
            border-radius: 2px;
            display: inline-block;
            font-weight: @fw-semibold;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }
    }

    .hero-desc-list {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 20px 18px;
        border-bottom: 1px solid #f2f2f2;
        min-height: 51px;
        height: 51px;

        &:first-child {
          border-top: 1px solid #f2f2f2;
        }

        .title {
          align-self: flex-start;
          .text-grey-small;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .value {
          align-self: flex-end;
          .section-title-black;
          max-width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          img {
            margin-left: 9px;
            height: 15px;
            width: 15px;
            display: inline;
            border-radius: 2px;
            vertical-align: sub;
          }
        }
      }
    }

    .hero-desc-social {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        margin: 0;

        .social-icons__item {
          height: 30px;
          width: 30px;
          margin: 0 5px;
        }
      }
    }
  }

  .rider-block {
    padding: 16px 20px 20px;

    .title {
      .section-title-black;
      margin-bottom: 17px;
      margin-top: 0;
    }

    .btn-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .ic-btn {
        padding: 0 5px;
        width: 120px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .media-content {
    padding: 16px 20px 17px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    .grid {
      line-height: 0;
      -webkit-column-count: 2;
      -webkit-column-gap: 3px;
      -moz-column-count: 2;
      -moz-column-gap: 3px;
      column-count: 2;
      column-gap: 3px;

      .grid-item {
        margin-bottom: 3px;

        img, iframe {
          width: 100%;
        }
      }
    }

    .grid-player {
      .grid-item {
        margin-bottom: 3px;

        img, iframe {
          width: 100%;
        }
      }
    }

    .mc-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 17px;

      a {
        align-self: flex-end;
        .section-title-blue;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        align-self: flex-start;
        .section-title-black;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .mc-content {
      margin-top: 17px;
      margin-bottom: 27px;

      &.empty {
        //display: block;
        background-color: #fafafa;
        border: 1px dashed #e5e5e5;
        border-radius: 4px;
        min-height: 146px;
        width: 100%;


        display: flex;
        background-image: url('@{ic-path-images}/audio-empty-icon.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 18px;

        span {
          align-self: flex-end;
          margin: 0 auto 30px;
          .text-grey-small;
          width: 50px;
          text-align: center;
          font-weight: 400;
        }

        &.audio {
          background-image: url('@{ic-path-images}/audio-empty-icon.svg');
        }

        &.video {
          background-image: url('@{ic-path-images}/video-empty-icon.svg');
        }

        &.photo {
          background-image: url('@{ic-path-images}/photo-empy-icon.svg');
        }
      }

      &.audio {}

      &.video {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        img {
          width: 70px;
          max-height: 70px;
          display: inline-block;
          border-radius: 4px;
          margin-bottom: 10px;


          &:not(:nth-child(3)) {
            margin-right: 10px;
          }
        }
      }

      &.photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        img {
          width: 70px;
          max-height: 70px;
          display: inline-block;
          border-radius: 4px;
          margin-bottom: 10px;


          &:not(:nth-child(3)) {
            margin-right: 10px;
          }
        }
      }
    }
    .view-all {
      display: block;
      text-align: right;
      text-transform: uppercase;
      font-weight: @fw-semibold;
      color: #c8c8c8;
      font-size: 10 * @rem;
      letter-spacing: .29px;
      line-height: 1.4;
    }
  }
}