.profile-section {
  padding-top: @section-padding-top;
  padding-bottom: 70px;

  .hero-desc-about + [data-readmore-toggle], .hero-desc-about[data-readmore] {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(to bottom,
            rgba(255,255,255, 0),
            rgba(255,255,255, 1) 90%);
      width: 100%;
      height: 1.5em;
    }
  }

  .reader-btn {
    display: inline-block;
    font-size: 16 * @rem;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    color: #333;
  }

  .box-content {
    border: 1px solid @iConnect-lightGrey;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
  }

  .hero-avatar {
    display: block;
    min-height: 300px;
    margin-bottom: 20px;
    position: relative;
    z-index: 15;

    &.empty {
      border: 1px dashed #e5e5e5;
      border-radius: 4px;
      background-color: #fafafa;
      background-image: url('@{ic-path-images}/photo-empy-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50px 45px;

      &.circle {
        border-radius: 50%;
      }
    }

    .progressive-image {
      border-radius: 4px;
      overflow: hidden;
    }

    &.circle {
      .progressive-image {
        border-radius: 50%;
      }
    }

    &:hover {
      .avatar-options {
        opacity: 1 !important;
        bottom: 0;
      }
    }

    .avatar-options {
      background-color: #fff;
      box-shadow: 0 10px 25px fade(#000, 10%);
      border-radius: 4px;
      opacity: 0;
      height: 60px;
      width: 100%;
      position: absolute;
      bottom: -20px;
      z-index: 20;
      transition: opacity .1s ease-in-out .1s, bottom .2s ease-in-out;

      ul {
        display: flex;
        align-content: space-between;
        justify-content: center;
        width: 100%;
        margin: 0;

        li {
          display: inline-block;
          line-height: 60px;

          &:not(:last-child) {
            a {
              border-right: 1px solid #f2f2f2;
            }
          }

          a {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            padding: 0 40px;
            line-height: 30px;

            &.upload-avatar-opt {
              background-image: url('@{ic-path-images}/upload-avatar-opt.svg');
            }

            &.cut-avatar-opt {
              background-image: url('@{ic-path-images}/cut-avatar-opt.svg');
            }
            &.trash-avatar-opt {
              background-image: url('@{ic-path-images}/trash-avatar-opt.svg');
            }

          }
        }
      }
    }
  }

  .hero-actions {
    padding: 0;

    .ic-btn {
      width: 100%;
      padding: 0 30px;
      margin: 0 auto;
      display: block;
    }
  }

  .hero-desc {
    padding: 22px 0;

    .hero-descr-block {
      padding: 0 20px;

      .hero-desc-name {
        .title-H2;
        display: block;
        margin: 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hero-desc-caption {
        .text-grey-small;
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .artist-rating {
        display: flex;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        padding: 19px 0 20px 0;

        ul {
          display: flex;
          align-content: space-between;
          flex-wrap: nowrap;
          align-items: flex-start;
          flex-grow: 7;
          margin: 0;

          li {
            span {
              line-height: 17px;
              width: 17px;
              display: inline-block;

              &.star {
                background-image: url('@{ic-path-images}/rating-grey-star.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                margin-right: 9.86px;

                &.active {
                  background-image: url('@{ic-path-images}/rating-color-star.svg');
                }
              }
            }
          }
        }

        .rating-value {
          .text-grey-small;
          align-self: flex-end;
          max-width: 60px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .hero-desc-about {
        .text-default;
        p {
          .text-default;
        }
        .empty {
          .text-grey-small;
          display: block;
          padding-top: 15px;
        }
      }

      .artist-genres {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 0;

        li {
          a {
            border: 1px dashed #e5e5e5;
            padding: 0 8px 0 9px;
            text-transform: uppercase;
            font-size: 10 * @rem;
            letter-spacing: .29px;
            line-height: 2.5;
            color: #333;
            margin-right: 3px;
            margin-bottom: 3px;
            border-radius: 2px;
            display: inline-block;
            font-weight: @fw-semibold;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }
    }

    .hero-desc-list {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 20px 18px;
        border-bottom: 1px solid #f2f2f2;
        min-height: 51px;
        height: 51px;

        &:first-child {
          border-top: 1px solid #f2f2f2;
        }

        .title {
          align-self: flex-start;
          .text-grey-small;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .value {
          align-self: flex-end;
          .section-title-black;
          max-width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          img {
            margin-left: 9px;
            height: 15px;
            width: 15px;
            display: inline;
            border-radius: 2px;
            vertical-align: sub;
          }

          .not-indicated {
            .text-grey-small;
            text-transform: lowercase;
          }
        }
      }
    }

    .hero-desc-social {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        margin: 0;

        .social-icons__item {
          height: 30px;
          width: 30px;
          margin: 0 5px;
        }
      }
    }
  }

  .rider-block {
    padding: 16px 20px 20px;

    .title {
      .section-title-black;
      margin-bottom: 17px;
      margin-top: 0;
    }

    .btn-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .ic-btn {
        padding: 0 5px;
        width: 120px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .media-content {
    padding: 16px 20px 17px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    .grid {
      line-height: 0;
      -webkit-column-count: 2;
      -webkit-column-gap: 3px;
      -moz-column-count: 2;
      -moz-column-gap: 3px;
      column-count: 2;
      column-gap: 3px;

      .grid-item {
        margin-bottom: 3px;

        img, iframe {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .grid-player {
      .grid-item {
        margin-bottom: 3px;

        img, iframe {
          width: 100%;
        }
      }
    }

    .mc-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 17px;

      a {
        align-self: flex-end;
        .section-title-blue;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        align-self: flex-start;
        .section-title-black;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .mc-content {
      margin-top: 17px;
      margin-bottom: 27px;

      &.empty {
        //display: block;
        background-color: #fafafa;
        border: 1px dashed #e5e5e5;
        border-radius: 4px;
        min-height: 146px;
        width: 100%;

        display: flex;
        background-image: url('@{ic-path-images}/audio-empty-icon.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 18px;

        span {
          align-self: flex-end;
          margin: 0 auto 30px;
          .text-grey-small;
          width: 50px;
          text-align: center;
          font-weight: 400;
        }

        &.audio {
          background-image: url('@{ic-path-images}/audio-empty-icon.svg');
        }

        &.video {
          background-image: url('@{ic-path-images}/video-empty-icon.svg');
        }

        &.photo {
          background-image: url('@{ic-path-images}/photo-empy-icon.svg');
        }
      }

      &.audio {}

      &.video {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
          width: 80px;
          max-height: 80px;
          display: inline-block;
          border-radius: 4px;
          margin-bottom: 10px;


          &:not(:nth-child(n3)) {
            margin-right: 10px;
          }
        }
      }

      &.photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .photo-item {
          width: 80px;
          max-height: 80px;
          display: inline-block;
          border-radius: 4px;
          margin-bottom: 10px;

          &:not(:nth-child(n3)) {
            margin-right: 10px;
          }

          img {
            width: 80px;
            max-height: 80px;
            display: inline-block;
            border-radius: 4px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .view-all {
      display: block;
      text-align: right;
      text-transform: uppercase;
      font-weight: @fw-semibold;
      color: #c8c8c8;
      font-size: 10 * @rem;
      letter-spacing: .29px;
      line-height: 1.4;
    }
  }

  .settings-block {
    border: 1px solid #f2f2f2;
    border-radius: 4px;

    h1 {
      .section-title-black;
      padding: 16px 20px;
      margin: 0;
      border-bottom: 1px solid #f2f2f2;
    }

    .form-group {
      padding: 16px 5px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;

      &.error {
        label {
          color: #d0021b;
        }
      }

      &:hover, &.focused {
        .edit-section {
          a {
            //color: @iConnect-orange;
          }
        }
      }

      label {
        .text-default;
        font-size: 12 * @rem;
        font-weight: @fw-semibold;
      }

      .form-control {
        display: block;
        width: 100%;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        outline: none;
        .text-default;
        font-size: 12 * @rem;
        letter-spacing: .34px;
      }

      textarea {
        @font-size: 12 * @rem;
        @line-height: 1.5;
        @lines-to-show: 5;

        height: @font-size * @line-height * @lines-to-show + 2;
        resize: vertical;
      }

      .form-value {
        .text-default;
        font-size: 12 * @rem;
        letter-spacing: .34px;
        padding: 6px 12px;
      }

      .add-more-social {
        .text-grey-medium;
        font-weight: @fw-regular;
      }

      .artist-role-block {
        display: inline-block;
        padding: 0 11px;
        margin: 0 10px 10px 0;
        background-color: #fafafa;
        border: 1px dashed #e5e5e5;
        border-radius: 20px;
        cursor: pointer;
        min-width: 70px;
        text-align: center;
        height: 30px;

        input {
          display: none;
        }

        .role-name {
          color: #fff;
          .text-default;
          font-weight: @fw-semibold;
          text-transform: uppercase;
          line-height: 28px;
        }

        .role-switch {
          display: none;
          color: #333;
        }

        &:hover, &:active, &:focus {
          background-color: lighten(#fafafa, 20%);
        }

        &.active {
          background-color: #4a90e2;
          border: 1px solid #4a90e2;
          text-align: left;

          .role-name {
            color: #fff;
          }

          .role-switch {
            float: right;
            display: inline;
            color: #fff;
            margin-left: 9px;

            .fa {
              font-size: 14 * @rem;
              line-height: 28px;
            }
          }

          &:hover, &:active, &:focus {
            background-color: darken(#4a90e2, 20%);
          }
        }

      }

      .ic-btn-orange {
        margin-right: 20px;
      }

      .ic-btn-delete {
        color: #f00;
      }

      .help-info {
        display: block;
        .text-grey-small;
        font-weight: @fw-regular;
        margin-top: 14px;
        padding: 6px 12px;
      }

      .editable-form {
        .form-value {
          cursor: pointer;
        }

        .editable-block {
          select {
            display: block;
            border: 1px solid #f5f5f5;
            border-radius: 0;
            box-shadow: none;
            .text-default;
            font-size: 12 * @rem;
            padding: 6px 12px;
            letter-spacing: .34px;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            background: transparent;
            background-image: none;
            width: 100%;
            margin: 0 0 5px 0;

          }
          input {
            display: block;
            border: 1px solid #f5f5f5;
            border-radius: 0;
            box-shadow: none;
            .text-default;
            font-size: 12 * @rem;
            letter-spacing: .34px;
            padding: 6px 12px;
            width: 100%;
            margin: 0 0 5px 0;

          }
        }
      }

      .social-block {
        display: block;
        margin-bottom: 20px;

        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: inline-block;
        }
        .social-name {
          .text-default;
          font-weight: @fw-semibold;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: middle;
          padding-left: 5px;
        }

      }

      .edit-section {
        text-align: right;
        a {
          color: #e5e5e5;
          line-height: 1.5;
          font-size: 16 * @rem;
          vertical-align: middle;

          &:hover {
            color: darken(#e5e5e5, 20%);
          }
        }

        &.remove {
          float: right;
          a {
            color: #f00;
            line-height: 1.5;
            vertical-align: middle;
            font-size: 16 * @rem;
          }

          &:hover {
            a {
              color: @iConnect-orange;
            }
          }
        }

        &.separate {
          text-align: center;
          &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 30px;
            position: absolute;
            border-right: 1px solid #f2f2f2;
            right: 10px
          }
        }
      }

    }

  }

  .event-card {
    margin-top: 0;
  }

  .event-title {
    h2 {
      .section-title-black;
      margin-top: 0;
      margin-bottom: 17px;
    }
  }
  .row-content-events {
    padding-bottom: 37px;
  }
}