.registration-page {
  padding-top: @top-menu-height + 97px;

  h1 {
    .title-H1-simple;
    margin-bottom: 44px;
    margin-top: 0;

    .header-username {
      color: #4a90e2;
    }
  }

  .content {
    .text-default-big;
    margin-bottom: 50px;
  }

  .form-block {
    position: relative;

    .ic-btn {
      padding: 0 57px;
    }

    input,
    input [type=tel],
    input [type=email],
    input [type=number],
    input [type=password] {
      background-color: transparent !important;
      height: auto;
      padding: 15px 0;
      border: 0;
      border-bottom: 1px solid #f2f2f2;
      border-radius: 0;
      color: #333;
      box-shadow: none;

      &:focus {
        background-color: transparent;
        box-shadow: none;
        outline: none;
        border-bottom: 1px solid @iConnect-orange;
      }
    }

    .form-group {
      display: flex;
      height: 55px;
      margin-bottom: 55px;
      position: relative;
      flex-direction: column;

      .error {
        color: @iConnect-red;
        font-size: 11 * @rem;
        margin: 7px 0;
      }

      &.focused {
        .control-label {
          opacity: 1;
          top: -10px;
          transform: scale(0.75);
        }
      }

      &.pwd-group {
        position: relative;

        input {
          padding-right: 30px;
        }

        .see-pwd {
          position: absolute;
          padding: 19px 10px;
          cursor: pointer;
          right: 0;
          bottom: 0;
          top: auto;

          .fa {
            display: inline-block;
            width: 14px;
            height: 10px;
            color: #e5e5e5;

            &:hover {
              color: @iConnect-orange;
            }
          }
        }
      }
    }

    .control-label {
      color: #333;
      font-family: @iConnect-font-regular;
      font-size: 16 * @rem;
      font-weight: @fw-regular;
      line-height: 1.125;
      letter-spacing: .46px;
      margin-bottom: 0;
      opacity: .5;
      pointer-events: none;
      position: absolute;
      top: 18px;
      transform: scale(1);
      transform-origin: left top;
      transition: all .2s ease-in-out;
    }

    .form-control {
      align-self: flex-end;
    }

    .btn-block {
      .ic-btn + .ic-btn {
        margin-left: 10px;
      }
    }
  }

  .input-ddown-block {
    .control-label {
      text-align: left;
    }

    .form-control {
      font-size: 16px * @rem;
      text-align: left;
      min-width: inherit !important;
      height: auto;
      padding-right: 25px;
    }
  }
}
