/*----------------------------------------------------------
            Tops Artist Page
----------------------------------------------------------*/
.artists,
.cabinet-section,
.organizations-section {

  .card-photo {
    width: 4em;
    border: 0.2em solid transparent;
    display: -webkit-inline-box;
  }

  .first-signer {
    border: 1px solid @iConnect-lightGrey;
    border-radius: .28571429rem;
    height: 17rem;
    vertical-align: top;
    padding-top: 1em;

    .signer-describe {
      height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      font-weight: normal;
      width: 100%;
    }

    .divider {
      height: 7em;
      margin-right: 1em;
      margin-left: 1em;
    }

    span {
      vertical-align: top;
      font-weight: bold;
      width: 50%;
    }

    img {
      display: -webkit-inline-box;
    }
  }

  .artist-new,
  .filter-section {
    border: 1px solid @iConnect-lightGrey;
  }

  .display-span {
    display: inline-grid;
  }

  .small-default-text {
    text-transform: uppercase;
    width: inherit !important;
  }

  .artist-footer {
    border-top: 1px solid @iConnect-lightGrey;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 0;
    color: rgba(0, 0, 0, .4);
  }
}