.top-artists-section {
  padding-top: @section-padding-top;
  background-color: #fdfdfe;

  .section-title {
    display: block;
    .section-title-black;
    margin-bottom: 17px;
  }

  .view-all {
    .section-title-blue;
    margin-bottom: 34px;
    color: #4990e2;

    &:hover {
      color: #b54914;
    }
  }

  .artist-card {
    margin-bottom: 20px;
  }

  .back-link {
    .section-title-black;
  }

  .filter-section {
    position: absolute;
    height: 72px;
  }

  .banner {
    img {
      border-radius: 4px;
    }
  }
}