@iConnect-blue: #4a90e2;
@iConnect-lightGrey: #f2f2f2;
@iConnect-grey: #999999;
@iConnect-red: #d0021b;
@iConnect-green: #417505;
@iConnect-orange: #ff5400;

@iConnect-imagePath: "/images";

@iConnect-font-regular: "Open Sans", sans-serif;
@iConnect-font-semiBold: "Open Sans SemiBold", sans-serif;
@iConnect-font-bold: "Open Sans Bold", sans-serif;
