@context-pt: 16px;
@rem: 1rem / @context-pt;

@top-menu-height: 60px;
@max-button-height: 30px;
@section-padding-top: 97px;

@iConnect-blue: #4a90e2;
@iConnect-lightGrey: #f2f2f2;
@iConnect-grey: #999;
@iConnect-red: #d0021b;
@iConnect-green: #417505;
@iConnect-orange: #ff5400;
@iConnect-slate-gray: #343434;
@iConnect-black: #000;
@iConnect-white: #fff;

@lighten-percentage: 20%;

@fw-regular: 400;
@fw-semibold: 600;
@fw-bold: 700;

@ic-path-images: "../images";
@ic-path-fonts: "../fonts/PFDinDisplayPro";

@iConnect-font-regular: 'Open Sans', sans-serif;
@iConnect-font-semiBold: 'Open Sans SemiBold', sans-serif;
@iConnect-font-bold: 'Open Sans Bold', sans-serif;
@iConnect-PFDinDisplayPro-BlackIt: 'PFDinDisplayPro-BlackIt', sans-serif;

@font-face {
  font-family: 'PFDinDisplayPro-BlackIt';
  src: url('@{ic-path-fonts}/PFDinDisplayPro-BlackIt.eot');
  src: local('☺'),
       url('@{ic-path-fonts}/PFDinDisplayPro-BlackIt.woff') format('woff'),
       url('@{ic-path-fonts}/PFDinDisplayPro-BlackIt.ttf') format('truetype'),
       url('@{ic-path-fonts}/PFDinDisplayPro-BlackIt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}