@import "_reset";
@import "_mixins";

@import "../../node_modules/bootstrap/less/bootstrap";
@container-tablet: (840px + @grid-gutter-width);
@container-sm: @container-tablet;
@container-desktop: (1060px + @grid-gutter-width);
@container-md: @container-desktop;
@container-large-desktop: (1260px + @grid-gutter-width);
@container-lg: @container-large-desktop;
@navbar-height: @top-menu-height;
@font-size-base: @context-pt;
@grid-gutter-width: 20px;

@import "../../node_modules/font-awesome/less/font-awesome";
@fa-font-path: "../../node_modules/font-awesome/fonts";
@fa-font-size-base: 16px;

@import (inline) "../../node_modules/angular-ui-select/select.min.css";
@import (inline) "../../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import (inline) "../../node_modules/ng-dialog/css/ngDialog.min.css";
@import (inline) "../../node_modules/ng-dialog/css/ngDialog-theme-default.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&amp;subset=cyrillic";

@import "_common";

@import "_vars";
@import "_navbar";
@import "_login";
@import "_events";
@import "_top_artists";
@import "_cabinet";
@import "_open_artists";
@import "_dialog";
@import "_open_organizations";
@import "_new_artist";
@import "_create_initial_section";
@import "_cards";
@import "_personal_page";
@import "_event_page";
@import "_text_block";
@import "_registration_page";
