<script>
    $(document).ready(function () {
        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');
    });
</script>

<section class="registration-page">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>Set new password</h1>

                <div class="content">
                    <p>Enter your email adress. In the email, which is fixed for that user will receive an email with a
                        link to change the currebt password (????)</p>
                </div>

                <div class="form-block">
                    <form action="">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="form-group pwd-group">
                                        <label class="control-label" for="new_pwd">New password</label>
                                        <a href="#" class="see-pwd"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <input type="password" id="new_pwd" class="form-control" autocomplete="off" ng-model="new.pwd" ng-required="true">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="form-group pwd-group">
                                        <label class="control-label" for="repeat_pwd">Repeat password</label>
                                        <a href="#" class="see-pwd"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <input type="password" id="repeat_pwd" class="form-control" autocomplete="off" ng-model="repeat.pwd" ng-required="true">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="btn-block">
                                        <button type="submit" class="ic-btn ic-btn-blue big">Change password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>