<script>
    $(document).ready(function () {
        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');
    });
</script>

<section class="registration-page">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>Set new password</h1>

                <div class="content">
                    <p>Enter your email address. In the email, which is fixed for that user will receive an email with a link to change the current password (????)</p>
                </div>

                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--big form-group--icon float-label">
                                <label class="control-label" for="password_new">New password</label>
                                <input type="password" id="password_new" class="form-control" ng-model="password.new" ng-required="true">
                                <a class="control-icon"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group--big form-group--icon float-label">
                                <label class="control-label" for="password_new_repeat">Repeat password</label>
                                <input type="password" id="password_new_repeat" class="form-control" ng-model="password.new_repeat" ng-required="true">
                                <a class="control-icon"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="ic-btn ic-btn-blue big pull-right">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>