<script>
    $(document).ready(function () {
        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');
    });
</script>

<section class="registration-page">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>We glad to see you, <span class="header-username">Maxim Danilov</span></h1>

                <div class="content">
                    <p>Before the registration is completed, there is only one step, enter here the phone number to which we will send the code to confirm your identity.</p>
                </div>

                <form class="form-block" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--big float-label">
                                <label class="control-label" for="phone_number">Phone Number</label>
                                <input id="phone_number" class="form-control" ng-model="phone.number" ng-required="true">
                            </div>
                        </div>
                        <div class="col-md-12 mt-30">
                            <div class="btn-block text-right">
                                <button type="submit" class="ic-btn ic-btn-white big">Later</button>
                                <button type="submit" class="ic-btn ic-btn-blue big">Send sms code</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>