.card-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;

  &:last-child {
    margin-bottom: 22px;
  }

  .counter-place {
    .title-H4;
    margin-right: 19px;
  }

  .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    position: relative;

    img {
      align-self: center;
      max-width: 100%;
    }

    .image {
      overflow: hidden;
    }

    &.square {
      .image {
        border-radius: 4px;
      }
    }

    &.avatar-circle {
      .image, .progressive-image {
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .empty-placeholder {
      border: 1px dashed #e5e5e5;
      background-color: #fafafa;
      background-image: url('@{ic-path-images}/photo-empy-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 16px 14px;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  .name {
    a {
      @line-height: 1.357;
      @font-size: 14px * @rem;

      font-family: @iConnect-font-regular;
      color: @black;
      font-size: @font-size;
      letter-spacing: .4px;
      line-height: @line-height;
      margin-bottom: 2px;
      font-weight: @fw-semibold;
      margin-top: -5px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;

      &:hover {
        color: @burnt-sienna;
      }
    }
    .title {
      display: block;
      .title-H4;
      margin-bottom: 2px;
      color: @black;
    }
    .price {
      .text-default-medium;
      margin-top: 3px;
      font-weight: @fw-semibold;
    }

    .full-offer-link {
      .text-blue-medium;
    }
  }
  .info {
    display: block;
    .text-grey-small;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
  }

  .next-link {
    align-self: center;
    margin: 0 auto;
    margin-right: 0;

    .lnk {
      color: @black;
      &.big {
        font-size:40 * @rem;
      }

      &:hover {
        color: darken(@iConnect-lightGrey, 20%) !important;
      }
    }
  }

  &.dashed {
    border: 1px dashed #f2f2f2;
    padding: 21.5px 20px;
    margin: 0 0 20px 0;
    border-radius: 4px;

    .next-link {
      .lnk {
        color: #e5e5e5;
        font-size:40 * @rem;

        &:hover {
          color: darken(@iConnect-lightGrey, 20%) !important;
        }
      }
    }
  }
}