<section class="top-artists-section-open" ng-controller="ArtistTopsController">

    <div class="navbar-fixed-top filter-section">
        <div class="container">
           <div class="search-content">
               <form action="" class="form-inline search-form">
                   <span class="fg-divider"></span>
                   <div class="form-group">
                       <label>From</label>
                       <input type="date"/>
                   </div>
                   <div class="form-group">
                       <label>To</label>
                       <input type="date"/>
                   </div>
                   <span class="fg-divider"></span>

                   <div class="form-group">
                       <label>Location</label>
                       <input type="text"/>
                   </div>
                   <span class="fg-divider"></span>

                   <div class="form-group">
                       <label>Type</label>
                       <select ng-model="selectedallArtist" ng-options="x for (x, y) in allArtist"></select>
                   </div>
                   <span class="fg-divider"></span>

                   <button class="ic-btn ic-btn-blue">Search</button>
               </form>
           </div>
        </div>
    </div>
    <div class="container">
        <!--<a href="#" ui-sref="app" class="text-left">Back to the general list</a> / Find {{allArtist['Singer'].artistList.length}} {{type}}-->
        <a href="#" ui-sref="app" class="back-link">Back to the general list</a>

        <div class="row">
            <div class="col-md-3" ng-repeat="art in allArtist['Singer'].artistList">
                <div class="artist-card">
                    <div class="row card-header">
                        <div class="col-xs-7 artist-avatar">
                            <img ng-src="{{ art.photo }}" class="img-responsive img-circle" alt="avatar">
                        </div>
                        <div class="col-xs-5 artist-info">
                            <div class="name">{{ art.firstName}} {{ art.lastName}}</div>
                            <div class="description">
                                <p>{{ art.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row card-footer">
                        <div class="col-xs-7 left-part">
                            <p>{{ art.country}}</p>
                        </div>
                        <div class="col-xs-5 right-part">
                            <p>{{ art.style}}</p>
                        </div>
                    </div>
                </div><!--.artist-card-->
            </div>
        </div>

    </div>
</section>