<section class="top-artists-section-open" ng-controller="ArtistTopsController">

    <div ng-include="'views/template/filter_section.html'"></div>

    <div class="container top-artists-header">
        <a href="#" ui-sref="app" class="back-link">
            <svg class="left-arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path fill="#4A90E2" id="back_lnk" fill-rule="evenodd" d="M2.9 4.5l2.45-2.45a.495.495 0 0 0-.7-.7L1.707 4.293a1 1 0 0 0 0 1.414L4.65 8.65a.495.495 0 0 0 .7-.7L2.9 5.5h5.6a.5.5 0 0 0 0-1H2.9z"/>
            </svg>
                Back to all top page
        </a>

        <span class="title">Top's music band</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="top-artists-block"></div>
            <div class="col-md-3" ng-repeat="art in allArtist['Singer'].artistList">
                <profile-preview data="art" avatar-type-class="'avatar-circle'"></profile-preview>
            </div>
        </div>

    </div>
</section>