<section class="top-artists-section-open" ng-controller="ArtistTopsController">

    <div class="navbar-fixed-top filter-section">
        <div class="container">
           <div class="search-content">
               <form action="" class="form-inline search-form">

                   <div class="form-group date-filter">
                       <label>From</label>

                       <div class="dd-block">
                           <div class="dropdown">
                               <button class="dd-datetime" id="date_start" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   {{dt ? dt : dateNow | date:'d MMM y' }}
                               </button>
                               <div class="dropdown-menu dropdown-menu-form ddatetime" aria-labelledby="date_start">
                                   <div class="picker-title">
                                       Set a date From
                                   </div>
                                   <div style="display:inline-block;">
                                       <div uib-datepicker ng-model="dt" class="well well-sm ic-datepicker" datepicker-options="DatePickerOptions"></div>
                                   </div>
                               </div>
                           </div>
                           <a href="#" class="lbl-calendar"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                       </div>

                       <label>to</label>

                       <div class="dd-block">
                           <button class="dd-datetime" id="date_ended" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               {{dte ? dte : dateNow | date:'d MMM y' }}
                           </button>
                           <div class="dropdown-menu dropdown-menu-form ddatetime" aria-labelledby="date_ended">
                               <div class="picker-title">
                                   Set a date To
                               </div>
                               <div style="display:inline-block;">
                                   <div uib-datepicker ng-model="dte" class="well well-sm ic-datepicker" datepicker-options="DatePickerEndOptions"></div>
                               </div>
                           </div>
                           <a href="#" class="lbl-calendar"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                       </div>
                   </div>

                   <span class="fg-divider"></span>

                   <div class="form-group location-filter">

                       <label for="id_location">Location</label>

                       <script type="text/ng-template" id="customTemplate.html" class="ddown-entity">
                           <a><span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span></a>
                       </script>

                       <div class="input-ddown-block">
                           <div class="form-group">
                               <!--<pre>Model: {{customSelected | json}}</pre>-->
                               <input id="id_location" ng-model="customSelected"
                                      placeholder="e.g. London"
                                      uib-typeahead="location as location.country for location in locations | filter:{country:$viewValue}"
                                      typeahead-template-url="customTemplate.html"
                                      class="form-control input-field"
                                      typeahead-show-hint="false"
                                      typeahead-min-length="0"
                               >
                               <span class="fa fa-map-marker"></span>
                           </div>
                       </div>

                   </div>
                   <span class="fg-divider"></span>

                   <div class="form-group type-filter">
                       <label for="id_type">Type</label>

                       <script type="text/ng-template" id="customTemplate1.html" class="ddown-entity">
                           <a><span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span></a>
                       </script>

                       <div class="input-ddown-block">
                           <div class="form-group">
                               <!--<pre>Model: {{customSelected1 | json}}</pre>-->
                               <input id="id_type" ng-model="customSelected1"
                                      placeholder="e.g. Night Club"
                                      uib-typeahead="type as type.name for type in types | filter:{type:$viewValue}"
                                      typeahead-template-url="customTemplate1.html"
                                      class="form-control input-field"
                                      typeahead-show-hint="false"
                                      typeahead-min-length="0"
                               >
                               <span class="ic-caret">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="0 0 9 7">
                                        <path id="ic_caret" fill="#E5E5E5" fill-rule="evenodd" d="M1.234 4.355l2.501-2.967a1 1 0 0 1 1.53 0l2.501 2.967A1 1 0 0 1 7.002 6H1.998a1 1 0 0 1-.764-1.645z"/>
                                    </svg>
                               </span>
                           </div>
                       </div>

                   </div>
                   <span class="fg-divider"></span>

                   <button class="ic-btn ic-btn-blue">Search</button>
               </form>
           </div>
        </div>
    </div>
    <div class="container top-artists-header">
        <a href="#" ui-sref="app" class="back-link">
            <svg class="left-arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path fill="#4A90E2" id="back_lnk" fill-rule="evenodd" d="M2.9 4.5l2.45-2.45a.495.495 0 0 0-.7-.7L1.707 4.293a1 1 0 0 0 0 1.414L4.65 8.65a.495.495 0 0 0 .7-.7L2.9 5.5h5.6a.5.5 0 0 0 0-1H2.9z"/>
            </svg>
                Back to all top page
        </a>

        <span class="title">Top's music band</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="top-artists-block"></div>
            <div class="col-md-3" ng-repeat="art in allArtist['Singer'].artistList">
                <profile-preview data="art" avatar-type-class="'avatar-circle'"></profile-preview>
            </div>
        </div>

    </div>
</section>