<script>
    $('document').ready(function() {
        $('.dropdown-menu').on('click', function (event) {
            $(this).parent().one('hide.bs.dropdown', function(e) {
                e.preventDefault();
            });
        });
    });
</script>

<main class="event-page-section profile-main" ng-controller="EventsController">
    <div class="container top-banner-container">
        <div class="row">

            <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
            <!--<div class="banner-image empty">-->
            <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

            <div class="banner-image empty">
                <div class="save-event-form">
                    <span class="title">Are you ready to publish the event?</span>
                    <div class="btn-block">
                        <a href="#" class="ic-btn ic-btn-white">Save as Draft</a>
                        <a href="#" class="ic-btn ic-btn-green">Publish event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="profile-sidebar">
                    <div class="profile-sidebar-avatar empty">
                        <div class="avatar-img">
                            <!--<img src="../../../images/placeholder.svg" alt="artist-img">-->
                        </div>
                    </div>

                    <div class="profile-sidebar-content">
                        <h1 class="title">Rosie Shaw</h1>
                        <div class="subtitle">Festival</div>
                        <div class="about">You have not added a description of your event...</div>

                        <div class="event-agency">
                            <div class="title">Organizator:</div>
                            <mini-profile-preview
                                    data="{
                                            id: '0',
                                            photo: '../../../images/placeholder.svg',
                                            title: 'Walter Gonzales',
                                            country: 'Corporate events, Night Clubs',
                                            showLink: true,
                                            imgClass: 'square'
                                        }"
                                    show-index="0"
                            ></mini-profile-preview>
                        </div>
                        <ul class="fields">
                            <li class="item">
                                <ul class="fields">
                                    <li class="item d-flex align-items-center">
                                        <div class="item-icon">
                                            <img src="../../../images/map-baloon-icon.svg">
                                        </div>
                                        <div class="item-value">Croatia, New Ryannmouth</div>
                                    </li>
                                    <li class="item d-flex align-items-center">
                                        <div class="item-icon">
                                            <img src="../../../images/location-address.svg">
                                        </div>
                                        <div class="item-value empty">Not indicated</div>
                                    </li>
                                </ul>
                            </li>
                            <li class="item d-flex align-items-center">
                                <div class="item-icon">
                                    <img src="../../../images/date-start-end-icon.svg">
                                </div>
                                <div class="item-name">Date start / end</div>
                                <div class="item-value ml-auto">25 - 28 Dec, 2017</div>
                            </li>
                            <li class="item d-flex align-items-center">
                                <div class="item-icon">
                                    <img src="../../../images/time-icon.svg">
                                </div>
                                <div class="item-name">Time</div>
                                <div class="item-value ml-auto empty">Not indicated</div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div><!--.col-->

            <div class="col-md-9">
                <section class="profile-section">
                    <h3 class="profile-section-header">Artists taking part in the event</h3>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="item in [1,2,3]">
                            <div class="event-slot">
                                <div class="profile-preview-card">
                                    <div class="avatar circle">
                                        <div class="image">
                                            <img src="../../../images/placeholder.svg">
                                        </div>
                                    </div>
                                    <div class="about">
                                        <a class="title">Ms. Amalia Hoppe DDS</a>
                                        <div class="subtitle">Vocalist</div>
                                    </div>
                                </div>
                                <button class="event-slot-btn red remove" uib-tooltip="Remove artist" tooltip-placement="top">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                        <path fill="#E5E5E5" fill-rule="evenodd" d="M0 15c0 8.25 6.75 15 15 15s15-6.75 15-15S23.25 0 15 0 0 6.75 0 15zm16.5 1.5V21a1.5 1.5 0 0 1-3 0v-4.5H9a1.5 1.5 0 0 1 0-3h4.5V9a1.5 1.5 0 0 1 3 0v4.5H21a1.5 1.5 0 0 1 0 3h-4.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="event-slot dashed">
                                <div class="content">
                                    <div class="subtitle">We search:</div>
                                    <div class="title">Music group</div>
                                </div>
                                <button class="event-slot-btn red remove" uib-tooltip="Remove slot" tooltip-placement="top">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                        <path fill="#E5E5E5" fill-rule="evenodd" d="M0 15c0 8.25 6.75 15 15 15s15-6.75 15-15S23.25 0 15 0 0 6.75 0 15zm16.5 1.5V21a1.5 1.5 0 0 1-3 0v-4.5H9a1.5 1.5 0 0 1 0-3h4.5V9a1.5 1.5 0 0 1 3 0v4.5H21a1.5 1.5 0 0 1 0 3h-4.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="event-slot dashed create">
                                <button class="event-slot-btn inverse" data-toggle="dropdown" uib-tooltip="Add event slot" tooltip-placement="top">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                        <path fill="#E5E5E5" fill-rule="evenodd" d="M0 15c0 8.25 6.75 15 15 15s15-6.75 15-15S23.25 0 15 0 0 6.75 0 15zm16.5 1.5V21a1.5 1.5 0 0 1-3 0v-4.5H9a1.5 1.5 0 0 1 0-3h4.5V9a1.5 1.5 0 0 1 3 0v4.5H21a1.5 1.5 0 0 1 0 3h-4.5z"/>
                                    </svg>
                                </button>
                                <div class="dropdown-popup right">
                                    <h3 class="dropdown-title">Select the desired role</h3>
                                    <div class="form-tags-list inverse">
                                        <label class="tag-item" ng-repeat="tag in ['Blues', 'Comedy', 'Folk', 'Jazz', 'Latin', 'Pop', 'Rock', 'Hip Hop', 'R&B and Soul', 'Electronic']">
                                            <input type="radio" name="artist_skill" class="widget"><span class="inner">{{ ::tag }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="profile-section">
                    <h3 class="profile-section-header">Received applications<span class="separator">|</span><a href="">Reject all</a></h3>

                    <div class="profile-section__filter">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown">Show all <span class="caret"></span></button>
                        <div class="dropdown-popup right">
                            <ul class="dropdown-popup-menu">
                                <li class="item" ng-repeat="skillName in ['Artist', 'Vocalist', 'Promoter', 'DJ', 'Singer', 'Dancer', 'Music group']">
                                    <span class="value">{{ ::skillName }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" ng-repeat="item in [1,2,3,4]">
                            <div class="event-slot">
                                <div class="profile-preview-card">
                                    <div class="avatar circle">
                                        <div class="image">
                                            <img src="../../../images/placeholder.svg">
                                        </div>
                                    </div>
                                    <div class="about">
                                        <a class="title">Ms. Hoppe</a>
                                        <div class="subtitle">Vocalist</div>
                                        <div class="details">
                                            <span class="value">Offer: $ 435</span>
                                            <a class="link" href="#">Show offer details</a>
                                        </div>
                                    </div>
                                </div>
                                <button class="event-slot-btn green" uib-tooltip="Approve" tooltip-placement="top">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                        <path fill="#E5E5E5" fill-rule="evenodd" d="M0 15c0 8.25 6.75 15 15 15s15-6.75 15-15S23.25 0 15 0 0 6.75 0 15zm16.5 1.5V21a1.5 1.5 0 0 1-3 0v-4.5H9a1.5 1.5 0 0 1 0-3h4.5V9a1.5 1.5 0 0 1 3 0v4.5H21a1.5 1.5 0 0 1 0 3h-4.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4" ng-repeat="item in [1,2]">
                            <div class="event-slot">
                                <div class="profile-preview-card">
                                    <div class="avatar circle">
                                        <div class="image">
                                            <img src="../../../images/placeholder.svg">
                                        </div>
                                    </div>
                                    <div class="about">
                                        <a class="title">Ms. Amalia Hoppe DDS</a>
                                        <div class="subtitle">Vocalist</div>
                                        <div class="details">
                                            <span class="value">Offer: $ 435</span>
                                            <a class="link" href="#">Show offer details</a>
                                        </div>
                                    </div>
                                </div>
                                <button class="event-slot-btn green" disabled>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                        <path fill="#E5E5E5" fill-rule="evenodd" d="M0 15c0 8.25 6.75 15 15 15s15-6.75 15-15S23.25 0 15 0 0 6.75 0 15zm16.5 1.5V21a1.5 1.5 0 0 1-3 0v-4.5H9a1.5 1.5 0 0 1 0-3h4.5V9a1.5 1.5 0 0 1 3 0v4.5H21a1.5 1.5 0 0 1 0 3h-4.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="profile-section">
                    <h3 class="profile-section-header">Sent invitations</h3>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="item in [1,2]">
                            <div class="event-slot artist">
                                <div class="profile-preview-card">
                                    <div class="avatar circle">
                                        <div class="image">
                                            <img src="../../../images/placeholder.svg">
                                        </div>
                                    </div>
                                    <div class="about">
                                        <a class="title">Danny Watinks</a>
                                        <div class="subtitle">Vocalist</div>
                                    </div>
                                </div>
                                <button class="event-slot-btn red remove" uib-tooltip="Cancel invitation" tooltip-placement="top">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                        <path fill="#E5E5E5" fill-rule="evenodd" d="M0 15c0 8.25 6.75 15 15 15s15-6.75 15-15S23.25 0 15 0 0 6.75 0 15zm16.5 1.5V21a1.5 1.5 0 0 1-3 0v-4.5H9a1.5 1.5 0 0 1 0-3h4.5V9a1.5 1.5 0 0 1 3 0v4.5H21a1.5 1.5 0 0 1 0 3h-4.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.container-->
</main>