<section class="create-initial-section event-section" ng-controller="RegistrationController">
    <div class="container">

        <script>
            $('.form-control').on('focus blur', function (e) {
                $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
            }).trigger('blur');

            function resizable (el, factor) {
                var int = Number(factor) || 7.7;
                function resize() {el.style.width = ((el.value.length+1) * int) + 'px'}
                var e = 'keyup,keypress,change'.split(',');
                for (var i in e) el.addEventListener(e[i],resize,false);
                resize();
            }
            resizable(document.getElementsByName('event-name')[0],7);
        </script>

        <form class="create-form" name="create-form" novalidate>
            <div class="row">

                <div class="col-md-offset-2 col-md-4">
                    <fieldset>
                        <div class="form-group styled-placeholder">
                            <label class="control-label">Add an event name</label>
                            <input class="form-control" autocomplete="off" type="text" name="event-name" ng-model="event.name" ng-required="true">
                            <span class="bar"></span>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-4">
                    <fieldset>
                        <div class="form-group styled-placeholder">
                            <select id="change_organizator">
                                <option value="" selected disabled>Change organizator</option>
                                <option value="1">Organizator1</option>
                                <option value="2">Organizator2</option>
                            </select>
                            <span class="caret ic-ddown-caret"></span>
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6 options">
                    <div class="row settings-option" ng-repeat="items in events">
                        <div class="col-md-3 content" ng-repeat="item in items">
                            <div class="hover-container" ng-class="item.isChecked ? 'checked' : ''">
                                <input type="checkbox" ng-attr-id="{{'info' + item.id}}" ng-model="item.isChecked" />
                                <label ng-attr-for="{{'info' +item.id}}" ng-click="getIcon(item)">
                                    <div class="{{item.literal}}"></div>
                                    <div class="title">{{item.name}}</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="ic-btn ic-btn-blue big">Create Event</button>
                </div>
            </div>
        </form>

    </div><!--.container-->
</section>