<section class="create-initial-section" ng-controller="RegistrationController">
    <div class="container">
        <form name="create-form" novalidate>
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <div class="form-group form-group--big float-label form-group--profile-create">
                        <label class="control-label">Add an event name</label>
                        <input class="form-control" autocomplete="off" type="text" name="event-name" ng-model="event.name" ng-required="true">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group form-group--big form-group--icon float-label form-group--profile-create">
                        <label class="control-label">Choose organizator</label>
                        <input ng-model="customSelected"
                               class="form-control"
                               uib-typeahead="artist as artist.firstName for artist in artistList | filter:{firstName:$viewValue}"
                               typeahead-template-url="profilePreview.html"
                               typeahead-show-hint="false"
                               typeahead-min-length="0">
                        <div class="control-icon"><span class="caret"></span></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6 options">
                    <div class="row settings-option" ng-repeat="items in events">
                        <div class="col-md-3 content" ng-repeat="item in items">
                            <div class="hover-container" ng-class="item.isChecked ? 'checked' : ''">
                                <input type="checkbox" ng-attr-id="{{'info' + item.id}}" ng-model="item.isChecked" />
                                <label ng-attr-for="{{'info' +item.id}}" ng-click="getIcon(item)">
                                    <div class="{{item.literal}}"></div>
                                    <div class="title">{{item.name}}</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="ic-btn ic-btn-blue big">Create Event</button>
                </div>
            </div>
        </form>
    </div><!--.container-->
</section>

<script>
    $('.form-control').on('focus blur', function (e) {
        $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
    }).trigger('blur');
</script>

<script type="text/ng-template" id="profilePreview.html">
    <div class="profile-preview-card">
        <div class="profile-preview-card__avatar circle">
            <div class="image">
                <img src="../../../images/placeholder-artist.svg">
            </div>
        </div>
        <div class="profile-preview-card__about">
            <div class="profile-preview-card__about-title" ng-bind-html="match.label | uibTypeaheadHighlight:query"></div>
            <div class="profile-preview-card__about-subtitle">Artist</div>
        </div>
    </div>
</script>