<script>
    $('document').ready(function() {
        $('.dropdown-menu').on('click', function (event) {
            $(this).parent().one('hide.bs.dropdown', function(e) {
                e.preventDefault();
            });
        });

        $('textarea').autosize();
    });
</script>

<main class="event-page-section profile-main event-page-settings-section" ng-controller="EventsController">
    <div class="container top-banner-container">
        <div class="row">

            <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
            <div class="banner-image empty">
                <span class="caption">recommended 1300 x 200 px</span>

                <div class="save-event-form">
                    <span class="title">Are you ready to publish the event?</span>
                    <div class="btn-block">
                        <a href="#" class="ic-btn ic-btn-white">Delete event</a>
                        <a href="#" class="ic-btn ic-btn-green">Publish event</a>
                    </div>
                </div>
            </div>
            <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

            <!--<div class="banner-image">-->

                <!--<div class="save-event-form">-->
                    <!--<span class="title">Are you ready to publish the event?</span>-->
                    <!--<div class="btn-block">-->
                        <!--<a href="#" class="ic-btn ic-btn-white">Save as Draft</a>-->
                        <!--<a href="#" class="ic-btn ic-btn-green">Publish event</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">

                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <div class="hero-avatar empty">
                    <div class="avatar-img">
                        <span class="caption">recommended 300 x 300 px</span>
                    </div>
                </div>
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                <!--<div class="hero-avatar">-->
                    <!--<div class="avatar-img">-->
                        <!--<img src="../../../images/placeholder.svg" alt="artist-img">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="hero-actions">
                    <button class="ic-btn ic-btn-blue" ui-sref="app.personal-artist.config" disabled>Change event information</button>

                    <button class="ic-btn ic-btn-orange" ui-sref="app.event-page-settings">Manage participants</button>
                </div>

                <div class="hero-desc box-content">
                    <div class="hero-descr-block">
                        <h1 class="hero-desc-name">Transnation</h1>
                        <small class="hero-desc-caption">Festival</small>

                        <div class="hero-desc-about">
                            <span class="empty">Enter information about your event ...</span>
                        </div>
                    </div>

                    <div class="hero-organizator">
                        <div class="title">Organizator:</div>
                        <mini-profile-preview
                                data="{
                                id: '0',
                                photo: '',
                                title: 'Walter Gonzales',
                                country: 'Corporate events, Night Clubs',
                                showLink: true,
                                imgClass: 'square'
                            }"
                                show-index="0"
                        ></mini-profile-preview>
                    </div>

                    <div class="hero-desc-list">
                        <div class="item">
                            <span class="icon"><img src="../../../images/map-baloon-icon.svg" alt="..."></span>
                            <span class="title">Location</span>
                            <span class="value"><span class="not-indicated">not indicated</span></span>
                        </div>

                        <!--<div class="address">2760 Ora Bypass</div>-->
                        <div class="address"><span class="not-indicated">not indicated</span></div>

                        <div class="item">
                            <span class="icon"><img src="../../../images/date-start-end-icon.svg" alt="..."></span>
                            <span class="title">Date Start / End</span>
                            <span class="value text-blue">22 sep - 24 sep 2017</span>
                        </div>
                        <div class="item">
                            <span class="icon"><img src="../../../images/time-icon.svg" alt="..."></span>
                            <span class="title">Time</span>
                            <span class="value text-orange"><span class="not-indicated">not indicated</span></span>
                        </div>
                    </div>

                </div>
            </div><!--.col-->

            <div class="col-xs-9">
                <div class="row">
                    <form name="setting" ng-submit="save_event()" class="profile-edit-form" novalidate>
                        <div class="col-xs-8">
                            <section class="profile-section">
                                <h1 class="profile-section-header">Profile Information Setting</h1>
                                <div class="profile-section-body">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Event Type</label>
                                        <div class="col-xs-9">
                                            <div class="form-tags-list">
                                                <label class="tag-item" ng-repeat="tag in ['Blues', 'Comedy', 'Folk', 'Jazz', 'Latin', 'Pop', 'Rock', 'Hip Hop', 'R&B and Soul', 'Electronic']">
                                                    <input type="checkbox" name="artist_skill" class="widget"><span class="inner">{{ ::tag }}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Description</label>
                                        <div class="col-xs-8">
                                            <textarea class="form-control" ng-required="true" rows="5">In the 80s, the hair accessory was invaluable. Almost every style involved some sort of hair accessory or embellishment to really set it off. Today, the hair accessory is not a part of everyday style and care should be taken as to when and how to use the look dated.</textarea>
                                            <span class="symbols-counter">There are 130 characters left to limit</span>
                                        </div>
                                        <div class="col-xs-1 control-icon">
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                                    <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Location</label>
                                        <div class="col-xs-8 editable-form">
                                            <span class="form-value" ng-show="!locationEditable" ng-click="edit($event)">London, United Kindom</span>
                                            <div class="editable-block" ng-show="locationEditable">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <input type="text" placeholder="City..." value="">
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <select name="location_countries" id="location_countries" ng-model="user.country">
                                                            <option value="" selected disabled>Select country...</option>
                                                            <option value="1">London</option>
                                                            <option value="2">USA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <select name="location_state" id="location_state" ng-show="user.country == 2">
                                                            <option value="" selected disabled>Select state...</option>
                                                            <option value="1">MI</option>
                                                            <option value="2">NY</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <input type="text" class="address" placeholder="Address..." value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1 control-icon">
                                            <a href="#" ng-click="edit($event)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                                    <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div><!--.col-->
                        <div class="col-xs-4">
                            <section class="profile-section">
                                <h1 class="profile-section-header">Time & Date</h1>
                                <div class="profile-section-body">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Date Start</label>
                                        <div class="col-xs-6">
                                            <div class="dropdown">
                                                <button class="dd-datetime" id="date_start" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{dt ? dt : dateNow | date:'d MMM y' }}
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-form ddatetime" aria-labelledby="date_start">
                                                    <div class="picker-title">
                                                        Set a date start
                                                    </div>
                                                    <div style="display:inline-block;">
                                                        <div uib-datepicker ng-model="dt" class="well well-sm ic-datepicker" datepicker-options="DatePickerOptions"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 control-icon">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Date Ended</label>
                                        <div class="col-xs-6">
                                            <button class="dd-datetime" id="date_ended" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{dte ? dte : dateNow | date:'d MMM y' }}
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-form ddatetime" aria-labelledby="date_ended">
                                                <div class="picker-title">
                                                    Set a date ended
                                                </div>
                                                <div style="display:inline-block;">
                                                    <div uib-datepicker ng-model="dte" class="well well-sm ic-datepicker" datepicker-options="DatePickerEndOptions"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 control-icon">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Time Start</label>
                                        <div class="col-xs-6">
                                            <button class="dd-datetime" id="time_start" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                11:01 PM
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-form ddatetime" aria-labelledby="time_start">
                                                <div ng-include="'views/template/timepicker.html'" ng-init="headerTitle = 'Time Start'"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 control-icon">
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Time Ended</label>
                                        <div class="col-xs-6">
                                            <button class="dd-datetime" id="time_ended" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                11:01 PM
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-form ddatetime" aria-labelledby="time_ended">
                                                <div ng-include="'views/template/timepicker.html'" onload="headerTitle = 'Time Ended'"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 control-icon">
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div><!--.col-->

                        <div class="col-xs-12">
                            <div class="actions">
                                <button class="ic-btn ic-btn-white ic-btn-delete pull-left">Delete event</button>
                                <button type="submit" class="ic-btn ic-btn-green pull-right" ng-disabled="setting.$invalid">Save Settings</button>
                                <button class="ic-btn ic-btn-white pull-right" ui-sref="app.event-page">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--.row-->

    </div><!--.container-->
</main>