<main class="event-page-section profile-main" ng-controller="EventsController">
    <div class="container top-banner-container">
        <div class="banner-image empty"></div>

        <div class="event-invitation">
            <div class="title">You have an invitation to this event</div>
            <div class="body">
                <div class="price">$ 230</div>
                <div class="message">Aliquam ut dolor interdum, condimentum tortor ac, semper erat. Proin maximus nulla ut commodo sollicitudin. Fusce sollicitudin, lorem eget eleifend sollicitudin, enim erat faucibus elit, a imperdiet sem lectus et nisl. Nullam blandit risus quis diam euismod, a porta diam ullamcorper. Ut ultricies velit tellus. Fusce molestie metus orci, sed sodales lorem laoreet nec. Quisque laoreet volutpat nisi. Curabitur sed convallis magna.</div>
                <!--<div class="message">Aliquam ut </div>-->
            </div>
            <div class="footer">
                <button class="ic-btn ic-btn-green" ng-click="showSuccessNotification()">Accept request</button>
                <button class="ic-btn ic-btn-red counteroffer">Counteroffer</button>
                <button class="ic-btn ic-btn-white reject" ng-click="showErrorNotification()">Reject</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="profile-sidebar">
                    <div class="profile-sidebar-avatar empty">
                        <div class="avatar-img">
                            <!--<img src="../../../images/placeholder.svg" alt="artist-img">-->
                        </div>
                    </div>

                    <div class="profile-sidebar-content">
                        <h1 class="title">Rosie Shaw</h1>
                        <div class="subtitle">Festival</div>
                        <div class="about">You have not added a description of your event...</div>

                        <div class="event-agency">
                            <div class="title">Organizator:</div>
                            <mini-profile-preview
                                    data="{
                                        id: '0',
                                        photo: '../../../images/placeholder.svg',
                                        title: 'Walter Gonzales',
                                        country: 'Corporate events, Night Clubs',
                                        showLink: true,
                                        imgClass: 'square'
                                    }"
                                    show-index="0"
                            ></mini-profile-preview>
                        </div>
                        <ul class="fields">
                            <li class="item">
                                <ul class="fields">
                                    <li class="item d-flex align-items-center">
                                        <div class="item-icon">
                                            <img src="../../../images/map-baloon-icon.svg">
                                        </div>
                                        <div class="item-value">Croatia, New Ryannmouth</div>
                                    </li>
                                    <li class="item d-flex align-items-center">
                                        <div class="item-icon">
                                            <img src="../../../images/location-address.svg">
                                        </div>
                                        <div class="item-value empty">Not indicated</div>
                                    </li>
                                </ul>
                            </li>
                            <li class="item d-flex align-items-center">
                                <div class="item-icon">
                                    <img src="../../../images/date-start-end-icon.svg">
                                </div>
                                <div class="item-name">Date start / end</div>
                                <div class="item-value ml-auto">25 - 28 Dec, 2017</div>
                            </li>
                            <li class="item d-flex align-items-center">
                                <div class="item-icon">
                                    <img src="../../../images/time-icon.svg">
                                </div>
                                <div class="item-name">Time</div>
                                <div class="item-value ml-auto empty">Not indicated</div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div><!--.col-->

            <div class="col-md-9">
                <section class="profile-section">
                    <h3 class="profile-section-header">Artists taking part in the event</h3>
                    <div class="profile-section-body transparent">
                        <p class="empty-state">You have not received any applications for participation in your event.</p>
                    </div>
                </section>
                <section class="profile-section">
                    <h3 class="profile-section-header">Other activities of the organizer</h3>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="item in [1,2,3]">
                            <event-card
                                    data="{
                            id: 0,
                            title: 'Romantic Ballads',
                            imgUrl: '../../images/fixtures/events/1.png',
                            eventText: 'A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p> <p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes. </p> <p>A purpose is the eternal condition for success.Every former smoker can tell you just how hard it is to stop smoking cigarettes.',
                            eventType: 'Concert',
                            eventLocation: 'UK, London',
                            eventDate: '12 nov 2016, 22:00 - 5:00',
                            eventArtist: [
                                {
                                    id: 1,
                                    artistImg: '../../images/fixtures/artist/1@2x.png'
                                },
                                {
                                    id: 1,
                                    artistImg: '../../images/placeholder.svg'
                                },
                                {
                                    id: 0,
                                    artistImg: '../../images/placeholder.svg'
                                },
                                {
                                    id: 0,
                                    artistImg: '../../images/placeholder.svg'
                                },
                                {
                                    id: 0,
                                    artistImg: '../../images/placeholder.svg'
                                }
                            ]

                        }"
                            ></event-card>
                        </div>
                    </div>
                </section>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.container-->
</main>