.event-page-section {
  padding-top: @top-menu-height;
  background-color: @pale-grey;

  .top-banner-container {
    width: 1300px;

    .banner-image {
      max-height: 200px;
      position: relative;

      img {
        max-width: 100%;
        height: auto;
        width: 100%;
        display: block;
      }

      &.empty {
        border: 1px dashed #e5e5e5;
        background-color: #fafafa;
        background-image: url('@{ic-path-images}/photo-empy-icon.svg');
        background-repeat: no-repeat;
        background-position: center 58px;
        background-size: 50px 45px;
        min-height: 200px;

        .caption {
          .h1-black;
          color: #999;
          position: relative;
          display: block;
          width: 100%;
          margin: 130px auto 0;
          text-align: center;
        }
      }

      .save-event-form {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;

        .title {
          .h1-black;
          padding-bottom: 16px;
          display: block;
        }

        .ic-btn {
          padding: 0 55px;
          min-width: 200px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      &:hover {
        .ic-image-selector {
          opacity: 1 !important;
          bottom: 20px;
        }
      }

      .ic-image-selector {
        right: 20px;
        bottom: 5px;
      }
    }
  }

  .hero-avatar {
    margin-top: -160px;
  }

  .hero-desc {
    padding: 22px 0 0 0;
    margin-top: 20px;

    .hero-organizator {
      padding: 0 20px;

      .title {
        .h1-black;
        margin-bottom: 17px;
      }
    }

    .hero-desc-list {
      .title {
        margin: 0 auto;
        margin-left: 21px;
      }
    }

  }
}

.event-slot {
  .content-plate;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  overflow: hidden;

  .profile-section & {
    margin-bottom: 20px;
  }

  .content, .profile-preview-card {
    min-width: 0;
    margin-right: 20px;
  }

  .profile-preview-card {
    .details {
      color: @black;
      font-size: 11 * @rem;
      line-height: 1;
      margin-top: 9px;

      .link {
        font-size: 1em;
        line-height: 1;
        display: none;
      }
    }
  }

  .content {
    letter-spacing: .4px;

    .subtitle {
      color: @cool-grey;
      font-size: 10 * @rem;
      line-height: 1.8;
    }

    .title {
      display: block;
      font-size: 14 * @rem;
      font-weight: 600;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.dashed {
    border-color: @light-grey;
  }

  &:hover {
    .profile-preview-card .details {
      .value {
        display: none;
      }

      .link {
        display: inline-block;
      }
    }
  }

  &.create {
    background: transparent;
    justify-content: center;
    width: 100px;
    position: relative;
    overflow: initial;

    .dropdown-popup {
      transform: translate(5px, -10px);
      width: 380px;
    }
  }

  &-btn {
    border: 0 none;
    border-radius: 50%;
    background-color: fade(@dark-sky-blue, 5%);
    line-height: 1;
    color: white;

    padding: 5px;
    height: 40px;
    width: 40px;

    &:focus {
      outline: none;
      border: solid 1px fade(@dark-sky-blue, 25%);
      padding: 4px;
    }

    svg {
      path {
        fill: currentColor;
      }
    }

    &.inverse {
      color: @black;
    }

    &.green {
      color: @green;
    }

    &.red {
      color: @iConnect-red;
    }

    &.remove {
      svg {
        transform: rotate(45deg);
      }
    }

    &:disabled {
      color: @light-grey;
    }
  }
}

// TODO move to profile related less
.profile-section {
  margin-top: 36px;
  position: relative;

  &__filter {
    line-height: 0;
    position: absolute;
    top: 0;
    right: 0;

    .dropdown-toggle {
      .h1-base;
      background: none;
      border: 0 none;
      padding: 0;
    }

    .dropdown-popup {
      transform: translateY(15px);
      width: 180px;
      min-width: 180px;
    }
  }

  &-header {
    .h1-black;
    display: block;
    margin-bottom: 17px;

    .separator {
      margin: 0 15px;
    }

    a {
      color: @bright-orange;

      &:hover {
        color: lighten(@bright-orange, 20%);
      }
    }
  }

  &-body {
    .content-plate;

    .empty-state {
      color: @cool-grey;
      font-size: 18 * @rem;
      font-weight: 400;
      margin: 30px auto;
      text-align: center;
      width: 70%;
    }
  }
}

// TODO replace all profiles by this every where
.profile-preview-card {
  display: flex;
  align-items: center;

  .avatar {
    height: 60px;
    width: 60px;
    min-width: 60px;
    margin-right: 20px;

    position: relative;

    .image {
      border-radius: 4px;
      overflow: hidden;

      img {
        align-self: center;
        max-width: 100%;
      }
    }

    &.circle {
      .image {
        border-radius: 50%;
      }
    }
  }

  .about {
    min-width: 0;

    .title {
      color: @black;
      font-size: 14 * @rem;
      font-weight: 600;
      line-height: 1.4;

      display: block;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: @bright-orange
      }
    }

    .subtitle {
      color: @cool-grey;
      font-size: 10 * @rem;
      line-height: 1.7;
    }
  }
}

// TODO move to new file Dropdown popup
.dropdown-popup {
  .open & {
    display: block;
  }

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  color: @iConnect-white;
  font-size: 14 * @rem;
  font-weight: 400;

  background-color: @black;
  border-radius: 10px;
  box-shadow: 0 12px 20px fade(@black, 30%);
  display: none;
  min-width: 250px;
  padding: 16px 20px;

  &:after {
    content: ' ';
    display: block;
    background-image: url('@{ic-path-images}/dropdown-arrow-inverse.png');
    background-image: -webkit-image-set(url('@{ic-path-images}/dropdown-arrow-inverse.png') 1x, url('@{ic-path-images}/dropdown-arrow-inverse@2x.png') 2x, url('@{ic-path-images}/dropdown-arrow-inverse@3x.png') 3x);
    height: 13px;
    width: 100px;

    position: absolute;
    top: -13px;
    left: 10px;
    z-index: 999;
  }

  &.right {
    left: auto;
    right: 0;

    &:after {
      right: 10px;
      left: auto;
    }
  }

  .dropdown-title {
    font-size: 10 * @rem;
    text-transform: uppercase;
    letter-spacing: .3px;
    border-bottom: solid 1px fade(@iConnect-white, 20%);
    margin: 0 0 20px;
    padding: 0 0 16px;
  }

  &-menu {
    margin: 0;

    .item {
      font-size: 14 * @rem;
      font-weight: 400;
      cursor: pointer;
      line-height: 1.5em;
      padding: 0 20px;
      margin: 0 -20px -1px;

      .value {
        display: block;
        padding: 9px 0 7px;
      }

      &:hover {
        background-color: #464646;

        .value {
          border-color: transparent;
        }
      }

      + .item {
        .value {
          border-top: solid 1px #464646;
        }
      }
    }
  }
}

// TODO move to new file Form tags list
.form-tags-list {
  .tag-item {
    margin: 5px;

    color: @black;
    font-size: 10 * @rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 1.2em;

    cursor: pointer;

    .inverse& {
      color: @iConnect-white;
    }

    .inner {
      .inverse& {
        background-color: fade(@iConnect-white, 20%);
        border-color: fade(@iConnect-white, 7%);
      }

      background-color: @pale-grey;
      border: solid 1px darken(@pale-grey, 5%);
      border-radius: 15px;
      display: inline-block;
      padding: 7px 19px;
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: border-color .1s ease;

      &::selection {
        color: inherit;
        background: none;
      }
    }

    .widget {
      display: none;
      visibility: hidden;

      &:checked ~ .inner {
        color: @iConnect-white;
        background-color: @iConnect-blue;
        border-color: @iConnect-blue;
      }
    }

    &:hover, &:focus {
      .inner {
        border-color: @iConnect-blue;
      }

      .widget:checked ~ .inner {
        border-color: darken(@iConnect-blue, 10%);
      }
    }

    &:focus {
      outline: 0;

      * {
        outline: 0;
      }
    }
  }
}