.event-page-section {
  .top-banner-container {
    margin-top: @top-menu-height - @section-padding-top ;
    width: 1300px;

    .banner-image {
      max-height: 200px;
      position: relative;

      img {
        max-width: 100%;
        height: auto;
        width: 100%;
        display: block;
      }

      &.empty {
        border: solid 1px @border-grey;
        background: #fcfcfc url('@{ic-path-images}/photo-empy-icon.svg') center 78px no-repeat;
        background-size: 50px 45px;
        min-height: 200px;
      }

      .save-event-form {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;

        .title {
          .h1-black;
          padding-bottom: 16px;
          display: block;
        }

        .ic-btn {
          padding: 0 55px;
          min-width: 200px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      &:hover {
        .ic-image-selector {
          opacity: 1 !important;
          transform: translateY(20px);
        }
      }

      .ic-image-selector {
        right: 20px;
        transform: translateY(5px);
      }
    }
  }

  .profile-sidebar {
    margin-top: -160px;
  }
}

.event-slot {
  .content-plate;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  overflow: hidden;

  .profile-section & {
    margin-bottom: 20px;
  }

  .content, .profile-preview-card {
    min-width: 0;
    margin-right: 20px;
  }

  .profile-preview-card {
    .details {
      color: @black;
      font-size: 11 * @rem;
      line-height: 1;
      margin-top: 9px;

      .link {
        font-size: 1em;
        line-height: 1;
        display: none;
      }
    }
  }

  .content {
    letter-spacing: .4px;

    .subtitle {
      color: @cool-grey;
      font-size: 10 * @rem;
      line-height: 1.8;
    }

    .title {
      display: block;
      font-size: 14 * @rem;
      font-weight: 600;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.dashed {
    border-color: @light-grey;
  }

  &:hover {
    .profile-preview-card .details {
      .value {
        display: none;
      }

      .link {
        display: inline-block;
      }
    }
  }

  &.create {
    background: transparent;
    justify-content: center;
    width: 100px;
    position: relative;
    overflow: initial;

    .dropdown-popup {
      transform: translate(5px, -10px);
      width: 380px;
    }
  }

  &-btn {
    border: 0 none;
    border-radius: 50%;
    background-color: fade(@dark-sky-blue, 5%);
    line-height: 1;
    color: white;

    padding: 5px;
    height: 40px;
    width: 40px;

    &:focus {
      outline: none;
      border: solid 1px fade(@dark-sky-blue, 25%);
      padding: 4px;
    }

    svg {
      path {
        fill: currentColor;
      }
    }

    &.inverse {
      color: @black;
    }

    &.green {
      color: @green;
    }

    &.red {
      color: @iConnect-red;
    }

    &.remove {
      svg {
        transform: rotate(45deg);
      }
    }

    &:disabled {
      color: @light-grey;
    }
  }
}