.add-role-section {
  .add-place {
    background-color: #4a90e2;
    border: 0;
    box-shadow: none;
    .title-H4;
    color: #fff;
    padding: 23px 20px;
    margin: 0 0 20px 0;
    border-radius: 4px;
    line-height: 4;
    width: 100%;
    text-align: center;
    outline: none;
  }

  .add-role-dropdown {
    border: none;
    min-width: 450px;
    right: 10px;
    left: auto;
    padding: 0;
    top: 83%;

    .header {
      padding: 16px 20px 17px 20px;
      border-bottom: 1px solid #f2f2f2;
      position: relative;

      &:before {
        content: '';
        background-image: url('@{ic-path-images}/wave_for_dropdown.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -19px;
        right: 0;
        display: inline-block;
        width: 140px;
        height: 20px;
      }

      .title {
        .section-title-black;
      }
    }

    .content {
      padding: 20px;
    }
  }

  .artist-role-block {
    display: inline-block;
    padding: 0 11px;
    margin: 0 10px 10px 0;
    background-color: #fafafa;
    border: 1px dashed #e5e5e5;
    border-radius: 20px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
    height: 30px;

    input {
      display: none;
    }

    .role-name {
      color: #fff;
      .text-default;
      font-weight: @fw-semibold;
      text-transform: uppercase;
      line-height: 28px;
    }

    .role-switch {
      display: none;
      color: #333;
    }

    &:hover, &:active, &:focus {
      background-color: lighten(#fafafa, 20%);
    }

    &.active {
      background-color: #4a90e2;
      border: 1px solid #4a90e2;
      text-align: left;

      .role-name {
        color: #fff;
      }

      .role-switch {
        float: right;
        display: inline;
        color: #fff;
        margin-left: 9px;

        .fa {
          font-size: 14 * @rem;
          line-height: 28px;
        }
      }

      &:hover, &:active, &:focus {
        background-color: darken(#4a90e2, 20%);
      }
    }

  }
}