.event-page-settings-section {

  .dropdown-menu-form {
    min-width: 300px;
    border: none;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .picker-title {
      .h1-black;
      display: block;
      margin-bottom: 17px;
    }

    &.ddatetime {
      padding: 20px;
    }
  }

  .dd-datetime {
    border: none;
    background-color: transparent;
    .text-default-medium;
    outline: none;
    width: 95px;
  }

  // Don't remove! Only for frontend project
  .dropdown-menu-form {
    width: 300px!important;
  }

  .form-group.ic-datetime {
    .separate {
      padding-right: 30px;
      position: relative;

      &:after {
        content: '';
        display: block;
        background: #f2f2f2;
        height: 30px;
        width: 1px;
        position: absolute;
        right: 10px;
        top: 0;
      }
    }

    label, .form-control {
      margin: 0;
      height: 30px;
      line-height: 30px;
    }

    .form-control {
      background-repeat: no-repeat;
      background-position: right center;
      padding: 0 30px 0 0;
      text-align: right;

      &.date {
        background-image: url('@{ic-path-images}/date-start-end-icon.svg');
      }

      &.time {
        background-image: url('@{ic-path-images}/time-icon.svg');
      }
    }
  }
}