.event-page-section {
  padding-top: @top-menu-height;

  .top-banner-container {
    width: 1300px;

    .banner-image {
      max-height: 200px;
      position: relative;

      img {
        max-width: 100%;
        height: auto;
        width: 100%;
        display: block;
      }

      &.empty {
        border: 1px dashed #e5e5e5;
        background-color: #fafafa;
        background-image: url('@{ic-path-images}/photo-empy-icon.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50px 45px;
        min-height: 200px;

        .caption {
          .section-title-black;
          color: #999;
          position: relative;
          display: block;
          width: 100%;
          margin: 130px auto 0;
          text-align: center;
        }
      }

      .save-event-form {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: #fff;
        padding: 20px;

        .title {
          .section-title-black;
          padding-bottom: 16px;
          display: block;
        }

        .ic-btn {
          padding: 0 55px;
          min-width: 200px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      &:hover {
        .ic-image-selector {
          opacity: 1 !important;
          bottom: 20px;
        }
      }

      .ic-image-selector {
        right: 20px;
        bottom: 5px;
      }
    }
  }

  .hero-avatar {
    margin-top: -160px;
  }

  .hero-desc {
    padding: 22px 0 0 0;
    margin-top: 20px;

    .hero-descr-block {
      margin-bottom: 33px;
    }
    .hero-organizator {
      padding: 0 20px;

      .title {
        .section-title-black;
        margin-bottom: 17px;
      }
    }

    .hero-desc-list {
      .title {
        margin: 0 auto;
        margin-left: 21px;
      }
    }

  }

  .card-small {
    &.person-interested-in {
      padding: 20px;
      border-radius: 4px;
      border: 1px solid #f2f2f2;
    }
  }

  .event-content {
    margin: 36px 0;

    .section-title {
      .section-title-black;
      margin-bottom: 17px;
      display: block;
    }
  }

  .add-place {
    background-color: transparent;
    border: 1px dashed #f2f2f2;
    box-shadow: none;
    color: #4a90e2;
    font-size: 2.5rem;
    padding: 21.5px 20px;
    margin: 0 0 20px 0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    outline: none;

    &:visited {
      color: #4a90e2;
    }
    &:hover, &:focus {
      color: #2c72c4;
    }
    &:active {
      color: #2c72d8;
    }
  }

  .add-role-dropdown {
    border: none;
    min-width: 450px;
    right: 10px;
    left: auto;
    padding: 0;
    top: 83%;
    margin: 0;

    .header {
      padding: 16px 20px 17px 20px;
      border-bottom: 1px solid #f2f2f2;
      position: relative;

      &:before {
        content: '';
        background-image: url('@{ic-path-images}/wave_for_dropdown.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -18px;
        right: 0;
        display: inline-block;
        width: 140px;
        height: 20px;
      }

      .title {
        .section-title-black;
      }
    }

    .content {
      padding: 20px;
    }
  }

  .artist-role-block {
    display: inline-block;
    padding: 0 11px;
    margin: 0 10px 10px 0;
    background-color: #fafafa;
    border: 1px dashed #e5e5e5;
    border-radius: 20px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
    height: 30px;

    input {
      display: none;
    }

    .role-name {
      color: #fff;
      .text-default;
      font-weight: @fw-semibold;
      text-transform: uppercase;
      line-height: 28px;
    }

    .role-switch {
      display: none;
      color: #333;
    }

    &:hover, &:active, &:focus {
      background-color: lighten(#fafafa, 20%);
    }

    &.active {
      background-color: #4a90e2;
      border: 1px solid #4a90e2;
      text-align: left;

      .role-name {
        color: #fff;
      }

      .role-switch {
        float: right;
        display: inline;
        color: #fff;
        margin-left: 9px;

        .fa {
          font-size: 14 * @rem;
          line-height: 28px;
        }
      }

      &:hover, &:active, &:focus {
        background-color: darken(#4a90e2, 20%);
      }
    }

  }

}