<script>
    $('document').ready(function() {
        $('textarea').autosize();
    });
</script>

<section class="profile-section" ng-controller="PersonalController">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <!--<div class="hero-avatar empty">-->
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                <div class="hero-avatar circle">
                    <figure class="progressive-image">
                        <div class="h-aspect-ratio">
                            <div class="aspect-ratio-fill" style="padding-bottom: 100%;"></div>
                            <div class="image">
                                <canvas class="canvas-thumbnail" width="20" height="20"></canvas>
                                <img class="image-original" src="../../../images/placeholder.svg" alt="avatar">
                            </div>
                        </div>
                    </figure>

                    <div class="ic-image-selector">
                        <ul class="list-unstyled">
                            <li><a href="#" class="upload" title="Upload">&nbsp;</a></li>
                            <li><a href="#" class="cut" title="Cut">&nbsp;</a></li>
                            <li><a href="#" class="trash" title="Delete">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>

                <div class="hero-actions">
                    <button class="ic-btn ic-btn-blue" ui-sref="app.personal-artist.config">Change profile information</button>
                </div>

                <div class="hero-desc box-content">
                    <div class="hero-descr-block">
                        <h1 class="hero-desc-name">Sarah Dawson</h1>
                        <small class="hero-desc-caption">Singer</small>
                        <div class="artist-rating">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                            </ul>
                            <span class="rating-value">Rating 5.35</span>
                        </div>
                        <div class="hero-desc-about text-collapsed" data-id="hdc" ng-click="showCloseText($event, 'hdc')">
                            <p>
                                This article covers the basics of Astrology and how they are inter-related.
                                Astrology is defined as ‘the art or practice of determining the supposed influences of the planets
                                and their motions on human affairs and human disposition’.
                                and their motions on human affairs and human disposition’.
                                and their motions on human affairs and human disposition’.
                                and their motions on human affairs and human disposition’.
                                and their motions on human affairs and human disposition’.
                                and their motions on human affairs and human disposition’.
                            </p>
                        </div>

                        <ul class="list-unstyled artist-genres">
                            <li ng-repeat="gen in genres">
                                <a href="#">{{ gen.title }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="hero-desc-list">
                        <div class="item">
                            <span class="title">Location</span>
                            <span class="value">Belarus&nbsp;<img src="../../../images/flag-british-icon.svg" alt="UK"></span>
                        </div>
                        <div class="item">
                            <span class="title">iTunes link</span>
                            <span class="value text-blue">SarahDawson</span>
                        </div>
                        <div class="item">
                            <span class="title">Soundcloud</span>
                            <span class="value text-orange">SarahDawson</span>
                        </div>
                        <div class="item">
                            <a href="#" class="share-profile-lnk" ng-click="showSocialDialog($event);">Share profile</a>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-class="divShow == 'photo' || divShow == 'video' ? 'col-md-9' : 'col-md-6'">
                <div class="row-content" ng-show="divShow == 'allMedia'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media-content box-content">
                                <div class="mc-title">
                                    <span>Photo (12)</span>
                                    <a href="#">Add photo</a>
                                </div>

                                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                                <!--<div class="mc-content empty photo">-->
                                    <!--<span>Upload a Photo</span>-->
                                <!--</div>-->
                                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                                <!--DON'T DELETE - IT'S FOR CONTENT -->
                                <!--<div class="mc-content photo">-->
                                    <!--<div class="photo-item" ng-repeat="i in [0, 1, 2, 3, 4, 5]">-->
                                        <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--DON'T DELETE - IT'S FOR CONTENT -->

                                <div class="mc-content empty-others photo">
                                    <span>This user has not uploaded photos yet</span>
                                </div>

                                <a href="#" class="view-all" ng-click="showMedia('photo', $event)">View All</a>
                            </div>
                        </div><!--.col-->
                        <div class="col-md-6">
                            <div class="media-content box-content">
                                <div class="mc-title">
                                    <span>Video (3)</span>
                                    <a href="#">Add embed video</a>
                                </div>

                                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                                <!--<div class="mc-content empty video">-->
                                    <!--<span>Upload a Video</span>-->
                                <!--</div>-->
                                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                                <!--DON'T DELETE - IT'S FOR CONTENT -->
                                <!--<div class="mc-content video">-->
                                    <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                    <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                    <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                    <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                    <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                    <!--<img src="../../../images/placeholder.svg" alt="...">-->
                                <!--</div>-->
                                <!--DON'T DELETE - IT'S FOR CONTENT -->

                                <div class="mc-content empty-others video">
                                    <span>This user has not uploaded videos yet</span>
                                </div>

                                <a href="#" class="view-all" ng-click="showMedia('video', $event)">View All</a>
                            </div>
                        </div><!--.col-->
                        <div class="col-md-12">
                            <div class="media-content box-content">
                                <div class="mc-title">
                                    <span>Music (17)</span>
                                    <a href="#">Add embed audio</a>
                                </div>

                                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                                <!--<div class="mc-content empty audio">-->
                                    <!--<span>Upload an Audio</span>-->
                                <!--</div>-->
                                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                                <!--DON'T DELETE - IT'S FOR CONTENT -->
                                <!--<div class="mc-content audio">-->
                                    <!--<iframe id="sc-widget3" width="100%" height="166" scrolling="no" frameborder="no"-->
                                            <!--src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>-->
                                    <!--<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>-->
                                    <!--<script type="text/javascript">-->
                                        <!--(function(){-->
                                            <!--var widgetIframe = document.getElementById('sc-widget3'),-->
                                                <!--widget       = SC.Widget(widgetIframe),-->
                                                <!--newSoundUrl = 'http://api.soundcloud.com/tracks/13692671';-->

                                            <!--widget.bind(SC.Widget.Events.READY, function() {-->
                                                <!--// load new widget-->
                                                <!--widget.bind(SC.Widget.Events.FINISH, function() {-->
                                                    <!--widget.load(newSoundUrl, {-->
                                                        <!--show_artwork: false-->
                                                    <!--});-->
                                                <!--});-->
                                            <!--});-->

                                        <!--}());-->
                                    <!--</script>-->
                                <!--</div>-->
                                <!--DON'T DELETE - IT'S FOR CONTENT -->

                                <div class="mc-content empty-others audio">
                                    <span>This user has not uploaded music yet</span>
                                </div>

                                <a href="#" class="view-all" ng-click="showMedia('music', $event)">View All</a>
                            </div>
                        </div><!--.col-->
                        <div class="col-md-12 history-and-feedback-block">
                            <div class="content">
                                <h3 class="title">Artist's Concert History and Feedback</h3>

                                <event-history-card></event-history-card>
                                <event-history-card></event-history-card>
                                <event-history-card></event-history-card>
                            </div>
                        </div><!--.col-->
                    </div>
                </div>

                <div class="row-content" ng-show="divShow == 'photo'" ng-include="'views/template/photo-all.html'"></div>
                <div class="row-content" ng-show="divShow == 'video'" ng-include="'views/template/video-all.html'"></div>
                <div class="row-content" ng-show="divShow == 'music'" ng-include="'views/template/music-all.html'"></div>


            </div>

            <div class="col-md-3" ng-show="divShow == 'music' || divShow == 'allMedia'">
                <!--<img src="../../../images/calendar-mock.png" style="display: inline-block; margin-bottom: 20px;" class="img-responsive" alt="...">-->

                <div class="calendar-sidebar-block box-content">
                    <div class="calendar-header">
                        <div class="title">Booking artist’s</div>
                        <a href="#" ui-sref="app.calendar-for-you" class="show-calendar">Big view</a>
                    </div>

                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="sidebarDt" class="well well-sm ic-datepicker" datepicker-options="sidebarDtOptions"></div>
                    </div>

                    <div class="legend">
                        <span class="legend-text orange">unavailable</span>
                        <span class="legend-text blue">Booked</span>
                        <span class="legend-text default">pending</span>
                    </div>
                </div>

                <div class="documents-upload box-content">
                    <div class="title">Documents upload</div>

                    <ul class="items-block">
                        <li class="item">
                            <span class="label">Add home rider</span>
                            <a href="#"><i class="fa fa-plus-circle fa-lg"></i></a>
                        </li>
                        <li class="item">
                            <span class="label">Add Technical rider</span>
                            <a href="#"><i class="fa fa-plus-circle fa-lg"></i></a>
                        </li>
                        <li class="item">
                            <span class="label">Add Scan of the passport</span>
                            <a href="#"><i class="fa fa-plus-circle fa-lg"></i></a>
                        </li>
                        <li class="item">
                            <span class="label">Add Photo for posters</span>
                            <a href="#"><i class="fa fa-plus-circle fa-lg"></i></a>
                        </li>
                    </ul>
                </div>

                <!--<div class="rider-block box-content download">-->
                    <!--<div class="title">Rider Download</div>-->
                    <!--<div class="btn-group text-center">-->
                        <!--<button class="ic-btn ic-btn-orange">Home Rider</button>-->
                        <!--<button class="ic-btn ic-btn-orange">Technical Rider</button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>


        </div>
    </div>

    <div class="overlay" aria-hidden="true" ng-click="photoBack($event)">
        <div class="vnbx-container">
            <div class="vnbx-content">
                <span class="photo-paginator">Photo {{imageNum + 1}} of {{countImages}}</span>
                <a href="#" class="photo-close" ng-click="photoBack($event)">back to all</a>
            </div>
            <div class="vbnx-image">
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <!--<div class="loading-block" ng-if="loadImage">-->
                    <!--<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>-->
                    <!--<span class="sr-only">Loading...</span>-->
                <!--</div>-->
                <!--<img class="image-item" src="" alt="..."  ng-if="!loadImage">-->
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <img class="image-item" src="" alt="...">

                <div class="control-block">
                    <div class="left-side">
                        <a href="#" ng-click="slideToLeft($event, imageNum)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </div>
                    <div class="right-side">
                        <a href="#" ng-click="slideToRight($event, imageNum)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>