<script>
    $('.form-control').on('focus blur', function (e) {
        $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
    }).trigger('blur');

    $('textarea').autosize();
</script>

<main class="profile-main" ng-controller="PersonalController">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <!--<div class="hero-avatar empty">-->
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                <div class="hero-avatar circle">
                    <div class="avatar-img avatar-img-circle">
                        <img src="../../../images/placeholder.svg" alt="...">
                    </div>

                    <div class="ic-image-selector">
                        <ul class="list-unstyled">
                            <li><a href="#" class="upload" title="Upload">&nbsp;</a></li>
                            <li><a href="#" class="cut" title="Cut">&nbsp;</a></li>
                            <li><a href="#" class="trash" title="Delete">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>

                <div class="hero-desc box-content">
                    <div class="hero-descr-block">
                        <h1 class="hero-desc-name">Sarah Dawson</h1>
                        <small class="hero-desc-caption">Singer</small>
                        <div class="artist-rating">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                            </ul>
                            <span class="rating-value">Rating 5.35</span>
                        </div>
                        <div class="hero-desc-about text-collapsed" data-id="hdc" ng-click="showCloseText($event, 'hdc')">
                            <p>
                                This article covers the basics of Astrology and how they are inter-related.
                                Astrology is defined as ‘the art or practice of determining the supposed influences of the planets
                                and their motions on human affairs and human disposition’.
                            </p>
                        </div>

                        <ul class="list-unstyled artist-genres">
                            <li ng-repeat="gen in genres">
                                <a href="#">{{ gen.title }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="hero-desc-list">
                        <div class="item">
                            <span class="title">Location</span>
                            <span class="value">Belarus&nbsp;<img src="../../../images/flag-british-icon.svg" alt="UK"></span>
                        </div>
                        <div class="item">
                            <span class="title">iTunes link</span>
                            <span class="value text-blue">SarahDawson</span>
                        </div>
                        <div class="item">
                            <span class="title">Soundcloud</span>
                            <span class="value text-orange">SarahDawson</span>
                        </div>
                        <div class="item">
                            <a href="#" class="share-profile-lnk" ng-click="showSocialDialog($event);">Share profile</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <section class="profile-section">
                    <h1 class="profile-section-header">Profile Settings</h1>

                    <form name="setting" ng-submit="save_artist()" class="profile-edit-form" novalidate>
                        <div class="profile-section-body">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Alias</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="email" ng-required="true" value="Maximdanilovdesigner@gmail.com">
                                </div>
                                <div class="col-xs-1 control-icon">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                            <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Your Role</label>
                                <div class="col-xs-9">
                                    <div class="form-tags-list">
                                        <label class="tag-item" ng-repeat="role in artistRole">
                                            <input type="checkbox" name="artist_skill" class="widget"><span class="inner">{{ ::role.title }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">About</label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" rows="5" ng-required="true">In the 80s, the hair accessory was invaluable. Almost every style involved some sort of hair accessory or embellishment to really set it off. Today, the hair accessory is not a part of everyday style and care should be taken as to when and how to use the look dated.</textarea>
                                    <span class="symbols-counter">There are 130 characters left to limit</span>
                                </div>
                                <div class="col-xs-1 control-icon">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                            <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Music Genres</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" ng-required="true" value="R&B, Hip-Hop, Trance, Dubstep">
                                </div>
                                <div class="col-xs-1 control-icon">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                            <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Location</label>
                                <div class="col-xs-8 editable-form">
                                    <span class="form-value" ng-show="!locationEditable" ng-click="edit($event)">London, United Kindom</span>
                                    <div class="editable-block" ng-show="locationEditable">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="text" placeholder="City..." value="">
                                            </div>
                                            <div class="col-xs-6">
                                                <select name="location_countries" id="location_countries" ng-model="user.contry">
                                                    <option value="" selected disabled>Select country...</option>
                                                    <option value="1">London</option>
                                                    <option value="2">USA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <select name="location_state" id="location_state" ng-show="user.contry == 2">
                                                    <option value="" selected disabled>Select state...</option>
                                                    <option value="1">MI</option>
                                                    <option value="2">NY</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="text" class="address" placeholder="Address..." value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1 control-icon">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                            <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">iTunes</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" ng-required="true" value="https://www.itunes.com/maxim911">
                                </div>
                                <div class="col-xs-1 control-icon">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                            <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">SoundCloud</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" ng-required="true" value="https://www.soundcloud.com/qweqw/maxim.eriomov">
                                </div>
                                <div class="col-xs-1 control-icon">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                                            <path fill="#E5E5E5" fill-rule="evenodd" d="M0 7.889V10h2.111l6.111-6.167-2.11-2.11L0 7.888zm9.833-5.667a.537.537 0 0 0 0-.778L8.556.167a.537.537 0 0 0-.778 0l-1 1 2.11 2.11.945-1.055z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <button class="ic-btn ic-btn-white ic-btn-delete pull-left">Delete page</button>
                            <button type="submit" class="ic-btn ic-btn-green pull-right" ng-disabled="setting.$invalid">Save settings</button>
                            <button class="ic-btn ic-btn-white pull-right" ui-sref="app.personal-artist">Close</button>
                        </div>
                    </form>
                </section>
            </div>

            <div class="col-md-3">
                <!--<img src="../../../images/fixtures/calendar-mock.png" style="display: inline-block; margin-bottom: 20px;" class="img-responsive" alt="...">-->

                <div class="calendar-sidebar-block box-content">
                    <div class="calendar-header">
                        <div class="title">Booking artist’s</div>
                        <a href="#" ui-sref="app.calendar-for-you" class="show-calendar">Big view</a>
                    </div>

                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="sidebarDt" class="well well-sm ic-datepicker" datepicker-options="sidebarDtOptions"></div>
                    </div>

                    <div class="legend">
                        <span class="legend-text orange">unavailable</span>
                        <span class="legend-text blue">Booked</span>
                        <span class="legend-text default">pending</span>
                    </div>
                </div>

                <div class="documents-upload box-content">
                    <div class="title">Documents upload</div>

                    <ul class="items-block">
                        <li class="item filled">
                            <span class="icon"><img src="../../../images/group-2.svg" alt="..."></span>
                            <span class="label">Home rider.doc</span>
                            <a href="#"><img src="../../../images/shape-copy-4.svg" alt="Delete"></a>
                        </li>
                        <li class="item filled">
                            <span class="icon"><img src="../../../images/group-3.svg" alt="..."></span>
                            <span class="label">Technical rider.doc</span>
                            <a href="#"><img src="../../../images/shape-copy-4.svg" alt="Delete"></a>
                        </li>
                        <li class="item filled">
                            <span class="icon"><img src="../../../images/group-5.svg" alt="..."></span>
                            <span class="label">Pasport.pdf</span>
                            <a href="#"><img src="../../../images/shape-copy-4.svg" alt="Delete"></a>
                        </li>
                        <li class="item filled">
                            <span class="icon"><img src="../../../images/group-9.svg" alt="..."></span>
                            <span class="label">Photos.zip</span>
                            <a href="#"><img src="../../../images/shape-copy-4.svg" alt="Delete"></a>
                        </li>
                    </ul>
                </div>

                <div class="rider-block box-content download">
                    <div class="title">Rider Download</div>
                    <div class="btn-group text-center">
                        <button class="ic-btn ic-btn-orange">Home Rider</button>
                        <button class="ic-btn ic-btn-orange">Technical Rider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>