<section class="create-initial-section artist-section" ng-controller="RegistrationController">
    <div class="container">
        <script>
            $('.form-control').on('focus blur', function (e) {
                $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
            }).trigger('blur');
        </script>
        <form class="create-form" name="create-form" novalidate>
            <div class="row">

                <div class="col-md-offset-4 col-md-4">
                    <fieldset>
                        <div class="form-group styled-placeholder">
                            <label class="control-label">Add an artist name</label>
                            <input class="form-control" autocomplete="off" type="text" name="artist-name" ng-model="user.name" ng-required="true">
                            <span class="bar"></span>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6 options">
                    <div class="row settings-option" ng-repeat="items in changeInformPerson">
                        <div class="col-md-3 content" ng-repeat="item in items">
                            <div class="hover-container" ng-class="item.isChecked ? 'checked' : ''">
                                <input type="checkbox" ng-attr-id="{{'info' + item.id}}" ng-model="item.isChecked" />
                                <label ng-attr-for="{{'info' +item.id}}" ng-click="getIcon(item)">
                                    <div class="{{item.literal}}"></div>
                                    <div class="title">{{item.name}}</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="ic-btn ic-btn-blue big">Create Account</button>
                </div>
            </div>
        </form>

    </div><!--.container-->
</section>