.top-artists-section-open {
  padding-top: @section-padding-top + 78px;
  background-color: @pale-grey;
  min-height: 100vh;


  .top-artists-block {
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .back-link {
    .h1-blue;
    margin-bottom: 16px;
    display: block;
    justify-self: flex-start;
    margin-left: 0;
    flex-grow: 2;

    .left-arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      vertical-align: middle;
    }

    &:hover {
      color: @burnt-sienna;

      svg {
        #back_lnk {
          fill: @burnt-sienna;
        }
      }
    }
  }

  .top-artists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      .h1-blue;
      color: @black;
      justify-self: flex-end;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  .profile-card {
    margin-bottom: 16px;
  }

  .date-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;

    .dd-block {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-grow: 1;
      width: 140px;
      max-width: 140px;

      label {
        display: inline-block;
      }

      .lbl-calendar {
        color: #e5e5e5;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .location-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    width: 220px;
    max-width: 220px;

    label {
      display: inline-block;
      width: 67px;
    }
  }

  .type-filter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    width: 220px;
    max-width: 220px;

    label {
      display: inline-block;
      width: 67px;
    }
  }
}