.content-plate(@border: solid 1px @border-grey; @padding: 20px; @background-color: white) {
  background-color: @background-color;
  border: @border;
  border-radius: 4px;
  padding: @padding;

  &.transparent {
    background-color: transparent;
  }

  &.dashed {
    border-style: dashed;
  }
}