.ic-btn {
  display: inline-block;
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 12 * @rem;
  line-height: 2.5;
  color: @iConnect-white;
  border-radius: 3px;
  padding: 0 16px;
  font-weight: @fw-semibold;

  max-height: @max-button-height;
  max-width: 370px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity .2s, background-color .2s ease, color .2s ease;
  outline: none;

  &[disabled] {
    cursor: default;
    pointer-events: none;
  }

  &.ic-btn-blue {
    background-color: @iConnect-blue;
    padding: 0 65px;

    &.big {
      line-height: 3;
      padding: 0 110px;
      max-height: 40px;
    }

    &:visited {
      background-color: @iConnect-blue;
    }
    &:hover, &:active, &:focus, &[disabled] {
      color: @iConnect-white;
      background-color: #2c72c4;
    }
  }

  &.ic-btn-white {
    border: 1px solid @iConnect-lightGrey;
    color: @iConnect-black;
    padding: 0 45px;

    &.big {
      line-height: 3;
      padding: 0 110px;
      max-height: 40px;
    }

    &[disabled] {

    }
    &:visited {
      color: @iConnect-black;
    }
    &:hover, &:focus {
      border: 1px solid #f2f2f2;
      color: #ff5400;
    }
    &:active {
      color: #f53600;
    }
  }

  &.ic-btn-orange {
    background-color: @iConnect-orange;
    padding: 0 50px;

    &.big {
      line-height: 3;
      padding: 0 110px;
      max-height: 40px;
    }

    &:visited {
      background-color: @iConnect-orange;
    }
    &:hover, &:active, &:focus, &[disabled] {
      color: @iConnect-white;
      background-color: lighten(@iConnect-orange, @lighten-percentage);
    }
  }

  &.ic-btn-red {
    background-color: @iConnect-red;
    padding: 0 50px;

    &.big {
      line-height: 3;
      padding: 0 110px;
      max-height: 40px;
    }

    &:visited {
      background-color: @iConnect-red;
    }
    &:hover, &:active, &:focus, &[disabled] {
      color: @iConnect-white;
      background-color: lighten(@iConnect-red, @lighten-percentage);
    }
  }

  &.ic-btn-green {
    background-color: @iConnect-green;

    &.big {
      line-height: 3;
      padding: 0 110px;
      max-height: 40px;
    }

    &:visited {
      color: @iConnect-white;
      background-color: @iConnect-green;
    }
    &:hover, &:active, &:focus, &[disabled] {
      color: @iConnect-white;
      background-color: lighten(@iConnect-green, @lighten-percentage);
    }
  }
}