.title () {
  display: inline-block;
  line-height: 1.5;
}

.title-H1 () {
  .title;
  padding: 0 19px;
  font-size: 32 * @rem;
  color: @iConnect-white;
  background-color: @iConnect-black;
  border-radius: 6px;
  font-weight: @fw-bold;
}

.title-H1-simple () {
  .title;
  font-size: 32 * @rem;
  color: @iConnect-black;
  font-weight: @fw-bold;
}

.title-H2 () {
  .title;
  font-size: 26 * @rem;
  font-weight: @fw-semibold;
}

.title-H3 () {
  .title;
  font-size: 16 * @rem;
  font-weight: @fw-semibold;
}

.title-H4 () {
  .title;
  font-size: 14 * @rem;
  font-weight: @fw-semibold;
}

.section-title () {
  font-size: 10 * @rem;
  text-transform: uppercase;
  font-weight: @fw-semibold;
  line-height: 1.5;
}
.section-title-black () {
  .section-title;
  color: @iConnect-black;
}
.section-title-blue () {
  .section-title;
  color: @iConnect-blue;
}

.button-text-black () {
  font-size: 10 * @rem;
  text-transform: uppercase;
  font-weight: @fw-semibold;
  color: @iConnect-black;
  line-height: 2;
  display: inline-block;
}
