<section class="cabinet-section" ng-controller="RegistrationController">
    <!-- card -->
    <div class="container">
        <div class="row header-container">

            <div class="col-md-8 user-info">
                <div class="user-info-header">
                    <div class="left-side">
                        <img src="../../images/placeholder.svg" class="img-circle img-responsive" alt="user image">
                    </div>
                    <div class="right-side">
                        <h2>Johnny van Djick</h2>
                        <div class="balance-info">Standart Account / Balance $ 1 345.45</div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 user-config-menu">
                <a href="#" class="btn btn-config pull-right"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
                <a href="#" class="ic-btn ic-btn-orange big pull-right">Get a pro account</a>
            </div>

        </div><!--.row-->

        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#" data-target='#dashboard' data-toggle="tab" onclick="return false;">Dashboard</a></li>
                <li><a href="#" data-target='#artist' data-toggle="tab" onclick="return false;">Your Artist</a></li>
                <li><a href="#" data-target='#organization' data-toggle="tab" onclick="return false;">Your Organization</a></li>
                <li><a href="#" data-target='#events' data-toggle="tab" onclick="return false;">Your Events</a></li>
                <li><a href="#" data-target='#documents' data-toggle="tab" onclick="return false;">Your Documents</a></li>
                <li><a href="#" data-target='#statistics' data-toggle="tab" onclick="return false;">Statistics</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active in" id="dashboard">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>New Artist</h3>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-3" ng-repeat="art in artistList">
                                <div class="artist-card">
                                    <div class="row card-header">
                                        <div class="col-xs-6 artist-avatar">
                                            <img src="{{ art.photo }}" class="img-responsive img-circle" alt="avatar">
                                        </div>
                                        <div class="col-xs-6 artist-info">
                                            <div class="name">{{ art.firstName}} {{ art.lastName}}</div>
                                            <div class="description">
                                                <p>{{ art.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-footer">
                                        <div class="col-xs-6 left-part">
                                            <p>{{ art.country}}</p>
                                        </div>
                                        <div class="col-xs-6 right-part">
                                            <p>{{ art.style}}</p>
                                        </div>
                                    </div>
                                </div><!--.artist-card-->
                            </div><!--.col-->
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12">
                                <h3>New Organization</h3>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-3" ng-repeat="org in organizationList">
                                <div class="organization-card">
                                    <div class="row card-header">
                                        <div class="col-xs-6 organization-avatar">
                                            <img src="{{ org.photo }}" class="img-responsive" alt="avatar">
                                        </div>
                                        <div class="col-xs-6 organization-info">
                                            <div class="name">{{ org.title}}</div>
                                            <div class="description">
                                                <p>{{ org.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-footer">
                                        <div class="col-xs-6 left-part">
                                            <p>{{ org.location}}</p>
                                        </div>
                                        <div class="col-xs-6 right-part"></div>
                                    </div>
                                </div><!--.organization-card-->
                            </div><!--.col-->
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12">
                                <h3>New Event</h3>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-3" ng-repeat="event in eventsArt">
                                <div class="event-card">
                                    <div class="container-fluid">
                                        <div class="row card-header">
                                            <div class="col-xs-12 event-avatar">
                                                <img src="../../images/placeholder.svg" class="img-responsive" alt="avatar">
                                            </div>
                                            <div class="col-xs-12 event-info">
                                                <h4 class="ic-title title-4 name">{{ event.title }}</h4>
                                                <div class="ic-text text-grey small subtext">{{ event.eventDate }}</div>
                                                <div class="description ic-text text-default small">
                                                    <!--<p>{{ event.eventText }}</p>-->
                                                    <p ng-bind-html="event.eventText"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="people">
                                            <a href="#" class="people-link" ng-repeat="man in event.eventArtist">
                                                <img src="{{ man.artistImg }}" class="img-responsive img-circle" alt="pavatar">
                                            </a>
                                            <a href="#" class="people-link-add">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="row card-footer">
                                            <div class="col-xs-6 left-part">
                                                <p>{{event.eventLocation}}</p>
                                            </div>
                                            <div class="col-xs-6 right-part">
                                                <p>{{event.eventType}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.event-card-->
                            </div><!--.col-->
                        </div><!--.row-->
                    </div><!--.container-fluid-->
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="artist">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="art in artistList">
                                <div class="artist-card">
                                    <div class="row card-header">
                                        <div class="col-xs-6 artist-avatar">
                                            <img src="{{ art.photo }}" class="img-responsive img-circle" alt="avatar">
                                        </div>
                                        <div class="col-xs-6 artist-info">
                                            <div class="name">{{ art.firstName}} {{ art.lastName}}</div>
                                            <div class="description">
                                                <p>{{ art.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-footer">
                                        <div class="col-xs-6 left-part">
                                            <p>{{ art.country}}</p>
                                        </div>
                                        <div class="col-xs-6 right-part">
                                            <p>{{ art.style}}</p>
                                        </div>
                                    </div>
                                </div><!--.artist-card-->
                            </div><!--.col-->
                            <div class="col-md-3">
                                <div class="add-new-card">
                                    <div class="card-content">
                                        <div class="title">Create a new artist page</div>
                                        <p>This page presents you as an artist of the chosen genre and allows you to work with the organizers</p>
                                        <button class="ic-btn ic-btn-blue big">Create page</button>
                                    </div>
                                </div><!--.new-card-->
                            </div><!--.col-->
                        </div><!--.row-->
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="organization">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="org in organizationList">
                                <div class="organization-card">
                                    <div class="row card-header">
                                        <div class="col-xs-6 organization-avatar">
                                            <img src="{{ org.photo }}" class="img-responsive" alt="avatar">
                                        </div>
                                        <div class="col-xs-6 organization-info">
                                            <div class="name">{{ org.title}}</div>
                                            <div class="description">
                                                <p>{{ org.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-footer">
                                        <div class="col-xs-6 left-part">
                                            <p>{{ org.location}}</p>
                                        </div>
                                        <div class="col-xs-6 right-part"></div>
                                    </div>
                                </div><!--.organization-card-->
                            </div><!--.col-->
                            <div class="col-md-3">
                                <div class="add-new-card">
                                    <div class="card-content">
                                        <div class="title">Create a new organization page</div>
                                        <p>This page presents you as an organization of the chosen type and allows you to work with the artists</p>
                                        <button class="ic-btn ic-btn-blue big">Create page</button>
                                    </div>
                                </div><!--.new-card-->
                            </div><!--.col-->
                        </div><!--.row-->
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="events">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="event in eventsArt">
                                <div class="event-card">
                                    <div class="container-fluid">
                                        <div class="row card-header">
                                            <div class="col-xs-12 event-avatar">
                                                <img src="../../images/placeholder.svg" class="img-responsive" alt="avatar">
                                            </div>
                                            <div class="col-xs-12 event-info">
                                                <h4 class="ic-title title-4 name">{{ event.title }}</h4>
                                                <div class="ic-text text-grey small subtext">{{ event.eventDate }}</div>
                                                <div class="description ic-text text-default small">
                                                    <!--<p>{{ event.eventText }}</p>-->
                                                    <p ng-bind-html="event.eventText"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="people">
                                            <a href="#" class="people-link" ng-repeat="man in event.eventArtist">
                                                <img src="{{ man.artistImg }}" class="img-responsive img-circle" alt="pavatar">
                                            </a>
                                            <a href="#" class="people-link-add">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="row card-footer">
                                            <div class="col-xs-6 left-part">
                                                <p>{{event.eventLocation}}</p>
                                            </div>
                                            <div class="col-xs-6 right-part">
                                                <p>{{event.eventType}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.event-card-->
                            </div><!--.col-->
                            <div class="col-md-3">
                                <div class="add-new-card">
                                    <div class="card-content">
                                        <div class="title">Create a new event</div>
                                        <p>This page presents you as an organization of the chosen type and allows you to work with the artists</p>
                                        <button class="ic-btn ic-btn-blue big">Create page</button>
                                    </div>
                                </div><!--.new-card-->
                            </div><!--.col-->
                        </div><!--.row-->
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="documents">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="doc in icDocuments">
                                <div class="document-card">
                                    <h4 class="ic-title title-4">{{ doc.title }}</h4>
                                    <div class="ic-text text-grey small subtext">{{ doc.date }}</div>
                                </div><!--.document-card-->
                            </div><!--.col-->

                            <div class="col-md-3">
                                <div class="add-new-card">
                                    <div class="card-content">
                                        <div class="title">Create a new doc</div>
                                        <p>You can create the necessary documents for work using our templates</p>
                                        <button class="ic-btn ic-btn-blue big">Create Document</button>
                                    </div>
                                </div><!--.new-card-->
                            </div><!--.col-->
                        </div>
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="statistics">
                    <div class="container-fluid">
                        statistics
                    </div>
                </div><!--.tabpanel-->
            </div><!--.tab-content-->
        </div><!--.row-->
    </div>
</section>