<section class="cabinet-section" ng-controller="RegistrationController">
    <!-- card -->
    <div class="container">
        <div class="row header-container">

            <div class="col-md-8 user-info">
                <div class="user-info-header">
                    <div class="left-side">
                        <img src="../../images/placeholder.svg" class="img-circle img-responsive" alt="user image">
                    </div>
                    <div class="right-side">
                        <h2>Johnny van Djick</h2>
                        <div class="balance-info">Standart Account / Balance $ 1 345.45</div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 user-config-menu">
                <a href="#" class="btn btn-config pull-right"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
                <a href="#" class="ic-btn ic-btn-orange big pull-right">Get a pro account</a>
            </div>

        </div><!--.row-->

        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#" data-target='#dashboard' data-toggle="tab" onclick="return false;">Dashboard</a></li>
                <li><a href="#" data-target='#artist' data-toggle="tab" onclick="return false;">Your Artist</a></li>
                <li><a href="#" data-target='#organization' data-toggle="tab" onclick="return false;">Your Organization</a></li>
                <li><a href="#" data-target='#events' data-toggle="tab" onclick="return false;">Your Events</a></li>
                <li><a href="#" data-target='#documents' data-toggle="tab" onclick="return false;">Your Documents</a></li>
                <li><a href="#" data-target='#statistics' data-toggle="tab" onclick="return false;">Statistics</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active in" id="dashboard">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>New Artist</h3>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-3" ng-repeat="art in artistList">
                                <profile-preview data="art" avatar-type-class="'avatar-circle'"></profile-preview>
                            </div><!--.col-->
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12">
                                <h3>New Organization</h3>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-3" ng-repeat="org in organizationList">
                                <profile-preview data="org"></profile-preview>
                            </div><!--.col-->
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12">
                                <h3>New Event</h3>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-3" ng-repeat="event in eventsArt">
                                <event-card data="event"></event-card>
                            </div><!--.col-->
                        </div><!--.row-->
                    </div><!--.container-fluid-->
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="artist">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="art in artistList">
                                <profile-preview data="art" avatar-type-class="'avatar-circle'"></profile-preview>
                            </div><!--.col-->
                            <div class="col-md-3">
                                <create-card
                                        data="{
                                            title: 'Create a new artist page',
                                            content: 'This page presents you as an artist of the chosen genre and allows you to work with the organizers',
                                            btn_label: 'Create page'
                                        }"
                                ></create-card>
                            </div><!--.col-->
                        </div><!--.row-->
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="organization">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="org in organizationList">
                                <profile-preview data="org"></profile-preview>
                            </div><!--.col-->
                            <div class="col-md-3">
                                <create-card
                                        data="{
                                            title: 'Create a new organization page',
                                            content: 'This page presents you as an organization of the chosen type and allows you to work with the artists',
                                            btn_label: 'Create page'
                                        }"
                                ></create-card>
                            </div><!--.col-->
                        </div><!--.row-->
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="events">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="event in eventsArt">
                                <event-card data="event"></event-card>
                            </div><!--.col-->
                            <div class="col-md-3">
                                <create-card
                                        data="{
                                            title: 'Create a new event',
                                            content: 'This page presents you as an organization of the chosen type and allows you to work with the artists',
                                            btn_label: 'Create page'
                                        }"
                                ></create-card>
                            </div><!--.col-->
                        </div><!--.row-->
                    </div>
                </div><!--.tabpanel-->


                <div role="tabpanel" class="tab-pane" id="documents">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="doc in icDocuments">
                                <document-card data="doc"></document-card>
                            </div><!--.col-->

                            <div class="col-md-3">
                                <create-card
                                        data="{
                                            title: 'Create a new doc',
                                            content: 'You can create the necessary documents for work using our templates',
                                            btn_label: 'Create Document'
                                        }"
                                ></create-card>
                            </div><!--.col-->
                        </div>
                    </div>
                </div><!--.tabpanel-->

                <div role="tabpanel" class="tab-pane" id="statistics">
                    <div class="container-fluid">
                        statistics
                    </div>
                </div><!--.tabpanel-->
            </div><!--.tab-content-->
        </div><!--.row-->
    </div>
</section>