<section class="create-event-section" ng-controller="RegistrationController">
    <div class="container">

        <form class="create-event" name="create-form" novalidate>
            <div class="row">

                <div class="title">
                    <h1>Set an event name here</h1>
                    <h2>Add an event name</h2>
                </div>

                <div class="col-md-offset-4 col-md-4">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" autocomplete="off" type="text" name="event-name" ng-model="event.name" ng-required="true">
                            <p class="error" ng-show="signin.email.$invalid && signin.email.$touched">Must be a valid name</p>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6 options">
                    <div class="row event-option" ng-repeat="items in events">
                        <div class="col-md-3 content" ng-repeat="item in items">
                            <div class="hover-container">
                                <input type="checkbox" ng-attr-id="{{'info' + item.id}}" ng-model="item.isChecked"/>
                                <label ng-attr-for="{{'info' +item.id}}"><img class="svg" ng-src="{{getIcon(item)}}"></label>
                                <div class="title">{{item.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="ic-btn ic-btn-blue big">Create Event</button>
                </div>
            </div>
        </form>

    </div><!--.container-->

    <script>
        jQuery(document).ready(function ($) {
            $('img.svg').each(function(){
                var $img = $(this);
                var imgID = $img.attr('id');
                var imgClass = $img.attr('class');
                var imgURL = $img.attr('src');

                $.get(imgURL, function(data) {
                    var $svg = jQuery(data).find('svg');

                    if(typeof imgID !== 'undefined') {
                        $svg = $svg.attr('id', imgID);
                    }
                    if(typeof imgClass !== 'undefined') {
                        $svg = $svg.attr('class', imgClass+' replaced-svg');
                    }
                    $svg = $svg.removeAttr('xmlns:a');
                    $img.replaceWith($svg);
                }, 'xml');
            });
        })
    </script>

</section>