<section class="create-artist-section" ng-controller="RegistrationController">
    <div class="container">

        <form class="create-artist" name="create-form" novalidate>
            <div class="row">

                <div class="title">
                    <h1>Set artist name here</h1>
                </div>

                <div class="col-md-offset-4 col-md-4">
                    <fieldset>
                        <div class="form-group styled-placeholder">
                            <input class="form-control" placeholder="Add a artist name" autocomplete="off" type="text" name="artist-name" ng-model="user.name" ng-required="true">
                            <p class="error" ng-show="signin.email.$invalid && signin.email.$touched">Must be a valid email</p>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6 options">
                    <div class="row artist-option" ng-repeat="items in changeInformPerson">
                        <div class="col-md-3 content" ng-repeat="item in items">
                            <input type="checkbox" ng-attr-id="{{'info' + item.id}}" ng-model="item.isChecked"/>
                            <label ng-attr-for="{{'info' +item.id}}"><img ng-src="{{getIcon(item)}}"></label>
                            <div class="title">{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="ic-btn ic-btn-blue big">Create Account</button>
                </div>
            </div>
        </form>

    </div><!--.container-->
</section>