<script>
    $(document).ready(function () {
        $('.navbar.navbar-default').addClass('transparent');

        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');

        $('.nav-tabs li a').on('click', function (e) {
            var data = [];

            $.each($('form[name="signin"] input, form[name="signup"] input'), function (i, v) {
                var tid = $(this).attr('id');
                var val = $(this).val();
                var temp = {};

                if ('undefined' !== tid && 'undefined' !== val) {
                    temp.id = '#' + tid;
                    temp.val = val;
                    data.push(temp);
                }
            });

            $('form[name="signin"]')[0].reset();
            $('form[name="signup"]')[0].reset();

            $.each(data, function (i, d) {
                $(d.id).val(d.val);
                delete data[i];
            });


            console.log(data);
        });
    });

    $(document).scroll(function(){
        if($(window).scrollTop() > 0) {
            $('.navbar.navbar-default').removeClass('transparent');
        } else {
            $('.navbar.navbar-default').addClass('transparent');
        }
    });
</script>


<section class="login-section">
    <div class="login-container" ng-controller="RegistrationController">

        <video id="background-video" class="video" autoplay muted poster="../../images/background2.png">
            <source src="video/video_background1.mp4" type="video/mp4">
            <!--<source src="video/demo.ogv" type="video/ogg">-->
            <!--<source src="video/demo.webm" type="video/webm">-->
            Your browser does not support the video tag.
        </video><!-- /video -->

        <div class="container login-well">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h1>Welcome to iConnect</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <ul class="nav nav-tabs list-unstyled" role="tablist">
                        <li class="active">
                            <a data-target='#signin' aria-controls="signin" role="tab" data-toggle="tab">Login</a>
                        </li>
                        <li>
                            <a data-target='#signup' aria-controls="signup" role="tab" data-toggle="tab">Registration</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active in" id="signin">
                            <form name="signin" ng-submit="login()" class="security-form clearfix" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="signin-email">Email Address</label>
                                        <input id="signin-email" class="form-control"  autofill="off" autocomplete="off" type="email" name="email" ng-model="user.email" ng-required="true">
                                        <p class="error" ng-show="signin.email.$invalid && signin.email.$touched">Must be a valid email</p>
                                    </div>
                                    <div class="form-group pwd-group">
                                        <label class="control-label" for="signin-pass">Password</label>
                                        <a href="#" class="see-pwd"><img src="../../images/eye.png" alt="eye"></a>
                                        <input id="signin-pass" class="form-control" autofill="off" autocomplete="off" type="password" name="password" ng-model="user.password" ng-required="true">
                                        <p class="error" ng-show="signin.password.$invalid && signin.email.$touched">Password is required</p>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" class="link">Forgot password</a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="ic-btn ic-btn-blue big pull-right" ng-disabled="signin.$invalid">Login</button>
                                    </div>
                                </div>
                            </form>

                            <div class="social-content">
                                <p>Or sign in through social networks</p>

                                <ul class="social-icons list-unstyled">
                                    <li class="social-icons__item">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="../../images/soundcloud@2x.png" alt="soundCloud">
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="">
                                            <img class="img-circle img-responsive" src="../../images/insta@2x.png" alt="instagram">
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="../../images/vimeo@2x.png" alt="vimeo">
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="../../images/youtube@2x.png" alt="youtube">
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="../../images/twitter@2x.png" alt="twitter">
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="#">
                                            <img class="img-circle img-responsive" src="../../images/facebook@2x.png" alt="facebook">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="signup">
                            <form name="signup" ng-submit="register()" class="security-form clearfix" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="signup-email">Email Address</label>
                                        <input id="signup-email" class="form-control" autofill="off" autocomplete="off" type="email" name="email" ng-model="userReg.email" ng-required="true">
                                        <p class="error" ng-show="signup.email.$invalid && signup.email.$touched">Must be a valid email</p>
                                    </div>

                                    <div class="form-group pwd-group">
                                        <label class="control-label" for="signup-pass">Password</label>
                                        <a href="#" class="see-pwd"><img src="../../images/eye.png" alt="eye"></a>
                                        <input id="signup-pass" class="form-control"  autofill="off" autocomplete="off" type="password" name="password" ng-attr-type="{{ showPassword ? 'text' : 'password' }}" ng-model="userReg.password" ng-required="true">
                                        <p class="error" ng-show="signup.password.$invalid && signup.email.$touched">Password is required</p>
                                    </div>
                                </fieldset>
                                <button type="submit" class="ic-btn ic-btn-blue big pull-right" ng-disabled="signup.$invalid">Registration</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>