<script>
    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() === $(document).height()) {
            $('#submit_btn').prop('disabled', false);
        } else {
            $('#submit_btn').prop('disabled', true);
        }
    });
</script>


<section class="text-block">

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>Term of Use</h1>

                <div class="content">
                    <p>Survival is one of the most demanding and challenging issues that we face as humans!</p>

                    <p>Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.</p>

                    <p>Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.</p>

                    <p>Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.</p>
                    <p>Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.</p>
                    <p>Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.
                        Survival challenges us through many different issues such as: child abuse, sexual abuse, birth,
                        death, job loss, health problems, low self-esteem, relationship ups and downs, parenting, deceptions,
                        breakdowns, poverty, natural disasters, education, addictions and even our own desires to be strong.</p>
                </div>

                <div class="btns-block fixed">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 pull-right">
                                <button class="ic-btn ic-btn-white big">Close</button>
                                <button class="ic-btn ic-btn-blue big" id="submit_btn" disabled="disabled">I agree</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>