<section class="verification-section" ng-controller="RegistrationController">
    <div class="container" >
        <div class="login-well col-sm-6 col-sm-offset-3">
            <h1>We glad to see you, <span>{{Person.email}}</span></h1>
            <p>Before the registration is complected, there is only step, enter here the <br/>
                phone number to which we will send the code to confirm your identity</p>
            <div class="margin-bottom-30">
                <form name="verificationform" class="security-form" ng-submit="verification()" novalidate>
                    <fieldset>
                        <label>Phone number</label><br/>
                        <input class="col-sm-12 margin-bottom-20" autocomplete="off" type="tel" name="phone"
                               placeholder="Phone number" ng-model="user.phone" ng-required="true"><br/>
                        <p class="error validationerror" ng-show="verificationform.phone.$invalid">Must be a valid phone
                            number</p>

                        <label>Sms - code</label><br/>
                        <input class="col-sm-12 margin-bottom-20" autocomplete="off" type="number" name="code"
                               placeholder="Sms-code" ng-model="user.code" ng-required="true"><br/>
                    </fieldset>

                    <button type="submit" class="btn-send pull-right margin-bottom-05"
                            ng-disabled="verificationform.$invalid">Send SMS Code
                    </button>
                    <button class="btn-request pull-right margin-bottom-05 margin-right-10">Request Another Code
                    </button>
                </form>
            </div>

        </div>
    </div>
</section>