<div class="personal-artist container-fluid padding-left-20 padding-right-20" ng-controller="PersonalController">
    <div class="row row-content margin-top-20">
        <div class="col-sm-3">
            <div class="artist-content">
                <div class="artist-img  text-center">
                    <img src="http://placehold.it/300x300" alt="artist-img" class="img-circle img-responsive">
                </div>
                <div class="artist-info margin-top-10 padding-bottom-10 padding-top-10 padding-right-10 padding-left-10">
                    <h3 class="padding-00 margin-00">Sarah Dawson</h3>
                    <small class="small-grey-text">Signer</small>
                    <div class="artist-rating">
                    </div>
                    <p class="artist-description">Read, out with friends, listen to music, draw and learn new
                        things.</p>
                    <div class="genres margin-bottom-05" >
                        <span class="label label-default margin-left-05 margin-right-05" ng-repeat="gen in ['Hip-hop', 'R&B', 'Dancer']">{{gen}}</span>

                    </div>
                    <div class="artist-main-info">
                        <ul class="list-group">
                            <li class="list-group-item grey-text">Location<span class="pull-right default-text">Belarus</span></li>
                            <li class="list-group-item grey-text">iTunes Link<span class="pull-right default-text">SarahDawson</span></li>
                            <li class="list-group-item grey-text">Sound cloud<span class="pull-right default-text">SarahDawson</span></li>
                        </ul>
                    </div>
                    <div class="social-content text-center">
                        <ul class="social-icons">
                            <li class="social-icons__item"><a href="" id="share-fb-btn"><img
                                    src="images/Facebook_icon.png" alt="facebook"></a></li>
                            <li class="social-icons__item"><a href="" id="share-twitter-btn"><img
                                    src="images/Twitter_icon.png" alt="twitter"></a></li>
                            <li class="social-icons__item"><a href=""><img src="images/YouTube_icon.png"
                                                                           alt="youtube" title="youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row-content">
                <div class="col-sm-6">
                    <div class="photo-content">
                        <label class="default-text">Photo</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="video-content">
                        <label class="default-text">Video</label>
                    </div>
                </div>


                <div class="col-sm-12 margin-top-20">
                    <div class="music-content ">
                        <label class="default-text">Music</label>

                    </div>
                </div>

                <div class="col-sm-12 other-content margin-top-20">
                    <label class="default-text">Other Activities of the organizer</label>
                </div>
            </div>
        </div>

        <div class="col-sm-3 padding-00">
            <div class="col-sm-12 booking-content">
                <label class="default-text">Booking Artist's</label>
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                <form class="form-horizontal padding-bottom-10" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label class="default-text col-sm-3 control-label" for="itunesSelect">Event</label>
                            <div class="col-sm-9">
                                <select id="itunesSelect" ng-model="selecteditunesSelect"
                                        ng-options="x for (x, y) in itunesSelect"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="default-text col-sm-3 control-label" for="bookCommit">Text</label>
                            <div class="col-sm-9">
                                <textarea id="bookCommit" rows="4" cols="28" maxlength="140"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block">Request to book</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-12 margin-top-10 download">
                <label class="default-text">Rider Download</label><br/>
                <div class="btn-group text-center">
                    <button class="btn margin-right-10">Home Rider</button>
                    <button class="btn margin-left-10">Technical Rider</button>
                </div>
            </div>
        </div>

    </div>
</div>