<section class="personal-artist-section" ng-controller="PersonalController">
    <div class="container-fluid padding-left-20 padding-right-20">
        <div class="row row-content margin-top-20">
            <div class="col-sm-3">
                <div class="artist-content">
                    <div class="artist-img  text-center">
                        <img src="http://placehold.it/300x300" alt="artist-img" class="img-circle img-responsive">
                    </div>
                    <div class="artist-info margin-top-10">
                        <div class="artist-main-info padding-bottom-05 padding-top-05 padding-right-10 padding-left-10">
                            <h1 class="padding-00 margin-00">Sarah Dawson</h1>
                            <small class="small-grey-text">Signer</small>
                            <div class="artist-rating">
                                <ul class="artist-rating">
                                    <li class="artist-rating__item"><img src="images/Star_small_Full.png"></li>
                                    <li class="artist-rating__item"><img src="images/Star_small_Full.png"></li>
                                    <li class="artist-rating__item"><img src="images/Star_small_Full.png"></li>
                                    <li class="artist-rating__item"><img src="images/Star_small_Full.png"></li>
                                    <li class="artist-rating__item"><img src="images/Star_small_Full.png"></li>
                                    <li class="artist-rating__item"><img src="images/Star_small.png"></li>
                                    <li class="artist-rating__item"><img src="images/Star_small.png"></li>
                                </ul>
                                <small class="small-grey-text">Rating 5.35</small>
                            </div>
                            <p class="artist-description">Read, out with friends, listen to music, draw and learn new
                                things.</p>
                            <div class="genres margin-bottom-05">
                                <span class="label label-default margin-left-05 margin-right-05" ng-repeat="gen in ['Hip-hop', 'R&B', 'Dancer']">{{gen}}</span>
                            </div>
                        </div>
                        <div class="artist-footer">
                            <div class="artist-contact padding-bottom-05 padding-top-05 padding-right-10 padding-left-10">
                                <span class="small-grey-text">Location</span>
                                <span class="pull-right">Belarus<i class="margin-left-05 fa fa-2x fa-flag"></i></span>
                            </div>
                            <div class="artist-contact padding-bottom-05 padding-top-05 padding-right-10 padding-left-10">
                                <span class="small-grey-text">iTunes Link</span>
                                <span class="pull-right text-blue">SarahDawson</span>
                            </div>
                            <div class="artist-contact padding-bottom-05 padding-top-05 padding-right-10 padding-left-10">
                                <span class="small-grey-text">Sound cloud</span>
                                <span class="pull-right text-orange">SarahDawson</span>
                            </div>
                        </div>
                        <div class="social-content text-center artist-contact padding-bottom-05 padding-top-05">
                            <ul class="social-icons">
                                <li class="social-icons__item"><a href="" id="share-fb-btn"><img
                                        src="images/Facebook_icon.png" alt="facebook"></a></li>
                                <li class="social-icons__item"><a href="" id="share-twitter-btn"><img
                                        src="images/Twitter_icon.png" alt="twitter"></a></li>
                                <li class="social-icons__item"><a href=""><img src="images/YouTube_icon.png"
                                                                               alt="youtube" title="youtube"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row-content" ng-show="divShow == 'allMedia'">
                    <div class="col-sm-6">
                        <div class="photo-content padding-left-10 padding-right-10">
                            <label class="section-title-black">Photo</label>
                            <div>
                                Insert image here
                            </div>
                            <a class="view-all small-blue-text" ng-click="showMedia('photo')">View All</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="video-content padding-left-10 padding-right-10">
                            <label class="section-title-black">Video</label>
                            <div>
                                Insert video here
                            </div>
                            <a class="view-all small-blue-text" ng-click="showMedia('video')">View All</a>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-20">
                        <div class="music-content  padding-left-10 padding-right-10">
                            <label class="section-title-black">Music</label>
                            <div>
                                Insert music here
                            </div>
                            <a class="view-all small-blue-text" ng-click="showMedia('music')">View All</a>
                        </div>
                    </div>

                    <div class="col-sm-12 other-content margin-top-20">
                        <label class="section-title-black">Other Activities of the organizer</label>
                    </div>
                </div>
                <div class="row-content" ng-show="divShow == 'photo'"
                     ng-include="'views/template/photo-all.html'"></div>
                <div class="row-content" ng-show="divShow == 'video'"
                     ng-include="'views/template/video-all.html'"></div>
                <div class="row-content" ng-show="divShow == 'music'"
                     ng-include="'views/template/music-all.html'"></div>
            </div>
            <div class="col-sm-3 padding-00">
                <div class="col-sm-12 booking-content">
                    <label class="section-title-black">Booking Artist's</label>
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                    <form class="form-horizontal padding-bottom-10 margin-top-10" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="section-title-black col-sm-3 control-label" for="itunesSelect">Event</label>
                                <div class="col-sm-9">
                                    <select id="itunesSelect" ng-model="selecteditunesSelect"
                                            ng-options="x for (x, y) in itunesSelect"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="section-title-black col-sm-3 control-label" for="bookCommit">Text</label>
                                <div class="col-sm-9">
                                    <textarea id="bookCommit" rows="4" cols="25" maxlength="140"></textarea>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-block">Request to book</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-sm-12 margin-top-10 download">
                    <label class="section-title-black">Rider Download</label><br/>
                    <div class="btn-group text-center">
                        <button class="btn margin-right-10">Home Rider</button>
                        <button class="btn margin-left-10">Technical Rider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>