<section class="profile-section" ng-controller="PersonalController">
    <div class="container-fluid padding-left-20 padding-right-20">
        <div class="row row-content margin-top-20">
            <div class="col-sm-3 sidebar">
                <div class="avatar text-center">
                    <img src="images/placeholder.svg" alt="artist-img" class="img-circle img-responsive">
                </div>

                <div class="hero-actions">
                    <button class="btn btn-block" ui-sref="app.personal-artist.config">Change profile information</button>
                </div>

                <div class="hero-desc box-content">
                    <h1 class="hero-desc__name">Sarah Dawson</h1>
                    <small class="hero-desc__caption">Singer</small>
                    <div class="artist-rating">
                        <ul class="list">
                            <li class="item"><img src="images/Star_small_Full.png"></li>
                            <li class="item"><img src="images/Star_small_Full.png"></li>
                            <li class="item"><img src="images/Star_small_Full.png"></li>
                            <li class="item"><img src="images/Star_small_Full.png"></li>
                            <li class="item"><img src="images/Star_small_Full.png"></li>
                            <li class="item"><img src="images/Star_small.png"></li>
                            <li class="item"><img src="images/Star_small.png"></li>
                        </ul>
                        <small class="value">Rating 5.35</small>
                    </div>
                    <p class="hero-desc__about">Read, out with friends, listen to music, draw and learn new things.</p>

                    <ul class="artist-genres">
                        <li class="item" ng-repeat="gen in ['Hip-hop', 'R&B', 'Dancer']">
                            <a class="label label-default" >{{ gen }}</a>
                        </li>
                    </ul>

                    <div class="hero-desc__list">
                        <div class="item">
                            <span class="title">Location</span>
                            <span class="value">Belarus&nbsp;<i class="fa fa-flag"></i></span>
                        </div>
                        <div class="item">
                            <span class="title">iTunes link</span>
                            <span class="value text-blue">SarahDawson</span>
                        </div>
                        <div class="item">
                            <span class="title">Soundcloud</span>
                            <span class="value text-orange">SarahDawson</span>
                        </div>
                    </div>

                    <div class="hero-desc__social">
                        <ul class="social-icons">
                            <li class="social-icons__item">
                                <a href="" id="share-fb-btn">
                                    <img src="images/Facebook_icon.png" alt="facebook">
                                </a>
                            </li>
                            <li class="social-icons__item">
                                <a href="" id="share-twitter-btn">
                                    <img src="images/Twitter_icon.png" alt="twitter">
                                </a>
                            </li>
                            <li class="social-icons__item">
                                <a href="">
                                    <img src="images/YouTube_icon.png" alt="youtube" title="youtube">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row-content" ng-show="divShow == 'allMedia'">
                    <div class="col-sm-6">
                        <div class="media-content box-content">
                            <h3 class="box-content__title">
                                <a class="link">Add photo</a>
                                Photo (12)
                            </h3>

                            <div class="empty">
                                <div class="text">Upload a Photo</div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-sm-4 h-photo-preview">
                                 images<img src="http://placehold.it/75x75" alt="placeholder" width="75" height="75">
                                </div>
                                <div class="col-sm-4 h-photo-preview">
                                 images<img src="http://placehold.it/75x75" alt="placeholder" width="75" height="75">
                                </div>
                                <div class="col-sm-4 h-photo-preview">
                                 images<img src="http://placehold.it/75x75" alt="placeholder" width="75" height="75">
                                </div>
                                <div class="col-sm-4 h-photo-preview">
                                 images<img src="http://placehold.it/75x75" alt="placeholder" width="75" height="75">
                                </div>
                                <div class="col-sm-4 h-photo-preview">
                                 images<img src="http://placehold.it/75x75" alt="placeholder" width="75" height="75">
                                </div>
                                <div class="col-sm-4 h-photo-preview">
                                 images<img src="http://placehold.it/75x75" alt="placeholder" width="75" height="75">
                                </div>
                            </div> -->

                            <div class="view-all">
                                <a ng-click="showMedia('photo')">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media-content box-content">
                            <h3 class="box-content__title">
                                <a class="link">Add embed video</a>
                                Video (3)
                            </h3>

                            <div class="empty">
                                <div class="text">Upload a Video</div>
                            </div>

                            <div class="view-all">
                                <a ng-click="showMedia('video')">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-20">
                        <div class="media-content box-content">
                            <h3 class="box-content__title">
                                <a class="link">Add embed audio</a>
                                Music (17)
                            </h3>
                            <div class="empty">
                                <div class="text">Upload a Audio</div>
                            </div>
                            <div class="view-all">
                                <a ng-click="showMedia('music')">View All</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 other-content margin-top-20">
                        <label class="section-title-black">Other Activities of the organizer</label>
                        <div class="row row-content">
                        <div class="col-sm-6 margin-top-10" ng-repeat="event in eventsArt">
                            <ng-include src="'views/template/event.html'"/>
                        </div>
                            </div>
                    </div>
                </div>
                <div class="row-content" ng-show="divShow == 'photo'"
                     ng-include="'views/template/photo-all.html'"></div>
                <div class="row-content" ng-show="divShow == 'video'"
                     ng-include="'views/template/video-all.html'"></div>
                <div class="row-content" ng-show="divShow == 'music'"
                     ng-include="'views/template/music-all.html'"></div>
            </div>

            <div class="col-sm-3 padding-00">
                <div class="col-sm-12 box-content">
                    <h3 class="box-content__title">Booking Artist's</h3>
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                    <form class="form-horizontal padding-bottom-10 margin-top-10" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="section-title-black col-sm-3 control-label" for="itunesSelect">Event</label>
                                <div class="col-sm-9">
                                    <select id="itunesSelect" ng-model="selecteditunesSelect"
                                            ng-options="x for (x, y) in itunesSelect"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="section-title-black col-sm-3 control-label" for="bookCommit">Text</label>
                                <div class="col-sm-9">
                                    <textarea id="bookCommit" rows="4" cols="25" maxlength="140"></textarea>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-block">Request to book</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-sm-12 margin-top-10 box-content download">
                    <h3 class="box-content__title">Rider Download</h3>
                    <div class="btn-group text-center">
                        <button class="btn margin-right-10">Home Rider</button>
                        <button class="btn margin-left-10">Technical Rider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>