<section class="profile-section" ng-controller="PersonalController">
    <div class="container-fluid padding-left-20 padding-right-20">
        <div class="row row-content margin-top-20">
            <div class="col-sm-3 sidebar">
                <div class="avatar text-center">
                    <img src="http://placehold.it/300x300" alt="artist-img" class="img-circle img-responsive">
                </div>

                <div class="hero-desc box-content">
                    <h1 class="hero-desc__name">The Needle Groove</h1>
                    <small class="hero-desc__caption">Corporate Events, NightClub, Private Party</small>
                    <p class="hero-desc__about">Read, out with friends, listen to music, draw and learn new things.</p>

                    <div class="hero-desc__list">
                        <div class="item">
                            <span class="title">Saudi Arabia</span>
                            <span class="value">Bronx ST,34</span>
                        </div>
                    </div>

                    <div class="hero-desc__social">
                        <ul class="social-icons">
                            <li class="social-icons__item">
                                <a href="" id="share-fb-btn">
                                    <img src="images/Facebook_icon.png" alt="facebook">
                                </a>
                            </li>
                            <li class="social-icons__item">
                                <a href="" id="share-twitter-btn">
                                    <img src="images/Twitter_icon.png" alt="twitter">
                                </a>
                            </li>
                            <li class="social-icons__item">
                                <a href="">
                                    <img src="images/YouTube_icon.png" alt="youtube" title="youtube">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <label class="section-title-black">Recent Events</label>
                <div class="row margin-bottom-10">
                    <div class="col-sm-4 margin-top-10" ng-repeat="event in eventsArt">
                        <ng-include src="'views/template/event.html'"/>
                    </div>
                </div>
                <label class="section-title-black">Artists collaborating with the organizer</label>
                <div class="col-sm-12">
                    <div class="music-content  padding-left-10 padding-right-10">
                        <div>
                            Your artists here
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="music-content  padding-left-10 padding-right-10">
                        <label class="section-title-black">Past Event</label>
                        <div>
                            Your past event here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>