<section class="profile-section" ng-controller="PersonalController">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <!--<div class="hero-avatar empty">-->
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                <div class="hero-avatar">
                    <div class="avatar-img">
                        <img src="../../../images/placeholder.svg" alt="artist-img">
                    </div>

                    <div class="ic-image-selector">
                        <ul class="list-unstyled">
                            <li><a href="#" class="upload" title="Upload">&nbsp;</a></li>
                            <li><a href="#" class="cut" title="Cut">&nbsp;</a></li>
                            <li><a href="#" class="trash" title="Delete">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>

                <div class="hero-actions">
                    <button class="ic-btn ic-btn-blue" ui-sref="app.personal-artist.config">Change profile information</button>
                </div>

                <div class="hero-desc box-content">
                    <div class="hero-descr-block">
                        <h1 class="hero-desc-name">The Needle Groove</h1>
                        <small class="hero-desc-caption">Corporate Events, NightClub, Private Party</small>
                        <div class="artist-rating">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                            </ul>
                            <span class="rating-value">Rating 5.35</span>
                        </div>
                        <div class="hero-desc-about">
                            <p>
                                This article covers the basics of Astrology and how they are inter-related.
                                Astrology is defined as ‘the art or practice of determining the supposed influences of the planets
                                and their motions on human affairs and human disposition’.
                            </p>
                        </div>

                    </div>

                    <div class="hero-desc-list">
                        <div class="item">
                            <span class="title">Location</span>
                            <span class="value">Belarus&nbsp;<img src="../../../images/flag-british-icon.svg" alt="UK"></span>
                        </div>
                        <div class="item">
                            <a href="#" class="share-profile-lnk" ng-click="showSocialDialog($event);">Share profile</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9">
                <div class="row row-content-events">
                    <div class="col-md-12 event-title">
                        <h2>Recent events</h2>
                    </div>

                    <div class="col-md-4" ng-repeat="event in eventsArt">
                        <event-card data="event"></event-card>
                    </div><!--.col-->
                </div>

                <div class="row row-content-events">
                    <div class="col-md-12 event-title">
                        <h2>Artists collaborating with the organizer</h2>
                    </div>

                    <div class="col-md-4" ng-repeat="artist in colloborateArts">
                        <coloborating-card data="artist"></coloborating-card>
                    </div>
                </div>

                <div class="row row-content-events">
                    <div class="col-md-12 event-title">
                        <h2>Past events</h2>
                    </div>

                    <div class="col-md-4" ng-repeat="event in eventsArt">
                        <event-card data="event"></event-card>
                    </div><!--.col-->
                </div>

            </div>

        </div>
    </div>
</section>