<section class="profile-section" ng-controller="PersonalController">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->
                <!--<div class="hero-avatar empty">-->
                <!--DON'T DELETE - IT'S FOR EMPTY CONTENT -->

                <div class="hero-avatar empty">
                    <div class="avatar-img">
                        <!--<img src="../../../images/placeholder.svg" alt="...">-->
                    </div>

                    <div class="ic-image-selector">
                        <ul class="list-unstyled">
                            <li><a href="#" class="upload" title="Upload">&nbsp;</a></li>
                            <li><a href="#" class="cut" title="Cut">&nbsp;</a></li>
                            <li><a href="#" class="trash" title="Delete">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>

                <div class="hero-desc box-content">
                    <div class="hero-descr-block">
                        <h1 class="hero-desc-name">The Needle Bro</h1>
                        <small class="hero-desc-caption">Corporate events, Night Club, Private Party</small>
                        <div class="artist-rating">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                            </ul>
                            <span class="rating-value">Rating 5.35</span>
                        </div>
                        <div class="hero-desc-about text-collapsed" data-id="hdc" ng-click="showCloseText($event, 'hdc')">
                            <p>
                                This article covers the basics of Astrology and how they are inter-related.
                                Astrology is defined as ‘the art or practice of determining the supposed influences of the planets
                                and their motions on human affairs and human disposition’.
                            </p>
                        </div>
                    </div>

                    <div class="hero-desc-list">
                        <div class="item">
                            <span class="title">Location</span>
                            <span class="value">Belarus&nbsp;<img src="../../../images/flag-british-icon.svg" alt="UK"></span>
                        </div>
                    </div>

                    <div class="hero-desc-social">
                        <ul class="social-icons list-unstyled">
                            <li class="social-icons__item">
                                <a href="#">
                                    <img class="img-circle img-responsive" src="../../../images/soundcloud@2x.png" alt="soundCloud">
                                </a>
                            </li>
                            <li class="social-icons__item">
                                <a href="">
                                    <img class="img-circle img-responsive" src="../../../images/insta@2x.png" alt="instagram">
                                </a>
                            </li>
                            <li class="social-icons__item">
                                <a href="#">
                                    <img class="img-circle img-responsive" src="../../images/vimeo@2x.png" alt="vimeo">
                                </a>
                            </li>
                            <!--<li class="social-icons__item">-->
                                <!--<a href="#">-->
                                    <!--<img class="img-circle img-responsive" src="../../images/youtube@2x.png" alt="youtube">-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="social-icons__item">-->
                                <!--<a href="#">-->
                                    <!--<img class="img-circle img-responsive" src="../../../images/twitter@2x.png" alt="twitter">-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="social-icons__item">-->
                                <!--<a href="#">-->
                                    <!--<img class="img-circle img-responsive" src="../../../images/facebook@2x.png" alt="facebook">-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>


                </div>
            </div>


            <div class="col-md-6">
                <div class="settings-block">

                    <h1>Profile Information Setting</h1>

                    <form name="setting" ng-submit="save_artist()" class="form-inline" novalidate>
                        <fieldset>
                            <div class="form-group focused error">
                                <div class="col-xs-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="email" ng-required="true" value="Maximdanilovdesigner@gmail.com">
                                </div>
                                <div class="col-xs-1 edit-section">
                                    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label>Field of activity</label>
                                </div>
                                <div class="col-xs-9 multi">
                                    <div class="artist-role-block {{genre.status}}" ng-repeat="genre in genres">
                                        <span class="role-name">{{genre.title}}</span>
                                        <span class="role-switch"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label>About organization</label>
                                </div>
                                <div class="col-xs-8">
                                    <textarea class="form-control" ng-required="true">In the 80s, the hair accessory was invaluable. Almost every style involved some sort of hair accessory or embellishment to really set it off. Today, the hair accessory is not a part of everyday style and care should be taken as to when and how to use the look dated.</textarea>
                                    <span class="symbols-counter">There are 130 characters left to limit</span>
                                </div>
                                <div class="col-xs-1 edit-section">
                                    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label>Location</label>
                                </div>
                                <div class="col-xs-8 editable-form">
                                    <span class="form-value" ng-show="!locationEditable" ng-click="edit($event)">London, United Kindom</span>
                                    <div class="editable-block" ng-show="locationEditable">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="text" placeholder="City..." value="">
                                            </div>
                                            <div class="col-xs-6">
                                                <select name="location_countries" id="location_countries" ng-model="user.country">
                                                    <option value="" selected disabled>Select country...</option>
                                                    <option value="1">London</option>
                                                    <option value="2">USA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <select name="location_state" id="location_state" ng-show="user.country == 2">
                                                    <option value="" selected disabled>Select state...</option>
                                                    <option value="1">MI</option>
                                                    <option value="2">NY</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="text" class="address" placeholder="Address..." value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1 edit-section">
                                    <a href="#" ng-click="edit($event)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label>iTunes</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" ng-required="true" value="https://www.itunes.com/maxim911">
                                </div>
                                <div class="col-xs-1 edit-section">
                                    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label>Website</label>
                                </div>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" ng-required="true" value="https://www.soundcloud.com/qweqw/maxim.eriomov">
                                </div>
                                <div class="col-xs-1 edit-section">
                                    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label>Social Networks</label>
                                </div>
                                <div class="col-xs-9">
                                    <div class="social-network">
                                        <div class="social-block">
                                            <img src="../../../images/facebook@2x.png" alt="...">
                                            <input type="text" class="form-control social-name" value="Dima Kaminsky">
                                            <span class="edit-section remove">
                                                <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                            </span>
                                        </div>
                                        <div class="social-block">
                                            <img src="../../../images/twitter@2x.png" alt="...">
                                            <input type="text" class="form-control social-name" value="Dima Kaminsky">
                                            <span class="edit-section remove">
                                                <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                            </span>
                                        </div>

                                        <a href="#" class="add-more-social">+ Add more social network account</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <div class="col-xs-12 edit-section2">
                                <button class="ic-btn ic-btn-white ic-btn-delete pull-left">Delete</button>
                                <button class="ic-btn ic-btn-white pull-right" ui-sref="app.personal-artist">Cancel</button>
                                <button type="submit" class="ic-btn ic-btn-orange pull-right" ng-disabled="setting.$invalid">Save</button>
                            </div>
                        </div>
                    </form>
                </div><!--.settings-block-->
            </div>

            <div class="col-md-3">
                <img src="../../../images/calendar-mock.png" style="display: inline-block; margin-bottom: 20px;" class="img-responsive" alt="...">

                <div class="rider-block box-content download">
                    <div class="title">Rider Download</div>
                    <div class="btn-group text-center">
                        <button class="ic-btn ic-btn-orange">Home Rider</button>
                        <button class="ic-btn ic-btn-orange">Technical Rider</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>