<div class="container" ng-controller="ArtistTopsController">
    <div class="row row-content">
        <div class="col-sm-9">
            <div class="col-sm-4 margin-top-10" ng-repeat="artist in artists">
                <label class="small-default-text">TOP 5 {{artist.type}}</label>
                <div class="thumbnail">
                    <div class="col-sm-12 divider">
                        <div class="col-sm-6 text-center">
                            <img ng-src="{{ artist.artistTops[0].photo }}" alt="" class="img-circle img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3>{{ artist.artistTops[0].firstName}} {{ artist.artistTops[0].lastName}}</h3>
                            <p class="discribe">{{ artist.artistTops[0].discrabe}}</p>
                        </div>
                    </div>
                    <div class="text-center col-sm-12">
                        <div class="pull-left">
                            <h5>{{ artist.artistTops[0].country}}</h5>
                        </div>
                        <div class="pull-right">
                            <h5><strong>{{ artist.artistTops[0].style}}</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="text" ng-repeat="art in artist.artistTops.slice(1, artist.artistTops.length)">
                      <span>{{art.id+1}}</span>  <img alt="user image" src="{{art.photo}}" class="img-circle card-photo">
                        <span class="padding-right-10   ">{{art.firstName}} {{art.lastName}}
                        <span class="padding-right-20 small-grey-text">{{art.country}} | {{art.style}}</span></span>

                </div>
                <a class="pull-right small-blue-text">View All</a>
            </div>
        </div>
        <div class="col-sm-3 margin-top-10">
            <div class="artist-new">
            <label class="small-default-text">New Artist</label>
            <div class="margin-bottom-05 margin-top-05" ng-repeat="art in newArtists">
                <img alt="user image" src="{{art.photo}}" class="img-circle card-photo">
                <span class="padding-right-10   ">{{art.firstName}} {{art.lastName}}
                <span class="padding-right-20 small-grey-text">{{art.country}} | {{art.style}}</span></span>

            </div>
            </div>
        </div>
    </div>
</div>