<section class="top-artists-section" ng-controller="ArtistTopsController">
    <div class="container">
        <div class="row row-content">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4" ng-repeat="artist in artists">
                        <span class="section-title">TOP 5 {{artist.type}}</span>

                        <profile-preview data="artist.artistTops[0]" avatar-type-class="'avatar-circle'"></profile-preview>

                        <mini-profile-preview
                                ng-repeat="artist in artist.artistTops.slice(1, artist.artistTops.length)"
                                data="artist"
                                show-index="1"
                        ></mini-profile-preview>

                        <a class="pull-right view-all" ng-click="openArtist(artist.type)">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="new-artist-section">
                    <div class="section-title">New Artist</div>

                    <div class="artist-new">
                        <mini-profile-preview
                                ng-repeat="artist in newArtists"
                                data="artist"
                                show-index="0"
                        ></mini-profile-preview>
                    </div>
                </div>

                <div class="banner">
                    <img src="../images/fixtures/banner/banner-300@2x.png" class="img-responsive" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>