<section class="artist-all">
    <div class="container-fluid">
        <div class="container pull-right">
            <label>From</label><input type="date"/>
            <label>To</label><input type="date"/>
            <label>Location</label><input type="text"/>
            <label>Genres</label><input type="date"/>
            <button class="btn-search">Search</button>
        </div>
    </div>
    <div class="container">
        <a ui-sref="app">Back to the general list</a> / Find {{allArtist.size}} {{type}}
        <div class="text" ng-repeat="art in allArtist">
            <span>{{art.id+1}}</span> <img alt="user image" src="{{art.photo}}" class="img-circle card-photo">
            <span class="display-span">{{art.firstName}} {{art.lastName}}
            <span class="small-grey-text">{{art.country}} | {{art.style}}</span>
        </span>
        </div>
    </div>
</section>