<section class="common">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="separate-block">
                    <h1 class="ic-title title-1">Title 1. Open Sans Bold 32</h1>
                </div>
                <div class="separate-block">
                    <h2 class="ic-title title-2">Title 2. Open Sans Semibold 26</h2>
                </div>
                <div class="separate-block">
                    <h3 class="ic-title title-3">Title 3. Open Sans Semibold 16</h3>
                </div>
                <div class="separate-block">
                    <h4 class="ic-title title-4">Title 4. Open Sans Semibold 14</h4>
                </div>
                <div class="separate-block">
                    <p class="ic-text text-default big">Default text (Big). Open Sans Regular 16</p>
                </div>
                <div class="separate-block">
                    <p class="ic-text text-default small">Default text (Small). Open Sans Regular 10</p>
                </div>
                <div class="separate-block">
                    <p class="ic-text text-grey medium">Grey text (Big). Open Sans Semibold 12</p>
                </div>
                <div class="separate-block">
                    <p class="ic-text text-grey small">Grey text (Small). Open Sans Semibold 10</p>
                </div>
                <div class="separate-block">
                    <p class="ic-section section-title black">Section title black. Open Sans Semibold 10</p>
                </div>
                <div class="separate-block">
                    <p class="ic-section section-title blue">Section title blue. Open Sans Semibold 10</p>
                </div>
                <div class="separate-block">
                    <span class="ic-btn-label">Button text black. Open Sans Semibold 10</span>
                </div>
                <div class="separate-block">
                    <span class="ic-btn-label reverse">Button text white. Open Sans Semibold 10</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="separate-block">
                    <a href="#" class="ic-btn ic-btn-blue">Send SMS Code</a>
                </div>
                <div class="separate-block">
                    <input type="submit" class="ic-btn ic-btn-blue" value="Send SMS Code">
                </div>
                <div class="separate-block">
                    <button class="ic-btn ic-btn-blue">Send SMS Code</button>
                </div>
                <div class="separate-block">
                    <a href="#" class="ic-btn ic-btn-blue big">Send SMS Code</a>
                </div>
                <div class="separate-block">
                    <input type="submit" class="ic-btn ic-btn-blue big" value="Send SMS Code">
                </div>
                <div class="separate-block">
                    <button class="ic-btn ic-btn-blue big">Send SMS Code</button>
                </div>
                <div class="separate-block">
                    <a href="#" class="ic-btn ic-btn-white">Request another code</a>
                </div>
                <div class="separate-block">
                    <input type="submit" class="ic-btn ic-btn-white" value="Request another code">
                </div>
                <div class="separate-block">
                    <button class="ic-btn ic-btn-white">Request another code</button>
                </div>
                <div class="separate-block">
                    <a href="#" class="ic-btn ic-btn-orange">Login</a>
                </div>
                <div class="separate-block">
                    <input type="submit" class="ic-btn ic-btn-orange" value="Login">
                </div>
                <div class="separate-block">
                    <button class="ic-btn ic-btn-orange">Login</button>
                </div>
                <div class="separate-block">
                    <a href="#" class="ic-btn ic-btn-red">Cancel</a>
                </div>
                <div class="separate-block">
                    <input type="submit" class="ic-btn ic-btn-red" value="Cancel">
                </div>
                <div class="separate-block">
                    <button class="ic-btn ic-btn-red">Cancel</button>
                </div>
                <div class="separate-block">
                    <a href="#" class="ic-btn ic-btn-green">Accept request</a>
                </div>
                <div class="separate-block">
                    <input type="submit" class="ic-btn ic-btn-green" value="Accept request">
                </div>
                <div class="separate-block">
                    <button class="ic-btn ic-btn-green">Accept request</button>
                </div>
            </div>

            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6">
                        <span class="ic-color" style="background-color: #000;"></span>
                        <span class="ic-color" style="background-color: #999;"></span>
                        <span class="ic-color" style="background-color: #f2f2f2;"></span>
                        <span class="ic-color" style="background-color: #417505;"></span>
                        <span class="ic-color" style="background-color: #d0021b;"></span>
                        <span class="ic-color" style="background-color: #ff5400;"></span>
                    </div>
                    <div class="col-md-6">
                        <span class="ic-color" style="background-color: #4a90e2;"></span>
                        <span class="ic-color" style="background-color: #fafafa;"></span>
                        <span class="ic-color" style="background-color: #fff;"></span>
                        <span class="ic-color" style="background-color: #fff;"></span>
                        <span class="ic-color" style="background-color: #fff;"></span>
                        <span class="ic-color" style="background-color: #fff;"></span>
                    </div>
                </div>
            </div>
        </div><!--.row-->

        <div class="separate-block">

            <div class="row">
                <div class="col-md-3">

                    <div class="artist-card">
                        <div class="row card-header">
                            <div class="col-xs-7 artist-avatar">
                                <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="avatar">
                            </div>
                            <div class="col-xs-5 artist-info">
                                <div class="name">Helen Sullivan</div>
                                <div class="description">
                                    <p>A purpose is the eternal condition for success.
                                        Every former smoker can tell you just how hard it is to stop smoking cigarettes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row card-footer">
                            <div class="col-xs-7 left-part">
                                <p>Bouvet Island (Bouvetoya)</p>
                            </div>
                            <div class="col-xs-5 right-part">
                                <p>Deep House</p>
                            </div>
                        </div>
                    </div><!--.artist-card-->

                </div><!--.col-->
                <div class="col-md-3">
                    <div class="artist-card">
                        <div class="row card-header">
                            <div class="col-xs-7 artist-avatar">
                                <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="avatar">
                            </div>
                            <div class="col-xs-5 artist-info">
                                <div class="name">Lawrence Lambert</div>
                                <div class="description">
                                    <p>A purpose is the eternal condition for success.
                                        Every former smoker can tell you just how hard it is to stop smoking cigarettes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row card-footer">
                            <div class="col-xs-7 left-part">
                                <p>Madagascar</p>
                            </div>
                            <div class="col-xs-5 right-part">
                                <p>Dubstep</p>
                            </div>
                        </div>
                    </div><!--.artist-card-->
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="organization-card">
                        <div class="row card-header">
                            <div class="col-xs-7 organization-avatar">
                                <img src="../../images/placeholder.svg" class="img-responsive" alt="avatar">
                            </div>
                            <div class="col-xs-5 organization-info">
                                <div class="name">SURA RECORDS</div>
                                <div class="description">
                                    <p>A purpose is the eternal condition for success.
                                        Every former smoker can tell you just how hard it is to stop smoking cigarettes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row card-footer">
                            <div class="col-xs-6 left-part">
                                <p>Palau</p>
                            </div>
                            <div class="col-xs-6 right-part"></div>
                        </div>
                    </div><!--.organization-card-->
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="event-card">
                        <div class="container-fluid">
                            <div class="row card-header">
                                <div class="col-xs-12 event-avatar">
                                    <img src="../../images/placeholder.svg" class="img-responsive" alt="avatar">
                                </div>
                                <div class="col-xs-12 event-info">
                                    <h4 class="ic-title title-4 name">Romantic Ballads</h4>
                                    <div class="ic-text text-grey small subtext">12 Nov 2016, 22:00 - 05:00</div>
                                    <div class="description ic-text text-default small">
                                        <p>
                                            A purpose is the eternal condition for success.
                                            Every former smoker can tell you just how hard it is to stop smoking cigarettes.
                                        </p>
                                        <p>
                                            A purpose is the eternal condition for success.
                                            Every former smoker can tell you just how hard it is to stop smoking cigarettes.
                                        </p>
                                        <p>
                                            A purpose is the eternal condition for success.
                                            Every former smoker can tell you just how hard it is to stop smoking cigarettes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="people">
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link">
                                    <img src="../../images/placeholder.svg" class="img-responsive img-circle" alt="pavatar">
                                </a>
                                <a href="#" class="people-link-add">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="people-link-add">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="row card-footer">
                                <div class="col-xs-6 left-part">
                                    <p>London, UK</p>
                                </div>
                                <div class="col-xs-6 right-part">
                                    <p>Concert</p>
                                </div>
                            </div>
                        </div>
                    </div><!--.event-card-->
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="document-card">
                        <h4 class="ic-title title-4">Vinyl Banners</h4>
                        <div class="ic-text text-grey small subtext">12 Nov 2016, 22:00 - 05:00</div>
                    </div><!--.document-card-->
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="add-new-card">
                        <div class="card-content">
                            <div class="title">Create a new artist page</div>
                            <p>This page presents you as an artist of the chosen genre and allows you to work with the organizers</p>
                            <button class="ic-btn ic-btn-blue big">Create page</button>
                        </div>
                    </div><!--.new-card-->
                </div><!--.col-->



            </div><!--.row-->
        </div>


    </div><!--.container-->



</section>