<section class="common">

    <div class="container-fluid">
        <div class="col-md-4">
            <h1 class="ic-title title-1">Title 1. Open Sans Bold 32</h1>
            <h2 class="ic-title title-2">Title 2. Open Sans Semibold 26</h2>
            <h3 class="ic-title title-3">Title 3. Open Sans Semibold 16</h3>
            <h4 class="ic-title title-4">Title 4. Open Sans Semibold 14</h4>
            <br>
            <br>
            <p class="ic-text text-default big">Default text (Big). Open Sans Regular 16</p>
            <p class="ic-text text-default small">Default text (Small). Open Sans Regular 10</p>
            <br>
            <p class="ic-text text-grey medium">Grey text (Big). Open Sans Semibold 12</p>
            <p class="ic-text text-grey small">Grey text (Small). Open Sans Semibold 10</p>
            <br>
            <br>
            <p class="ic-section section-title black">Section title black. Open Sans Semibold 10</p>
            <p class="ic-section section-title blue">Section title blue. Open Sans Semibold 10</p>
            <br>
            <br>
            <span class="ic-btn-label">Button text black. Open Sans Semibold 10</span>
            <br>
            <span class="ic-btn-label reverse">Button text white. Open Sans Semibold 10</span>
        </div>

        <div class="col-md-3">
            <a href="#" class="ic-btn ic-btn-blue">Send SMS Code</a>
            <br>
            <input type="submit" class="ic-btn ic-btn-blue" value="Send SMS Code">
            <br>
            <button class="ic-btn ic-btn-blue">Send SMS Code</button>
            <br>
            <br>
            <a href="#" class="ic-btn ic-btn-white">Request another code</a>
            <br>
            <input type="submit" class="ic-btn ic-btn-white" value="Request another code">
            <br>
            <button class="ic-btn ic-btn-white">Request another code</button>
            <br>
            <br>
            <a href="#" class="ic-btn ic-btn-orange">Login</a>
            <br>
            <input type="submit" class="ic-btn ic-btn-orange" value="Login">
            <br>
            <button class="ic-btn ic-btn-orange">Login</button>
            <br>
            <br>
            <a href="#" class="ic-btn ic-btn-red">Cancel</a>
            <br>
            <input type="submit" class="ic-btn ic-btn-red" value="Cancel">
            <br>
            <button class="ic-btn ic-btn-red">Cancel</button>
            <br>
            <br>
            <a href="#" class="ic-btn ic-btn-green">Accept request</a>
            <br>
            <input type="submit" class="ic-btn ic-btn-green" value="Accept request">
            <br>
            <button class="ic-btn ic-btn-green">Accept request</button>
            <br>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6">
                    <span class="ic-color" style="background-color: #000;"></span>
                    <span class="ic-color" style="background-color: #999;"></span>
                    <span class="ic-color" style="background-color: #f2f2f2;"></span>
                    <span class="ic-color" style="background-color: #417505;"></span>
                    <span class="ic-color" style="background-color: #d0021b;"></span>
                    <span class="ic-color" style="background-color: #ff5400;"></span>
                </div>
                <div class="col-md-6">
                    <span class="ic-color" style="background-color: #4a90e2;"></span>
                    <span class="ic-color" style="background-color: #fafafa;"></span>
                    <span class="ic-color" style="background-color: #fff;"></span>
                    <span class="ic-color" style="background-color: #fff;"></span>
                    <span class="ic-color" style="background-color: #fff;"></span>
                    <span class="ic-color" style="background-color: #fff;"></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            icons
        </div>
    </div>



</section>