<section class="section-events" ng-controller="EventsController">
    <div class="container-fluid padding-left-20 padding-right-20">
        <label class="margin-top-10">Find  138 events</label>
        <div class="row row-content">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 margin-top-10" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                <div class="event">
                    <img class="event-img-top" src="http://placehold.it/150x200">
                    <div class="event-block">
                        <h4 class="event-title">Romantic Ballads</h4>
                        <span class="small-grey-text">12 nov 2016, 22:00 - 5:00</span>
                        <div class="event-text">
                            Read, out with friends, listen to music, draw and learn new things.
                        </div>
                        <div class="event-artist">
                            <p>
                                <img src="http://placehold.it/60x60" alt="" class="img-circle img-responsive margin-top-10 margin-right-05" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8]"></span>
                            </p>
                        </div>
                    </div>
                    <div class="event-footer">
                        <span class="pull-right">Concert</span>
                        <span></i>London, UK</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>