<section class="section-events" ng-controller="EventsController">
    <div class="container-fluid padding-left-20 padding-right-20 filter-section padding-bottom-10 padding-top-10">
        <div class="pull-right">
            <label>From</label><input type="date"/>
            <label>To</label><input type="date"/>
            <label>Location</label><input type="text"/>
                <label>Type</label><select ng-model="selectedType" ng-options="x for x in ['Niight Club', 'Bar', 'Hall', 'Concert']"></select>
            <button class="btn btn-search">Search</button>
        </div>
    </div>
    <div class="container-fluid padding-left-20 padding-right-20">
        <label class="margin-top-10">Find  {{eventsArt.length}} events</label>
        <div class="row row-content">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 margin-top-10" ng-repeat="event in eventsArt">
                <div class="event">
                    <img class="event-img-top" src="{{event.imgUrl}}">
                    <div class="event-block">
                        <h4 class="event-title">{{event.title}}</h4>
                        <span class="small-grey-text">{{event.eventDate}}</span>
                        <div class="event-text">{{event.eventText}}</div>
                        <div class="event-artist">
                            <p>
                                <a  ng-repeat="artist in event.eventArtist" ng-click="gotoArtist(artist.id)">
                                    <img src="{{artist.artistImg}}" alt="" class="img-circle img-responsive margin-top-10 margin-right-05">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="event-footer">
                        <span></i>{{event.eventLocation}}</span>
                        <span class="pull-right">{{event.eventType}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>