<section class="top-artists-section-open events-open-section">

    <div ng-include="'views/template/filter_section.html'"></div>

    <div class="container">
        <div class="events-header-block">
            <span class="title">Top Events</span>

            <div class="actions">
                <a href="#" class="action-lnk active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12">
                        <path fill="#4A90E2" fill-rule="evenodd" d="M4.706 4.538V1a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v3.538a1 1 0 0 0 1 1h2.706a1 1 0 0 0 1-1zm0 6.462V7.462a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1V11a1 1 0 0 0 1 1h2.706a1 1 0 0 0 1-1zm5.647 0V7.462a1 1 0 0 0-1-1H6.647a1 1 0 0 0-1 1V11a1 1 0 0 0 1 1h2.706a1 1 0 0 0 1-1zM16 11V7.462a1 1 0 0 0-1-1h-2.706a1 1 0 0 0-1 1V11a1 1 0 0 0 1 1H15a1 1 0 0 0 1-1zm-5.647-6.462V1a1 1 0 0 0-1-1H6.647a1 1 0 0 0-1 1v3.538a1 1 0 0 0 1 1h2.706a1 1 0 0 0 1-1zm1.941 1H15a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-2.706a1 1 0 0 0-1 1v3.538a1 1 0 0 0 1 1z"/>
                    </svg>
                </a>
                <a href="#" class="action-lnk">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                        <path fill="#E5E5E5" fill-rule="evenodd" d="M2 7h3v3H2V7zm2-7v1h4V0h2v1h1s.998-.108 1 1.4v8.4c0 .66-.6 1.2-1.333 1.2H1.333C.6 12 0 11.46 0 10.8L-.003 2C-.022 1.02 1 1 1 1h1V0h2zM1 11h10V3H1v8z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" ng-repeat="event in eventsArt track by $index">
                        <event-card data="event"></event-card>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>