<!--.transparent1 - change it to .transparent, it makes menu transparent, for white menu bgc - remove it-->
<!--<nav class="navbar navbar-default navbar-fixed-top transparent1" ng-class="{transparent: isHeaderTransparent}">-->
<nav class="navbar navbar-default navbar-fixed-top transparent1">
    <div class="container navbar-content">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CONNECT</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ui-sref="app">TOP ARTISTS</a></li>
                <li><a ui-sref="app.events">EVENTS</a></li>
                <li><a ui-sref="app.organization">ORGANIZATION</a></li>
                <li ng-if="true"><a href="#" class="mails header-glifs"><i class="fa fa-envelope"></i></a></li>
                <li ng-if="true"><a href="#" class="alerts header-glifs"><i class="fa fa-bell"></i><span>8</span></a></li>
                <li ng-if="true" class="dropdown">

                    <!--DON'T DELETE FOR SIMPLE ACCOUNT-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" onclick="return false;">-->
                        <!--<div class="image circle">-->
                            <!--<img src="../images/placeholder.svg" alt="...">-->
                        <!--</div>-->
                        <!--<span class="content">-->
                            <!--<span class="title">Dima Kaminsky</span>-->
                        <!--</span>-->
                        <!--<span class="caret"></span>-->
                    <!--</a>-->
                    <!--DON'T DELETE-->

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" onclick="return false;">
                        <div class="image circle">
                            <img src="../images/placeholder.svg" alt="...">
                        </div>
                        <span class="content">
                            <span class="title">Dima Kaminsky</span>
                            <span class="label account-type">Pro account</span>
                        </span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="content-block">
                                    <span class="content">Dima Kaminsky</span>
                                    <span class="label account-type">Pro account</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="image circle" ><img src="../../images/placeholder.svg" alt="..."></span>
                                <span class="content-block">
                                    <span class="content">Dima Kaminsky</span>
                                    <span class="label">Artist</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="image rounded"><img src="../../images/placeholder.svg" alt="..."></span>
                                <span class="content-block">
                                    <span class="content">Sven Stars Pro</span>
                                    <span class="label">Organization</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="image">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </span>
                                <span class="content-block">
                                    <span class="content">Settings</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">
                            <span class="image">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </span>
                                <span class="content-block">
                                <span class="content">Log Out</span>
                            </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--<li ng-if="true">-->
                    <!--<button ui-sref="app.login" class="ic-btn ic-btn-orange">LOGIN</button>-->
                <!--</li>-->
                <li>
                    <a href="#" class="search header-glifs"><i class="fa fa-search"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>