<section class="top-artists-section-open organizations-open-section" ng-controller="OrganizationController">

    <div ng-include="'views/template/filter_section.html'"></div>

    <div class="container organizations-header">
        <div class="row">
            <div class="col-md-9">
                <span class="title">Top organizations</span>
            </div>
            <div class="col-md-3">
                <span class="title">New Artist</span>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4" ng-repeat="org in organizationList">
                        <profile-preview data="org"></profile-preview>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="new-artist-section">
                    <div class="artist-new">
                        <mini-profile-preview
                                ng-repeat="artist in newArtists"
                                data="artist"
                                show-index="0"
                        ></mini-profile-preview>
                    </div>
                </div>

                <div class="banner">
                    <img src="../images/banner-300@2x.png" class="img-responsive" alt="...">
                </div>
            </div>
        </div>

    </div>
</section>