<style>
    .temp-section {
        padding-top: 120px;
    }
</style>

<section class="temp-section">

    <div class="container">

        <pre ng-include src="'/version.txt'"></pre>

        <h1>Content</h1>
        <ul>
            <li>1_1. <a href="#!/login">Login</a></li>
            <li>1_2. <a href="#!/sms-confirmation">SMS Confirmation</a></li>
            <li>1_3. <a href="#!/sms-verification">SMS Verification</a></li>
            <li>1_4. <a href="#!/terms-of-use">Terms of use</a></li>
            <li>1_5. <a href="#!/cabinet">Cabinet dashboard</a></li>
            <li>1_9. <a href="#!/create-artist">Create Artist</a></li>
            <li>1_10. <a href="#!/create-organization">Create Organization</a></li>
            <li>1_16. <a href="#!/restore-password">Restore password</a></li>
            <li>1_17. <a href="#!/restore-password-new">Restore password new</a></li>
            <li>1_19. <a href="#!/registration-complete">Cabinet information</a></li>

            <li>2_1. <a href="#!/artist-tops">Artist Tops</a></li>
            <li>2_2. <a href="#!/artist-open">Artist Open</a></li>
            <li>2_3. <a href="#!/personal-artist">Personal Page - Artist</a></li>
            <li>2_4. <a href="#!/personal-artist/config">Personal Page - Change information</a></li>

            <li>3_2. <a href="#!/event-add-role">Add role</a></li>
            <li>3_3. <a href="#!/event-page-settings">Event Page setting</a></li>
            <li>3_4. <a href="#!/personal-event">Event profile</a></li>
            <li>3_x. <a href="#!/create-event">Create event</a></li>

            <li>4_1. <a href="#!/organization">Organizations List</a></li>
            <li>4_3. <a href="#!/personal-organization/config">Organization page settings</a></li>

            <li>x_x. <a href="#!/common">Common</a></li>







        </ul>
    </div>
</section>