<style>
    .temp-section {
        padding-top: 120px;
    }
</style>

<section class="temp-section">

    <div class="container">

        <pre ng-include src="'/version.txt'"></pre>

        <h1>Content</h1>
        <ul>
            <li>3.1. <a href="#!/artist-tops">Artist Tops</a></li>
            <li>5.2. <a href="#!/events">Event Page</a></li>
            <li>5.0. <a href="#!/create-event">Create event</a></li>
            <li>3.2. <a href="#!/artist-open">Artist Open</a></li>
            <li>4.1. <a href="#!/organization">Organizations List</a></li>
            <li>1.1. <a href="#!/login">Login</a></li>
            <li>?.?. <a href="#!/verification">Verification</a></li>
            <li>1.4. <a href="#!/cabinet">Cabinet dashboard</a></li>
            <li>1.9. <a href="#!/create-artist">Create Artist</a></li>
            <li>1.10. <a href="#!/create-organization">Create Organization</a></li>
            <li>2.1. <a href="#!/personal-artist">2_1_Personal Page - Artist / 2_3_Artist Page / 2_4_Artist Page Photo Open / 2_5_Artist Page Video Open / 2_6_Artist Page Music Open</a></li>
            <li>2.2. <a href="#!/personal-artist/config">Personal Page - Change information</a></li>
            <li>4.3. <a href="#!/personal-organization/config">Organization page settings</a></li>
            <li>?.?. <a href="#!/common">Common</a></li>
            <li>?.?. <a href="#!/terms-of-use">Terms of use</a></li>
            <li>?.?. <a href="#!/personal-event">Event profile</a></li>
            <li>1_19 <a href="#!/registration-complete">Cabinet information</a></li>
            
        </ul>
    </div>
</section>