<style>
    .temp-section {
        padding-top: 120px;
    }
</style>

<section class="temp-section">

    <div class="container">

        <pre ng-include src="'/version.txt'"></pre>

        <h1>Content</h1>
        <ul>
            <li>1_1. <a href="#" ui-sref="app.login">Login</a></li>
            <li>1_2. <a href="#" ui-sref="app.sms-confirmation">SMS Confirmation</a></li>
            <li>1_3. <a href="#" ui-sref="app.sms-verification">SMS Verification</a></li>
            <li>1_4. <a href="#" ui-sref="app.terms-of-use">Terms of use</a></li>
            <li>1_4a. <a href="#" ui-sref="app.privacy-policy">Privacy Policy</a></li>
            <li>1_5. <a href="#" ui-sref="app.cabinet">Cabinet dashboard</a></li>
            <li>1_9. <a href="#" ui-sref="app.create-artist">Create Artist</a></li>
            <li>1_10. <a href="#" ui-sref="app.create-organization">Create Organization</a></li>
            <li>1_13. <a href="#" ui-sref="app.account-settings">Account Settings</a></li>
            <li>1_16. <a href="#" ui-sref="app.restore-password">Restore password</a></li>
            <li>1_17. <a href="#" ui-sref="app.restore-password-new">Restore password new</a></li>
            <li>1_19. <a href="#" ui-sref="app.registration-complete">Cabinet information</a></li>

            <li>2_1. <a href="#" ui-sref="app.artist-tops">Artist Tops</a></li>
            <li>2_2. <a href="#" ui-sref="app.artist-open">Artist Open</a></li>
            <li>2_3. <a href="#" ui-sref="app.personal-artist">Personal Page - Artist</a></li>
            <li>2_4. <a href="#" ui-sref="app.personal-artist.config">Personal Page - Change information</a></li>

            <li>3_2. <a href="#" ui-sref="app.event-add-role">Add role</a></li>
            <li>3_3. <a href="#" ui-sref="app.event-page-settings">Event Page setting</a></li>
            <li>3_4. <a href="#" ui-sref="app.event-page">Event profile</a></li>
            <li>3_x. <a href="#" ui-sref="app.create-event">Create event</a></li>

            <li>3_6. <a href="#" ui-sref="app.calendar-for-you">Calendar for you</a></li>
            <li>3_7. <a href="#" ui-sref="app.calendar-for-you-events">Calendar for you (Only your)</a></li>

            <li>4_1. <a href="#" ui-sref="app.organization">Organizations List</a></li>
            <li>4_3. <a href="#" ui-sref="app.personal-organization.config">Organization page settings</a></li>

            <li>5_3. <a href="#" ui-sref="app.notification">Notification</a></li>
            <li>5_4. <a href="#" ui-sref="app.rating">Rating</a></li>

            <li>x_x. <a href="#" ui-sref="app.common">Common</a></li>







        </ul>
    </div>
</section>