<script>
    $('document').ready(function() {
        $('textarea').autosize();
    });
</script>

<section class="text-block rating-section">

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1 class="title">Evaluate your interaction</h1>

                <div class="info-text">
                    <p>
                        You participated in the event «<span class="colored-label">Name of the event</span>» which was organized by the organizer
                        «<span class="colored-label">Organizer's name</span>». Please, evaluate this cooperation.
                    </p>
                    <p>This can other users in the selection of contracts.</p>
                </div>

                <div class="rating-cats">
                    <div class="cat-item">
                        <div class="title">Exercise</div>

                        <div class="rating-stars">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                            </ul>
                        </div>

                        <div class="rating-word-value"><span class="default">Normal</span></div>
                    </div>
                    <div class="cat-item">
                        <div class="title">Punctuality</div>

                        <div class="rating-stars">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                                <li><span class="star">&nbsp;</span></li>
                            </ul>
                        </div>

                        <div class="rating-word-value"><span class="succes">Good</span></div>
                    </div>
                    <div class="cat-item">
                        <div class="title">Honesty</div>

                        <div class="rating-stars">
                            <ul class="list-unstyled">
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                                <li><span class="star active">&nbsp;</span></li>
                            </ul>
                        </div>

                        <div class="rating-word-value"><span class="super">Exellent</span></div>
                    </div>
                </div>

                <div class="comments-block">
                    <div class="title">Comments</div>
                    <div class="info-text">
                        <textarea class="info-text-area">There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important.</textarea>
                    </div>
                </div>

                <div class="btns-block">
                    <span class="rating-average">Overall rating - <span class="rating-value">5.35</span></span>
                    <a href="#" class="ic-btn ic-btn-blue">Submit a rating</a>
                </div>

            </div>
        </div>
    </div>

</section>